<div class="section-swiper hero-block js-swiper-single" data-loop="true">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="hero-block__wrapper hero-block_photo-wide">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-2-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-2-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-2-360.jpg">
							<img src="./img/dev/swiper-single-photo-2-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__title h2">Работа с&nbsp;Метапетс</div>
						<div class="hero-block__description">
							<p>Оснащение помогает ветеринарным специалистам работать с&nbsp;максимальной точностью, повышая качество и&nbsp;скорость лечения. Внедрение технологичных решений&nbsp;&mdash; это инвестиция в&nbsp;здоровье питомцев.</p>
						</div>
						<div class="hero-block__link"></div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="hero-block__wrapper hero-block_text-wide swiper-slide_reverse">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-2-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-2-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-2-360.jpg">
							<img src="./img/dev/swiper-single-photo-2-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__title h2">Работа с&nbsp;Метапетс</div>
						<div class="hero-block__description">
							<p>Оснащение помогает ветеринарным специалистам работать с&nbsp;максимальной точностью, повышая качество и&nbsp;скорость лечения. Внедрение технологичных решений&nbsp;&mdash; это инвестиция в&nbsp;здоровье питомцев.</p>
						</div>
						<div class="hero-block__link"></div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="hero-block__wrapper swiper-slide_reverse">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-2-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-2-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-2-360.jpg">
							<img src="./img/dev/swiper-single-photo-2-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__title h2">Создаём <strong>новые истории здоровья</strong> ваших питомцев</div>
						<div class="hero-block__description">
							<ul>
								<li>Врачи клиники НьюВетТех&nbsp;&mdash; команда экспертов, преданных своему делу</li>
							</ul>
						</div>
						<div class="hero-block__link">
							<a href="javascript:void(0)" class="btn btn_lg btn_white">Все направления работы</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>

</div>