<div class="section-swiper js-swiper-small-cards" data-loop="" data-autoplay="" data-pagination="">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="doctor-card">
					<a href="javascript:void(0)" class="doctor-card__link" aria-label="Подробнее о враче Лапшин Максим Николаевич">
						<div class="doctor-card__photo">
							<!-- alt="" для доступности. для SEO дублировать имя в alt смысла нет, т.к. рядом имя текстом -->
							<img src="./img/upload/person-8.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
						</div>
						<div class="doctor-card__text">
							<div class="doctor-card__name h5">Лапшин Максим Николаевич</div>
							<div class="doctor-card__position">Исполнительный директор клиники на&nbsp;Большой Серпуховской</div>
						</div>
					</a>
				</div>
			</div>
			<!-- 
			<div class="swiper-slide">
				<div class="doctor-card">
					<a href="javascript:void(0)" class="doctor-card__link" aria-label="Подробнее о враче Лапшин Максим Николаевич">
						<div class="doctor-card__photo">
							<img src="./img/upload/person-6.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
						</div>
						<div class="doctor-card__text">
							<div class="doctor-card__name h5">Меликова Юлия Николаевна</div>
							<div class="doctor-card__position">Исполнительный директор клиники на&nbsp;Введенского</div>
						</div>
					</a>
				</div>
			</div>
-->
			<div class="swiper-slide">
				<div class="doctor-card">
					<a href="javascript:void(0)" class="doctor-card__link" aria-label="Подробнее о враче Морозова Татьяна Викторовна">
						<div class="doctor-card__photo">
							<img src="./img/upload/person-5.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
						</div>
						<div class="doctor-card__text">
							<div class="doctor-card__name h5">Морозова Татьяна Викторовна</div>
							<div class="doctor-card__position">Главный врач клиники на&nbsp;Большой Серпуховской</div>
						</div>
					</a>
					<div class="doctor-card__button">
						<button type="button" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info" aria-label="Записаться к врачу Морозова Татьяна Викторовна">Записаться</button>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="doctor-card">
					<a href="javascript:void(0)" class="doctor-card__link" aria-label="Подробнее о враче Михайлов Илья Владимирович">
						<div class="doctor-card__photo">
							<img src="./img/upload/person-2.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
						</div>
						<div class="doctor-card__text">
							<div class="doctor-card__name h5">Михайлов Илья Владимирович</div>
							<div class="doctor-card__position">Руководитель хирургического отделения</div>
						</div>
					</a>
					<div class="doctor-card__button">
						<button type="button" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info" aria-label="Записаться к врачу Михайлов Илья Владимирович">Записаться</button>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="doctor-card">
					<a href="javascript:void(0)" class="doctor-card__link" aria-label="Подробнее о враче Немеш Виктория Николаевна">
						<div class="doctor-card__photo">
							<img src="./img/upload/person-7.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
						</div>
						<div class="doctor-card__text">
							<div class="doctor-card__name h5">Немеш Виктория Николаевна</div>
							<div class="doctor-card__position">Руководитель терапевтического отделения</div>
						</div>
					</a>
					<div class="doctor-card__button">
						<button type="button" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info" aria-label="Записаться к врачу Немеш Виктория Николаевна">Записаться</button>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="doctor-card">
					<a href="javascript:void(0)" class="doctor-card__link" aria-label="Подробнее о враче Корешков Артём Русланович">
						<div class="doctor-card__photo">
							<img src="./img/upload/person-1.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
						</div>
						<div class="doctor-card__text">
							<div class="doctor-card__name h5">Корешков Артём Русланович</div>
							<div class="doctor-card__position">Руководитель отделения визуальной диагностики</div>
						</div>
					</a>
					<div class="doctor-card__button">
						<button type="button" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info" aria-label="Записаться к врачу Корешков Артём Русланович">Записаться</button>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="doctor-card">
					<a href="./doctor.html" class="doctor-card__link" aria-label="Подробнее о враче Бобунова Ольга Дмитриевна">
						<div class="doctor-card__photo">
							<img src="./img/upload/person-3.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
						</div>
						<div class="doctor-card__text">
							<div class="doctor-card__name h5">Бобунова Ольга Дмитриевна</div>
							<div class="doctor-card__position">Руководитель ОАРиИТ и&nbsp;реанимации</div>
						</div>
					</a>
					<div class="doctor-card__button">
						<button type="button" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info" aria-label="Записаться к врачу Бобунова Ольга Дмитриевна">Записаться</button>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="doctor-card">
					<a href="javascript:void(0)" class="doctor-card__link" aria-label="Подробнее о враче Кибец Ольга Михайловна">
						<div class="doctor-card__photo">
							<img src="./img/upload/person-4.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
						</div>
						<div class="doctor-card__text">
							<div class="doctor-card__name h5">Кибец Ольга Михайловна</div>
							<div class="doctor-card__position">Руководитель клинико-диагностической лаборатории</div>
						</div>
					</a>
					<div class="doctor-card__button">
						<button type="button" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info" aria-label="Записаться к врачу Кибец Ольга Михайловн">Записаться</button>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>

	<div class="flex-center hidden">
		<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide-mobile">Посмотреть всех врачей</a>
	</div>

</div>