<div class="section-swiper js-swiper-single" data-loop="true" data-autoplay="5000">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="hero-block">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-3-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-3-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-3-360.jpg">
							<img src="./img/dev/swiper-single-photo-3-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__title h2">Команда врачей <strong>Ньюветтех</strong></div>
						<div class="hero-block__description">
							<p>Промо блок с&nbsp;информацией о&nbsp;команде НВТ, опыте и&nbsp;принципах работы, с&nbsp;отсылкой к&nbsp;ценностям бренда и&nbsp;используемым технологиям.
								Какой-то небольшой информационный текст для соискателей о&nbsp;возможностях построения карьеры в&nbsp;клинике со&nbsp;ссылкой на&nbsp;соответствующий блок в&nbsp;разделе &laquo;О&nbsp;НьюВетТех&raquo;</p>
						</div>
						<div class="hero-block__link">
							<button type="button" class="btn btn_lg btn_white" data-modal-show="modal-info" aria-label="Записаться в Ньюветтех">Записаться</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>