<div class="section-swiper swiper-persons js-swiper-small-cards" data-loop="" data-autoplay="">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="card-helper">
					<div class="card-helper__icon">
						<img src="./img/icons/metapets-helper.svg" width="109" height="88" alt="" loading="lazy">
					</div>
					<div class="card-helper__title">Умный поиск</div>
					<div class="card-helper__description"><strong>Не&nbsp;знаете, к&nbsp;кому записаться?</strong><br> Просто опишите симптомы или ситуацию, и&nbsp;я&nbsp;смогу порекомендовать специалиста.</div>
					<div class="card-helper__footer">
						<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Напишите мне</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<!-- alt="" для доступности. для SEO дублировать имя в alt смысла нет, т.к. рядом имя текстом -->
						<img src="./img/upload/person-8.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name h5">Лапшин Максим Николаевич</div>
						<div class="swiper-persons__position">Исполнительный директор клиники на&nbsp;Большой Серпуховской</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info">Записаться</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="./img/upload/person-6.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name h5">Меликова Юлия Николаевна</div>
						<div class="swiper-persons__position">Исполнительный директор клиники на&nbsp;Введенского</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info">Записаться</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="./img/upload/person-5.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name h5">Морозова Татьяна Викторовна</div>
						<div class="swiper-persons__position">Главный врач клиники на&nbsp;Большой Серпуховской</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info">Записаться</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="./img/upload/person-2.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name h5">Михайлов Илья Владимирович</div>
						<div class="swiper-persons__position">Руководитель хирургического отделения</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info">Записаться</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="./img/upload/person-7.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name h5">Немеш Виктория Николаевна</div>
						<div class="swiper-persons__position">Руководитель терапевтического отделения</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info">Записаться</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="./img/upload/person-1.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name h5">Корешков Артём Русланович</div>
						<div class="swiper-persons__position">Руководитель отделения визуальной диагностики</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info">Записаться</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="./img/upload/person-3.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name h5">Бобунова Ольга Дмитриевна</div>
						<div class="swiper-persons__position">Руководитель ОАРиИТ и&nbsp;реанимации</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info">Записаться</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="./img/upload/person-4.jpg" width="400" height="400" alt="" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name h5">Кибец Ольга Михайловна</div>
						<div class="swiper-persons__position">Руководитель клинико-диагностической лаборатории</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info">Записаться</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
<!-- 
	<div class="section-swiper__showall">
		<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide-mobile">Посмотреть всех врачей</a>
	</div>
-->
</div>