<div class="section-swiper swiper-persons js-swiper-small-cards">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="/img/dev/placeholder-man.png" width="400" height="400" alt="Макаров Иван Валерьевич" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name">Макаров Иван Валерьевич</div>
						<div class="swiper-persons__position">Заведующий отделением терапии</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Записаться</a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="/img/dev/placeholder-man.png" width="400" height="400" alt="Панкратова Татьяна Игоревна" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name">Панкратова Татьяна Игоревна</div>
						<div class="swiper-persons__position">Ведущий врач-куратор</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Записаться</a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="/img/dev/placeholder-man.png" width="400" height="400" alt="Семёнов Олег Александрович" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name">Семёнов Олег Александрович</div>
						<div class="swiper-persons__position">Врач-терапевт, эндокринолог</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Записаться</a>
						</div>
					</div>
				</div>
			</div>


			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="/img/dev/placeholder-man.png" width="400" height="400" alt="Иванов Иван Александрович" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name">Иванов Иван Александрович</div>
						<div class="swiper-persons__position">Главный уполномоченный по чесанию котов за ушком</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Записаться</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="/img/dev/placeholder-man.png" width="400" height="400" alt="Петрова Мария Ивановна" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name">Петрова Мария Ивановна</div>
						<div class="swiper-persons__position">Заведующий отделением терапии</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Записаться</a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="swiper-persons__wrapper">
					<div class="swiper-persons__photo">
						<img src="/img/dev/placeholder-man.png" width="400" height="400" alt="Петров Пётр Петрович" loading="lazy" decoding="async">
					</div>
					<div class="swiper-persons__text">
						<div class="swiper-persons__name">Петров Пётр Петрович</div>
						<div class="swiper-persons__position">Ведущий врач-куратор</div>
						<div class="swiper-persons__link">
							<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Записаться</a>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>