<div class="section-swiper swiper-single js-swiper-single" data-loop="true">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="swiper-single__wrapper">
					<div class="swiper-single__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-1-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-1-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-1-360.jpg">
							<img src="./img/dev/swiper-single-photo-1-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="swiper-single__text">
						<div class="swiper-single__title h2">Создаём <strong>новые истории здоровья</strong> ваших питомцев</div>
						<div class="swiper-single__description">
							<ul>
								<li>Врачи клиники НьюВетТех&nbsp;&mdash; команда экспертов, преданных своему делу</li>
								<li>Применяем современные методы диагностики и&nbsp;лечения</li>
								<li>Строго следуем принципам доказательной медицины</li>
							</ul>
						</div>
						<div class="swiper-single__link">
							<a href="javascript:void(0)" class="btn btn_lg btn_white">Все направления работы</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="swiper-single__wrapper swiper-slide_reverse">
					<div class="swiper-single__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-1-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-1-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-1-360.jpg">
							<img src="./img/dev/swiper-single-photo-1-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="swiper-single__text">
						<div class="swiper-single__title h2">Создаём <strong>новые истории здоровья</strong> ваших питомцев</div>
						<div class="swiper-single__description">
							<ul>
								<li>Врачи клиники НьюВетТех&nbsp;&mdash; команда экспертов, преданных своему делу</li>
							</ul>
						</div>
						<div class="swiper-single__link">
							<a href="javascript:void(0)" class="btn btn_lg btn_white">Все направления работы</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>

</div>