<div class="section-swiper hero-block js-swiper-single" data-loop="true" data-autoplay="3000">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="hero-block__wrapper">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-1-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-1-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-1-360.jpg">
							<img src="./img/dev/swiper-single-photo-1-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__title h2">Создаём <strong>новые истории здоровья</strong> ваших питомцев</div>
						<div class="hero-block__description">
							<ul>
								<li>Команда экспертов, преданных своему делу </li>
								<li>Доказательная медицина</li>
								<li>Собственный ИИ-ассистент &laquo;МетаПетс&raquo;</li>
							</ul>
						</div>
						<div class="hero-block__link">
							<a href="javascript:void(0)" class="btn btn_lg btn_white">Все направления работы</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="hero-block__wrapper hero-block_photo-wide hero-block_violet">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/hero-1-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/hero-1-768.jpg">
							<source srcset="./img/dev/hero-1-360.jpg">
							<img src="./img/dev/hero-1-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__great">Первый приём</div>
						<div class="hero-block__great-sub">врача любого направления &mdash; 100&nbsp;₽</div>
						<div class="hero-block__description">
							В&nbsp;честь открытия клиники. Сертификат действует <br><strong>до&nbsp;конца 2025&nbsp;г.</strong>
						</div>
						<div class="hero-block__link">
							<a href="javascript:void(0)" class="btn btn_lg btn_white">Скачать сертификат</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="hero-block__wrapper">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-3-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-3-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-3-360.jpg">
							<img src="./img/dev/swiper-single-photo-3-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__title h2">Забота&nbsp;&mdash; наш <strong>главный приоритет</strong></div>
						<div class="hero-block__description">
							<ul>
								<li>Атмосфера доверия, никаких &laquo;скрытых услуг&raquo;</li>
								<li>Комфортное ожидание без стресса, pet-friendly зоны</li>
								<li>Учёт всех нюансов здоровья питомца</li>
							</ul>
						</div>
						<div class="hero-block__link">
							<a href="javascript:void(0)" class="btn btn_lg btn_white">Записаться на&nbsp;приём</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="hero-block__wrapper">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-4-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-4-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-4-360.jpg">
							<img src="./img/dev/swiper-single-photo-4-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__title h2">Профессионально <strong>подходим к&nbsp;каждому</strong> случаю</div>
						<div class="hero-block__description">
							<ul>
								<li>Высокотехнологичное оборудование для эффективной диагностики и&nbsp;лечения</li>
								<li>Непрерывное обучение сотрудников</li>
								<li>Широкий спектр услуг: от&nbsp;вакцинации до&nbsp;сложных операций</li>
							</ul>
						</div>
						<div class="hero-block__link">
							<a href="#equipment" class="btn btn_lg btn_white">Оборудование и технологии</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>

</div>