<div class="section-swiper js-swiper-single" data-loop="true" data-autoplay="5000" data-pagination="1">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="hero-block hero-block_narrow">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-10-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-10-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-10-360.jpg">
							<img src="./img/dev/swiper-single-photo-10-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__title h2">Специальные протоколы для экзотов со&nbsp;<strong>скидкой 20%</strong></div>
						<div class="hero-block__description">
							КТ&nbsp;для кроликов, хорьков, грызунов и&nbsp;рептилий. Оценка зубочелюстной системы, среднего уха, грудной клетки, травм и&nbsp;новообразований
							<br>
							<br>
							<b>КТ&nbsp;одного отдела&nbsp;&mdash; 4800&nbsp;₽</b>
						</div>
						<div class="hero-block__links-wrapper">
							<div class="hero-block__link">
								<a href="#calculator" class="btn btn_lg btn_white">Рассчитать стоимость</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>