<div class="section-swiper hero-block js-swiper-single" data-loop="true">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="hero-block__wrapper hero-block_photo-wide">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-2-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-2-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-2-360.jpg">
							<img src="./img/dev/swiper-single-photo-2-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__title h2">Открытие клиники</div>
						<div class="hero-block__description">
							<p>Клиника на&nbsp;Большой Серпуховской открывает свои двери с&nbsp;1&nbsp;ноября для пациентов и&nbsp;их&nbsp;владельцев.</p>
							<p>В&nbsp;клинике&nbsp;&mdash; комфортные общественные зоны и&nbsp;оснащённые современным оборудованием кабинеты, стационар и&nbsp;операционные.</p>
						</div>
						<div class="hero-block__link"></div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="hero-block__wrapper hero-block_photo-wide">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-2-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-2-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-2-360.jpg">
							<img src="./img/dev/swiper-single-photo-2-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__title h2">Отделение онкологии</div>
						<div class="hero-block__description">
							<p>В&nbsp;ближайшее время мы&nbsp;планируем запуск профильной ветеринарной клиники, предоставляющей полный цикл услуг для пациентов с&nbsp;онкологическими заболеваниями.</p>
						</div>
						<div class="hero-block__link"></div>
					</div>
				</div>
			</div>

<!-- 			<div class="swiper-slide">
				<div class="hero-block__wrapper hero-block_text-wide">
					<div class="hero-block__photo">
						<picture>
							<source media="(min-width: 1025px)" srcset="./img/dev/swiper-single-photo-2-1280.jpg">
							<source media="(min-width: 431px)" srcset="./img/dev/swiper-single-photo-2-768.jpg">
							<source srcset="./img/dev/swiper-single-photo-2-360.jpg">
							<img src="./img/dev/swiper-single-photo-2-1280.jpg" width="" height="" alt="" loading="lazy" decoding="async">
						</picture>
					</div>
					<div class="hero-block__text">
						<div class="hero-block__title h2">Отделение онкологии</div>
						<div class="hero-block__description">
							<p>В&nbsp;ближайшее время мы&nbsp;планируем запуск профильной ветеринарной клиники, предоставляющей полный цикл услуг для пациентов с&nbsp;онкологическими заболеваниями.</p>
						</div>
						<div class="hero-block__link"></div>
					</div>
				</div>
			</div> -->

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>

</div>