<div class="section-swiper js-swiper-single" data-loop="" data-autoplay="">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="hero-block hero-block_cols">
					<div class="hero-block__col">
						<div class="pet">
							<div class="pet__photo">
								<picture>
									<source media="(min-width: 1025px)" srcset="./img/upload/pet.jpg">
									<source media="(min-width: 431px)" srcset="./img/upload/pet.jpg">
									<source srcset="./img/upload/pet.jpg">
									<img src="./img/upload/pet.jpg" width="" height="" alt="" loading="lazy" decoding="async">
								</picture>
							</div>
							<div class="pet__about">
								<div class="pet__name">Дружок</div>
								<div class="pet__note">Ризен эрделе шнауцер</div>
							</div>
						</div>
					</div>
					<div class="hero-block__col">
						<div class="hero-block__description">
							<p>Причина обращения была в&nbsp;том, что Дружок получил небольшую травму лапы, возможно, наступив на&nbsp;что-то острое во&nbsp;время прогулки. Хозяин был обеспокоен состоянием питомца и&nbsp;хотел получить профессиональную помощь.</p>
							<p>В&nbsp;клинике опытный ветеринар провёл осмотр и&nbsp;назначил рентген, чтобы точно определить причину хромоты. На&nbsp;снимке обнаружился небольшой перелом кости.</p>
							<p>Врач порекомендовал провести операцию для правильного сращивания костей и&nbsp;последующего восстановления лапы.</p>
						</div>
					</div>
					<div class="hero-block__col">
						<figure class="quote">
							<div class="quote__content">
								<blockquote>
									<p>Мы&nbsp;используем современные методы диагностики и&nbsp;лечения, чтобы обеспечить максимально эффективный результат.</p>
								</blockquote>
								<figcaption>
									<div class="quote__author">
										<p class="quote__name">Морозова<br>Татьяна Викторовна</p>
										<p class="quote__position">Главный врач клиники на&nbsp;Большой Серпуховской</p>
									</div>
								</figcaption>
							</div>
						</figure>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="hero-block hero-block_cols">
					<div class="hero-block__col">
						<div class="pet">
							<div class="pet__photo">
								<picture>
									<source media="(min-width: 1025px)" srcset="./img/upload/pet.jpg">
									<source media="(min-width: 431px)" srcset="./img/upload/pet.jpg">
									<source srcset="./img/upload/pet.jpg">
									<img src="./img/upload/pet.jpg" width="" height="" alt="" loading="lazy" decoding="async">
								</picture>
							</div>
							<div class="pet__about">
								<div class="pet__name">Барбос</div>
								<div class="pet__note">Ризен эрделе шнауцер</div>
							</div>
						</div>
					</div>
					<div class="hero-block__col">
						<div class="hero-block__description">
							<p>Причина обращения была в&nbsp;том, что Барбос получил небольшую травму лапы, возможно, наступив на&nbsp;что-то острое во&nbsp;время прогулки. Хозяин был обеспокоен состоянием питомца и&nbsp;хотел получить профессиональную помощь.</p>
							<p>В&nbsp;клинике опытный ветеринар провёл осмотр и&nbsp;назначил рентген, чтобы точно определить причину хромоты. На&nbsp;снимке обнаружился небольшой перелом кости.</p>
						</div>
					</div>
					<div class="hero-block__col">
						<figure class="quote">
							<div class="quote__content">
								<blockquote>
									<p>Мы&nbsp;используем современные методы диагностики и&nbsp;лечения, чтобы обеспечить максимально эффективный результат.</p>
								</blockquote>
								<figcaption>
									<div class="quote__author">
										<p class="quote__name">Морозова<br>Татьяна Викторовна</p>
										<p class="quote__position">Главный врач клиники на&nbsp;Большой Серпуховской</p>
									</div>
								</figcaption>
							</div>
						</figure>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>