<div class="section-swiper js-swiper-small-cards" data-loop="">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="service service_white-gray">
					<div class="service__label">Акция</div>
					<div class="service__body">
						<div class="service__great">15<span>%</span></div>
						<div class="service__title">к&nbsp;защите животного</div>
						<div class="service__description">скидка на&nbsp;вакцинацию собак и&nbsp;кошек</div>
					</div>
					<div class="service__footer">
						<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Записаться</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="service service_silver">
					<div class="service__label">Услуги</div>
					<div class="service__body">
						<div class="service__title">ТОП-5 ветеринарных услуг</div>
					</div>
					<div class="service__decor">
						<img src="./img/decoration-service-dog-cat.svg" width="246" height="140" alt="" loading="lazy">
					</div>
					<div class="service__footer">
						<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Подробнее</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="service service_silver">
					<div class="service__label">Услуги</div>
					<div class="service__body">
						<div class="service__title">Прививка от&nbsp;клещей</div>
					</div>
					<div class="service__decor">
						<img src="./img/decoration-service-dog-cat.svg" width="246" height="140" alt="" loading="lazy">
					</div>
					<div class="service__footer">
						<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Подробнее</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="card-helper">
					<div class="card-helper__icon">
						<img src="./img/icons/metapets-helper-wifi.svg" width="105" height="121" alt="" loading="lazy">
					</div>
					<div class="card-helper__title">Подобрать предложения для вас?</div>
					<div class="card-helper__footer">
						<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Напишите мне</a>
					</div>
				</div>
			</div>

			
			<div class="swiper-slide">
				<div class="service service_silver">
					<div class="service__label">Услуги</div>
					<div class="service__body">
						<div class="service__title">ТОП-5 ветеринарных услуг</div>
					</div>
					<div class="service__decor">
						<img src="./img/decoration-service-dog-cat.svg" width="246" height="140" alt="" loading="lazy">
					</div>
					<div class="service__footer">
						<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Подробнее</a>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>

</div>