<div class="section-swiper offers js-swiper-small-cards" data-loop="">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="offers__wrapper offers_white-gray">
					<div class="offers__label">Акция</div>
					<div class="offers__great">15<span>%</span></div>
					<div class="offers__title">к&nbsp;защите животного</div>
					<div class="offers__description">летняя скидка на&nbsp;вакцинацию собак и&nbsp;кошек</div>
					<div class="offers__link">
						<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Записаться</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="offers__wrapper offers_silver">
					<div class="offers__label">Услуги</div>
					<div class="offers__title">ТОП-5 ветеринарных услуг</div>
					<div class="offers__decor">
						<img src="./img/decoration-offers-dog-cat.svg" width="246" height="140" alt="" loading="lazy">
					</div>
					<div class="offers__link">
						<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Подробнее</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="offers__wrapper offers_silver">
					<div class="offers__label">Услуги</div>
					<div class="offers__title">Прививка от&nbsp;клещей</div>
					<div class="offers__decor">
						<img src="./img/decoration-offers-dog-cat.svg" width="246" height="140" alt="" loading="lazy">
					</div>
					<div class="offers__link">
						<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Подробнее</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="card-helper">
					<div class="card-helper__icon">
						<img src="./img/icons/metapets-helper-wifi.svg" width="105" height="121" alt="" loading="lazy" >
					</div>
					<div class="card-helper__title">Подобрать предложения для вас?</div>
					<div class="card-helper__link">
						<a href="javascript:void(0)" class="btn btn_md btn_white btn_wide">Напишите мне</a>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>

</div>