@use '../abstracts' as *;
@use '../base/typography-placeholders' as *;

.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 35px;
	font-size: rem(18);
	color: var(--color-black-50);

	&__item {
		display: flex;
		align-items: center;
		white-space: nowrap;

		&::after {
			content: '—';
			margin: 0 7px;
			font-size: rem(20);
		}

		&:last-child::after {
			content: none;
		}
	}

	&__link {
		text-underline-offset: 2px;
		white-space: nowrap;

		@extend %link-default;
	}
}
