@use '../abstracts' as *;

.btn {
	--btn-color: var(--form-control-color);
	--btn-bgr: transparent;
	height: var(--btn-height, 34px);
	padding: 8px 15px 6px;
	box-sizing: border-box;
	font-size: rem(15);
	font-weight: var(--font-weight-medium);
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--btn-color);
	background: var(--btn-bgr, transparent);
	border: 2px solid var(--form-control-color);
	border-radius: var(--border-radius);
	cursor: pointer;
	transition:
		color $transition-default,
		background $transition-default;
	// white-space: nowrap;
	user-select: none;

	// .btn_white
	&_white {
		--btn-bgr: var(--color-white);
	}

	// .btn_sm
	&_sm {
		--btn-height: 34px;
		font-size: rem(15);
	}

	// .btn_md
	&_md {
		--btn-height: 44px;

		@include clamp(font-size, 16, 18);
	}

	// .btn_lg
	&_lg {
		--btn-height: 50px;
		font-size: rem(18);

		@include resp-from(desktop) {
			font-size: rem(20);
		}
	}

	// .btn_wide
	&_wide {
		width: 100%;
		min-width: fit-content;

		@include clamp(padding-left, 6, 40);
		@include clamp(padding-right, 6, 40);
	}

	// .btn_wide-mobile
	&_wide-mobile {
		@extend .btn_wide;

		@include resp-from(md) {
			max-width: 50%;
		}
	}

	// .btn_wrap
	&_wrap {
		white-space: wrap;
	}

	// .btn_disabled
	&_disabled {
		color: var(--form-control-disabled-bd);
		border-color: var(--form-control-disabled-bd);
		background: var(--color-white);
		pointer-events: none;
	}

	// .btn_3d-tour
	&_3d-tour {
		--size: 52px;
		--gap: 11px;
		position: relative;

		@include resp-from(sm) {
			margin-left: calc(var(--size) + var(--gap));

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: calc((var(--size) + var(--gap)) * -1);
				transform: translateY(-50%);
				width: var(--size);
				height: var(--size);
				background: url('../img/icons/icon-3d.svg') no-repeat center / contain;
			}
		}
	}

	// .btn_metapets
	&_metapets {
		--form-control-color-hover-text: var(--color-primary);
		--form-control-color-hover: var(--color-secondary);
		gap: 10px;
		position: relative;

		&::before {
			content: '';
			display: block;
			width: 44px;
			height: calc(100% + 10px);
			background: $svg-metapets-helper no-repeat center / contain;
		}
	}

	// .btn_tab
	&_tab {
		min-height: 30px;
		font-size: rem(18);
		letter-spacing: 0.02em;
		border-radius: 30px;
		white-space: nowrap;
	}

	&.is-active {
		--btn-color: var(--form-control-color-hover-text);
		--btn-bgr: var(--form-control-color-hover);
	}

	@include resp-from(xm) {
		padding-right: 20px;
		padding-left: 20px;
	}

	@include flex-center(true);

	@include hover-media() {
		--btn-color: var(--form-control-color-hover-text);
		--btn-bgr: var(--form-control-color-hover);
	}

	@include hover-media-active() {
		--btn-color: var(--form-control-color);
		--btn-bgr: var(--form-control-color-secondary);
	}

	@include on-disabled {
		@extend .btn_disabled;
	}
}
