@use '../abstracts' as *;

.btn {
	height: var(--btn-height, 34px);
	padding: 8px 15px 6px;
	box-sizing: border-box;
	font-weight: var(--font-weight-medium);
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--form-control-color);
	background: var(--btn-bgr, transparent);
	// background: var(--color-white);
	border: 2px solid var(--form-control-color);
	border-radius: var(--border-radius);
	cursor: pointer;
	transition:
		color $transition-default,
		background $transition-default;
	white-space: nowrap;
	user-select: none;

	// .btn_white
	&_white {
		--btn-bgr: var(--color-white);
	}

	// .btn_sm
	&_sm {
		--btn-height: 34px;

		@include clamp(font-size, 15, 15);
	}

	// .btn_md
	&_md {
		--btn-height: 44px;

		@include clamp(font-size, 16, 18);
	}

	// .btn_lg
	&_lg {
		--btn-height: 50px;

		@include clamp(font-size, 18, 20);
	}

	// .btn_wide
	&_wide {
		width: 100%;
		min-width: fit-content;

		@include clamp(padding-left, 6, 40);
		@include clamp(padding-right, 6, 40);
	}

	// .btn_wide-mobile
	&_wide-mobile {
		@extend .btn_wide;

		@include resp-from(md) {
			max-width: 50%;
		}
	}

	// .btn_wrap
	&_wrap {
		white-space: wrap;
	}

	// .btn_disabled
	&_disabled {
		color: var(--form-control-disabled-bd);
		border-color: var(--form-control-disabled-bd);
		background: var(--color-white);
		pointer-events: none;
	}

	// .btn_3d-tour
	&_3d-tour {
		--size: 52px;
		--gap: 11px;
		position: relative;

		@include resp-from(sm) {
			margin-left: calc(var(--size) + var(--gap));

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: calc((var(--size) + var(--gap)) * -1);
				transform: translateY(-50%);
				width: var(--size);
				height: var(--size);
				background: url('/img/icons/icon-3d.svg') no-repeat center / contain;
			}
		}
	}

	@include resp-from(xm) {
		padding-right: 20px;
		padding-left: 20px;
	}

	@include flex-center(true);
	@include clamp(font-size, 15, 15);

	@include hover-media() {
		color: var(--color-white);
		background: var(--form-control-color);
	}

	@include hover-media-active() {
		color: var(--form-control-color);
		background: var(--form-control-color-secondary);
	}

	@include on-disabled {
		@extend .btn_disabled;
	}
}
