@use '../abstracts' as *;

.btn {
	--btn-color: var(--form-control-color);
	--btn-bgr: transparent;
	height: var(--btn-height, 34px);
	padding: 8px 15px 6px;
	box-sizing: border-box;
	font-size: rem(15);
	font-weight: var(--font-weight-medium);
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--btn-color);
	background: var(--btn-bgr, transparent);
	border: 2px solid var(--form-control-color);
	border-radius: var(--border-radius);
	cursor: pointer;
	transition:
		color $transition-default,
		background $transition-default;
	// white-space: nowrap;
	user-select: none;

	// .btn_white
	&_white {
		--btn-bgr: var(--color-white);
	}

	// .btn_sm
	&_sm {
		--btn-height: 34px;
		font-size: rem(15);
	}

	// .btn_md
	&_md {
		--btn-height: 44px;

		@include clamp(font-size, 16, 18);
	}

	// .btn_header
	&_header {
		@include resp-range(xs, desktop) {
			--btn-height: 44px;
		}

		@include resp-range(sm, desktop) {
			font-size: rem(18);
		}
	}

	// .btn_lg
	&_lg {
		--btn-height: 50px;
		font-size: rem(18);

		@include resp-from(desktop) {
			font-size: rem(20);
		}
	}

	// .btn_wide
	&_wide {
		width: 100%;
		min-width: fit-content;

		@include clamp(padding-left, 6, 40);
		@include clamp(padding-right, 6, 40);
	}

	// .btn_wide-mobile
	&_wide-mobile {
		@extend .btn_wide;

		@include resp-from(md) {
			max-width: 50%;
		}
	}

	// .btn_wrap
	&_wrap {
		white-space: wrap;
	}

	// .btn_disabled
	&_disabled {
		color: var(--form-control-disabled-bd);
		border-color: var(--form-control-disabled-bd);
		background: var(--color-white);
		pointer-events: none;
	}

	// .btn_icon
	&_icon {
		position: relative;

		&::before {
			content: '';
			display: block;
			width: var(--size, 44px);
			height: var(--size, 44px);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}

	// .btn_3d-tour
	&_3d-tour {
		--size: 52px;
		--gap: 11px;

		@include resp-from(sm) {
			margin-left: calc(var(--size) + var(--gap));

			&::before {
				position: absolute;
				top: 50%;
				left: calc((var(--size) + var(--gap)) * -1);
				transform: translateY(-50%);
				background-image: url('../img/icons/icon-3d.svg');
			}
		}
	}

	// .btn_metapets
	&_metapets {
		--size: 44px;
		--form-control-color-hover-text: var(--color-primary);
		--form-control-color-hover: var(--color-secondary);
		gap: 7px;
		white-space: nowrap;

		&::before {
			height: calc(100% + 10px);
			background-image: $svg-metapets-helper;
		}

		@include resp-from(md) {
			gap: 10px;
		}
	}

	// .btn_tab
	&_tab {
		min-height: 30px;
		font-size: rem(18);
		letter-spacing: 0.02em;
		border-radius: 30px;
		white-space: nowrap;
	}

	&.is-active {
		--btn-color: var(--form-control-color-hover-text);
		--btn-bgr: var(--form-control-color-hover);
	}

	// .btn_close
	&_close {
		--color: var(--color-black);
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 15px;
		right: 17px;
		z-index: 10;
		width: 24px;
		height: 24px;
		min-height: auto;
		padding: 0;
		background-color: transparent;
		border: 0;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 2px;
			height: 26px;
			background-color: var(--color);
			transition: background-color $transition-default;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		@include on-hover {
			&::before,
			&::after {
				--color: var(--color-primary);
			}
		}
	}

	// .btn_close-modal
	&_close-modal {
		position: absolute;
		top: var(--modal-padding-y);
		right: calc(var(--modal-padding-x) - 5px);

		@include resp-to(md) {
			&::before,
			&::after {
				height: 25px;
			}
		}
	}

	@include print {
		display: none;
	}

	@include resp-from(xm) {
		padding-right: 20px;
		padding-left: 20px;
	}

	@include flex-center(true);

	@include hover-media() {
		--btn-color: var(--form-control-color-hover-text);
		--btn-bgr: var(--form-control-color-hover);
	}

	@include hover-media-active() {
		--btn-color: var(--form-control-color);
		--btn-bgr: var(--form-control-color-secondary);
	}

	@include on-disabled {
		@extend .btn_disabled;
	}
}
