@use '../abstracts' as *;

.c-popup {
	--cookie-position: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	position: fixed;
	right: var(--cookie-position);
	bottom: var(--cookie-position);
	left: var(--cookie-position);
	transform: translateY(100vh);
	z-index: -1;
	width: min(calc(100% - var(--cookie-position) * 2), 550px);
	padding: 32px;
	line-height: 1.3;
	background: var(--color-white-gray);
	border-radius: 15px;
	box-shadow: 0 4px 132px 0 rgb(54 45 21 / 20%);
	transition:
		transform 0.4s ease,
		opacity 0.4s ease;
	opacity: 0;
	// backdrop-filter: blur(25px);

	&.is-visible {
		transform: translateY(0);
		z-index: 1000;
		opacity: 1;
	}

	@include resp-to(lg) {
		hyphens: auto;
	}
}
