@use '../abstracts' as *;

.expandible-text-block {
}

.text-block {
	position: relative;
	max-height: 650px;
	overflow: hidden;
	transition: all $transition-default;
	mask-image: linear-gradient(to bottom, black 70%, transparent 100%);

	&.is-expanded {
		max-height: none;
		mask-image: none;
	}
}
