/* stylelint-disable selector-class-pattern */
@use '../abstracts' as *;

.f-section {
	--section-bgr: var(--color-white-gray);
	--btn-bgr: var(--section-bgr);
	display: flex;
	flex-direction: column;
	gap: 25px;
	position: relative;
	padding: 35px 25px;
	overflow: hidden;
	background: var(--section-bgr);
	border-radius: 30px;
	margin-bottom: 60px;
	// .f-section__col
	&__col {
		display: flex;
		flex-direction: column;
		gap: 25px;
		z-index: 1;
		transition: all $transition-default;
		// .f-section__col_left
		&_left {
		}
		// .f-section__col_right
		&_right {
		}

		@include resp-from(md) {
			gap: 30px;
		}

		@include resp-from(lg) {
			gap: 40px;
		}
	}
	// .f-section__header
	&__header {
		display: flex;
		justify-content: center;
		gap: 10px;

		svg {
			max-width: 275px;

			@include resp-from(md) {
				max-width: 416px;
			}
		}

		@include resp-from(lg) {
			justify-content: flex-start;
		}
	}
	// .f-section__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: 18px;

		// .f-section__body_left
		&_left {
		}

		& > strong,
		& > b {
			display: block;
			font-weight: var(--font-weight-bold);
			color: var(--color-primary);

			@include clamp(font-size, 16, 30);
		}

		ol,
		ul {
			margin: 0;

			li {
				line-height: 1.3;

				&:not(:last-child) {
					margin-bottom: 8px;
				}

				@include clamp(font-size, 16, 18);
			}
		}

		ul {
			padding-left: 23px;

			li {
				&::marker {
					font-size: 24px;
				}
			}
		}
	}
	// .f-section__footer
	&__footer {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 10px;
		margin-top: auto;

		@include resp-from(lg) {
			justify-content: flex-start;
		}
	}
	// .f-section__icon (svg use)
	// &__icon {
	// 	margin-bottom: -4px;
	// }
	// .f-section__bg
	&__bg {
	}

	// .f-section_bg-center
	&_bg-center {
		.f-section__col {
			&_left {
				@include resp-from(lg) {
					min-width: 316px;
					max-width: 360px;
				}

				@include resp-from(xl) {
					max-width: 416px;
				}
			}

			&_right {
				@include resp-from(lg) {
					width: 33%;
					min-width: 335px;
					max-width: 375px;
				}
			}
		}

		.f-section__body_left {
			@include resp-from(lg) {
				padding-right: 18%;
			}
		}

		.f-section__bg {
			align-self: center;
			position: relative;
			bottom: -35px;
			max-width: 345px;
			mix-blend-mode: darken;

			@include resp-from(lg) {
				align-self: auto;
				position: absolute;
				bottom: 0;
				left: calc(50% - 70px);
				transform: translateX(-50%);
				width: 38%;
				max-width: 485px;
			}
		}
	}

	@include resp-from(md) {
		gap: 30px;
		padding: 35px;
	}

	@include resp-from(lg) {
		flex-direction: row;
		justify-content: space-between;
		gap: 35px;
		padding: 50px 45px;
	}
}
