@use '../abstracts' as *;

// https://moderncss.dev/pure-css-custom-checkbox-style/
// https://codepen.io/shshaw/pen/zYKJGgG

input[type='radio'],
input[type='checkbox'] {
	--color-bgr: var(--form-control-color-secondary);
	--color-border: var(--form-control-color-secondary);
	display: grid;
	width: 20px;
	height: 20px;

	/* Not removed via appearance */
	margin: 0;
	font: inherit;

	/* For iOS < 15 */
	background-color: var(--color-bgr);
	border: 1px solid var(--color-border);
	cursor: pointer;
	transition:
		background-color $transition-default,
		border-color $transition-default;

	/* Remove most all native input styles */
	appearance: none;
	place-content: center;
}

input[type='checkbox'] {
	border-radius: var(--border-radius-small);

	&::before {
		--color-bgr: var(--form-control-color);
		content: '';
		transform: scale(0);
		width: 18px;
		height: 18px;
		transform-origin: center;
	}

	&:checked {
		--color-bgr: var(--form-control-color);
		--color-border: var(--form-control-color);

		&::before {
			transform: scale(1);
			border-color: transparent;
			background: transparent var(--svg-checkbox) center / 15px 10px no-repeat;
		}

		@include on-disabled {
			--color-bgr: var(--form-control-disabled-bg);
			--color-border: var(--form-control-disabled-bd);
		}
	}

	@include hover-media() {
		--color-bgr: var(--form-control-color);
		--color-border: var(--form-control-color);
	}

	@include on-disabled {
		--color-bgr: var(--form-control-disabled-bg);
		--color-border: var(--form-control-disabled-bd);
	}
}

input[type='radio'] {
	border: 2px solid var(--form-control-color);
	border-radius: var(--border-radius-circle);

	&::before {
		content: '';
		width: 12px;
		height: 12px;
		background-color: var(--form-control-color-secondary);
		border-radius: var(--border-radius-circle);
		box-shadow: 0 0 0 2px var(--color-white);
		transition: background-color $transition-default;
	}

	&:checked {
		border-color: var(--form-control-color);

		&::before {
			background-color: var(--form-control-color);
		}

		@include on-disabled {
			border-color: var(--form-control-disabled-bd);

			&::before {
				background-color: var(--form-control-disabled-bg);
			}
		}
	}

	@include hover-media() {
		&::before {
			background-color: var(--form-control-color);
		}
	}
}

input {
	--input-text-height: 44px;
	height: var(--input-text-height, 44px);
	padding: 9px 17px 6px;
}

textarea {
	padding: 9px 17px 6px;
	resize: vertical;
}

input,
select,
textarea {
	--color-bgr-text: var(--color-white);
	--color-border: var(--form-control-color);
	font-weight: var(--font-weight-normal);
	background: var(--color-bgr-text);
	border: 2px solid var(--color-border);
	border-radius: var(--border-radius);

	&:-webkit-autofill {
		box-shadow: inset 0 0 0 50px var(--color-bgr-text);
	}

	&::placeholder {
		font-weight: var(--font-weight-normal);
		color: var(--color-black);
	}

	@include on-disabled {
		--color-bgr-text: var(--form-control-disabled-bg);
		--color-border: var(--form-control-disabled-bd);
		color: var(--color-border);
		// background-color: var(--form-control-disabled-bg);
		// border-color: var(--form-control-disabled-bd);

		&::placeholder {
			color: var(--color-black-50);
		}
	}

	// &:focus {
	// 	outline: none;
	// 	border-color: var(--color-border) !important;
	// }
}

textarea:not([class]) {
	min-height: 80px;
}

fieldset {
	padding: 0;
	border: 0;
}

.is-error {
	--color-bgr: var(--color-red) !important;
	--color-border: var(--color-red) !important;
}
