@use '../abstracts' as *;

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;

	// .form_grid
	&_grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px;

		@include resp-from(md) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	// .form_modal
	&_modal {
		align-items: flex-end;
		gap: 12px;
	}

	// .form__label
	&__label {
		display: flex;
		flex-direction: column;
		gap: 10px;

		// .form__label_agreement
		&_agreement {
			flex-direction: row;
			align-items: center;
			font-size: rem(12);
		}
	}

	// .form__fieldgroup
	&__fieldgroup {
		min-width: 0;

		// .form__fieldgroup_full
		&_full {
			grid-column: auto;

			@include resp-from(md) {
				grid-column: 1 / -1;
			}
		}
	}

	&.is-hidden {
		justify-content: center;
		height: var(--form-height);

		> :not(div) {
			display: none;
		}
	}
}

.submit-status {
	width: 100%;
	// grid-column: 1 / -1; form больше не grid
	font-weight: var(--font-weight-medium);
	text-align: center;

	// .submit-status_success
	&_success {
		color: var(--color-success);
	}

	// .submit-status_error
	&_error {
		color: var(--color-error);
	}
}
