@use '../abstracts' as *;

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;

	// .form_grid
	&_grid {
		display: grid;
	}

	// .form_modal
	&_modal {
		align-items: flex-end;
		gap: 12px;
	}

	// .form__label
	&__label {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: rem(12);
	}

	// .form__fieldgroup
	// &__fieldgroup {
	// }
}

.submit-status {
	grid-column: 1 / -1;
	font-weight: var(--font-weight-medium);
	text-align: center;

	// .submit-status_success
	&_success {
		color: var(--color-success);
	}

	// .submit-status_error
	&_error {
		color: var(--color-error);
	}
}
