/* stylelint-disable declaration-block-no-duplicate-properties */
@use '../abstracts' as *;

.modal {
	--modal-width: 730px;
	--modal-height: auto;
	--modal-padding-y: 24px;
	--modal-padding-x: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
	z-index: -1;
	width: min(100%, var(--modal-width));
	height: min(100%, var(--modal-height));
	max-width: var(--modal-width);
	max-height: 100vh;
	max-height: 100dvh;
	overflow: hidden;
	background: var(--color-white-gray);
	border-radius: 15px;
	box-shadow: 0 4px 132px 0 rgb(54 45 21 / 20%);
	opacity: 0;

	&.is-active {
		z-index: 10;
		opacity: 1;
	}

	// .modal__wrapper
	&__wrapper {
		width: 100%;
		height: 100%;
		padding: var(--modal-padding-y) var(--modal-padding-x);
		overflow: hidden auto;
		overscroll-behavior: none;
	}

	// .modal__head
	&__head {
		display: flex;
		align-items: center;
		margin: 0 40px 32px 0;
		font-size: rem(20);
		font-weight: var(--font-weight-bold);
		line-height: 1;
		letter-spacing: -0.52px;

		// svg {
		// 	flex: 0 0 24px;
		// 	width: 24px;
		// 	height: 24px;
		// 	margin-right: 8px;
		// }

		@include resp-from(md) {
			font-size: rem(26);
		}
	}

	// .modal__close
	&__close {
		position: relative;

		.btn {
			position: relative;
			top: auto;
			right: auto;
		}
	}

	// .modal__body
	&__body {
		iframe {
			@include resp-to(md) {
				width: 100%;
			}
		}

		& > div {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .modal__form
	// &__form {
	// 	margin-bottom: 14px;

	// 	label > input {
	// 		margin-top: 7px;
	// 	}

	// 	textarea {
	// 		resize: none;
	// 	}
	// }

	// .modal_slim
	&_slim {
		--modal-width: 500px;
		--modal-padding-y: 32px;
		--modal-padding-x: 32px;
	}

	@include resp-from(md) {
		max-height: 90vh;
		max-height: 90dvh;
	}
}

// black overlay
.overlay {
	&::before {
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100vw;
		height: 100vh;
		background-color: rgb(51 51 51 / 50%);
		// transition:
		// 	opacity $transition-default,
		// 	z-index $transition-default;
		opacity: 0;
	}

	&.is-active {
		&::before {
			z-index: 10;
			transition: opacity $transition-default;
			opacity: 1;
		}
	}
}

.modal-contacts {
	position: relative;
	margin-bottom: 18px;

	// .modal-contacts__label
	&__label {
		margin-bottom: 5px;
		font-size: rem(14);
		font-weight: var(--font-weight-medium);
		line-height: 1.3;
		text-transform: uppercase;
	}

	// .modal-contacts__phone
	&__phone {
		--color-link: var(--color-primary);
		font-size: rem(22);
		font-weight: var(--font-weight-medium);
		line-height: 1.4;

		// .modal-contacts__phone_emergency
		&_emergency {
			--color-link: var(--color-red);
			--color-link-hover: var(--color-red);
		}
	}

	// .modal-contacts__icon
	&__icon {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		svg {
			--icon-background-color: var(--color-primary);
			width: 65px;
			height: 65px;
		}
	}
}

.modal-form {
	// .modal-form__label
	&__label {
		margin-bottom: 18px;
		font-size: rem(14);
		line-height: 1.1;
	}
}

.modal-addresses {
}

.modal-footer {
	justify-content: flex-start;
	margin-bottom: 0;

	.link-svg-round {
		--size: 34px;
	}
}
