@use '../abstracts' as *;

.quick-search {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-bottom: 45px;

	// .quick-search__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;

		svg {
			position: absolute;
			left: 20px;
			z-index: 1;
			width: 26px;
			height: 22px;
			color: var(--color-primary);
			fill: none;
		}

		@include resp-from(lg) {
			max-width: 500px;
		}
	}

	// .quick-search__field
	&__field {
		width: 100%;
		padding-left: 57px;
	}

	// .quick-search__no-results
	&__no-results {
		&.is-hidden {
			display: none;
		}
	}

	@include resp-from(lg) {
		justify-content: start;
	}
}
