@use '../abstracts' as *;

.sitemap-container {
	--offset: 20px;

	ul {
		li {
			margin-bottom: 10px;

			ul {
				margin: 5px 0;
				padding-left: var(--offset);
				font-size: rem(18);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.is-minimized {
			max-height: 0;
			margin: 0;
			overflow: hidden;
			opacity: 1;
			visibility: visible;
		}

		&.sitemap-level-0 {
			font-weight: var(--font-weight-medium);

			& > li {
				margin-bottom: 20px;
			}
		}
	}
}

.sitemap-toggler {
	margin: 20px 0 0 var(--offset);
}
