<div class="modal modal_slim" data-modal data-id="modal-contact-us">
	<div class="modal__wrapper scrollblock">
		<button class="btn btn_close btn_close-modal" data-modal-close aria-label="Закрыть"></button>
		<div class="modal__head">Связь с&nbsp;нами</div>
		<div class="modal__body">

			<div>
				<div class="modal-contacts">
					<div class="modal-contacts__label">Экстренная помощь</div>
					<div class="modal-contacts__phone modal-contacts__phone_emergency">
						<a href="tel:+74992888036" aria-label="Позвонить по номеру +7 499 288 80 36">+7&nbsp;(499)&nbsp;288-80-36</a>
					</div>
					<div class="modal-contacts__icon">
						<svg aria-hidden="true" viewBox="0 0 54 54">
							<use href="#icon-all-day"></use>
						</svg>
					</div>
				</div>

				<div class="modal-contacts">
					<div class="modal-contacts__label">Единая справочная</div>
					<div class="modal-contacts__phone">
						<a href="tel:+74992888036" aria-label="Позвонить по номеру +7 499 288 80 36">+7&nbsp;(499)&nbsp;288-80-36</a>
					</div>
				</div>
			</div>

			<div class="modal-form">
				<div class="modal-form__label">Закажите звонок, и&nbsp;мы&nbsp;перезвоним вам в&nbsp;течение 15&nbsp;минут</div>
				<form action="" class="form form_modal" data-enter-submit="false" method="post">
					<input class="w-full" name="callback_name" type="text" placeholder="Ваше имя" aria-label="Ваше имя" autocomplete="name" data-required>
					<input class="w-full" name="callback_tel" type="tel" placeholder="Ваш телефон" aria-label="Ваш телефон" autocomplete="tel" data-pattern-type="phone" data-required>
					<label class="form__label">
						<input type="checkbox" name="agreement" data-required>
						<span>Соглашаюсь с&nbsp;политикой <a href="./policy.html" target="_blank">конфиденциальности и&nbsp;обработки данных</a></span>
					</label>
					<button type="submit" class="btn btn_sm">Заказать звонок</button>
				</form>
			</div>

			<div>
				<button type="button" title="Открыть чат Метапетс" class="btn btn_md btn_wide js-metapets">Записаться на&nbsp;приём</button>
			</div>

			<div class="modal-addresses">
				<ul class="addresses addresses_footer">
					<li class="addresses__item">
						<span><strong>Клиника на Большой Серпуховской</strong></span>
						<div class="addresses__wrapper">
							<address>
								<p>Москва, ул. Большая Серпуховская, 62к2</p>
								<p class="addresses__contacts">
									<a href="tel:+74992888036" aria-label="Позвонить по номеру +7 499 288 80 36">+7&nbsp;(499)&nbsp;288-80-36</a>
								</p>
							</address>
						</div>
					</li>
					<li class="addresses__item">
						<span><strong>Клиника на Введенского</strong></span>
						<div class="addresses__wrapper">
							<address>
								<p>Москва, ул. Введенского, 24Б</p>
								<p class="addresses__contacts">
									<a href="tel:+74992888036" aria-label="Позвонить по номеру +7 499 288 80 36">+7&nbsp;(499)&nbsp;288-80-36</a>
								</p>
							</address>
						</div>
					</li>
				</ul>
			</div>

			<div class="modal-footer">
				<div class="footer-links-svg">
					<a href="https://api.whatsapp.com/send?phone=79099588036" class="link-svg-round" target="_blank" rel="noopener nofollow" aria-label="Мы в Whatsapp">
						<svg aria-hidden="true" viewBox="0 0 34 34">
							<use href="#icon-wsapp"></use>
						</svg>
					</a>
					<a href="mailto:xxx@xxx.ru" class="link-svg-round" target="_blank" rel="noopener nofollow" aria-label="Написать письмо на xxx@xxx.ru">
						<svg aria-hidden="true" viewBox="0 0 34 34">
							<use href="#icon-mail"></use>
						</svg>
					</a>
					<a href="https://t.me/NewVetTechnvt" class="link-svg-round" target="_blank" rel="noopener nofollow" aria-label="Мы в Телеграмме">
						<svg aria-hidden="true" viewBox="0 0 34 34">
							<use href="#icon-tg"></use>
						</svg>
					</a>
					<a href="https://vk.com/newvettech" class="link-svg-round" target="_blank" rel="noopener nofollow" aria-label="Мы во Вконтакте">
						<svg aria-hidden="true" viewBox="0 0 34 34">
							<use href="#icon-vk"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>