<div class="modal modal_slim" data-modal data-id="modal-info">
	<button class="btn btn_close btn_close-modal" data-modal-close aria-label="Закрыть"></button>
	<div class="modal__head">
		Привет!
	</div>
	<div class="modal__body">
		Открытие нашей клиники запланировано в&nbsp;ноябре, и&nbsp;именно с&nbsp;этого месяца для вас будет доступна запись на&nbsp;приём. <br><br>По&nbsp;всем вопросам вы&nbsp;можете позвонить уже сегодня нашему администратору: <a href="tel:+74992888036" aria-label="Позвонить по номеру +7 499 288 80 36">+7&nbsp;(499)&nbsp;288-80-36</a>
	</div>
</div>