<div class="modal" data-modal data-id="modal-form">
	<div class="modal__wrapper">
		<button class="btn btn_close btn_close-modal" data-modal-close aria-label="Закрыть"></button>
		<div class="modal__head">
			Присоединяйся к&nbsp;нам!
		</div>
		<div class="modal__body">
			<script src="https://forms.yandex.ru/_static/embed.js"></script>
			<iframe src="https://forms.yandex.ru/cloud/68e28e86f47e73b9de78e301?iframe=1" frameborder="0" name="ya-form-68e28e86f47e73b9de78e301" width="650"></iframe>
		</div>
	</div>
</div>