<div class="accordion accordion-circle js-accordion js-accordion-single">
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-1" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-1">
				ИИ-ассистент
			</button>
		</div>
		<div id="accordion-panel-1" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-1">
			<div>
				<p>Собственный ИИ-ассистент &laquo;МетаПетс&raquo;, меняющий подход к&nbsp;лечению животных. Интеллектуальный помощник для владельцев питомцев и&nbsp;врачей.</p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-2" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-2">
				Новейшие методы лечения
			</button>
		</div>
		<div id="accordion-panel-2" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-2">
			<div>
				<p>Мы&nbsp;следим за&nbsp;трендами в&nbsp;ветеринарии и&nbsp;используем самые современные протоколы лечения.</p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-3" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-3">
				Собственная лаборатория
			</button>
		</div>
		<div id="accordion-panel-3" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-3">
			<div>
				<p>Собственная клинико-диагностическая лаборатория позволяет нам проводить анализы в&nbsp;режиме реального времени и&nbsp;сразу приступать к&nbsp;лечению, основываясь на&nbsp;точных данных.</p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-4" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-4">
				Реанимация и&nbsp;стационар
			</button>
		</div>
		<div id="accordion-panel-4" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-4">
			<div>
				<p>Есть отделение реанимации и&nbsp;интенсивный терапии, а&nbsp;также комфортный стационар, чтобы питомцы могли получать полный цикл лечения и&nbsp;круглосуточный уход.</p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-5" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-5">
				Профилактические программы
			</button>
		</div>
		<div id="accordion-panel-5" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-5">
			<div>
				<p>Профилактика заболеваний всегда лучше их&nbsp;лечения. Достаточно проходить чекап два раза в&nbsp;год, чтобы подарить своему питомцу здоровье и&nbsp;долголетие.</p>
				<p><a href="javascript:void(0)">Посмотреть программы</a></p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-6" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-6">
				Отдел заботы и&nbsp;сопровождения
			</button>
		</div>
		<div id="accordion-panel-6" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-6">
			<div>
				<p>Мы&nbsp;сопровождаем вас на&nbsp;всех этапах: от&nbsp;удобной записи на&nbsp;приём и&nbsp;напоминаний о&nbsp;визитах до&nbsp;подробных консультаций после лечения.</p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-7" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-7">
				Высокоточное оборудование
			</button>
		</div>
		<div id="accordion-panel-7" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-7">
			<div>
				<p>Диагностика и&nbsp;лечение проводятся на&nbsp;современном оборудовании. Это позволяет выявлять болезни на&nbsp;ранних стадиях и&nbsp;подбирать наиболее эффективные схемы лечения.</p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-8" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-8">
				Экстренная помощь 24/7
			</button>
		</div>
		<div id="accordion-panel-8" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-8">
			<div>
				<p>Мы&nbsp;всегда рядом, когда это особенно важно. Наша клиника работает круглосуточно, чтобы в&nbsp;любой момент оказать профессиональную и&nbsp;оперативную помощь вашему питомцу.</p>
			</div>
		</div>
	</div>

	<div class="accordion-circle__center">
		<img src="./img/dev/accordion-dog.jpg" width="380" height="380" alt="" loading="lazy" decoding="async">
	</div>
</div>