<div class="accordion accordion-circle js-accordion js-accordion-single">
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-1" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-1">
				ИИ-ветеринар
			</button>
		</div>
		<div id="accordion-panel-1" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-1">
			<div>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam earum odio voluptatibus, molestias molestiae quibusdam quod nisi nihil facilis ipsum impedit, possimus quisquam laborum ad distinctio alias cumque odit ex!</p>
				<p><a href="javascript:void(0)">Посмотреть программы</a></p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-2" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-2">
				Новейшие методы лечения
			</button>
		</div>
		<div id="accordion-panel-2" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-2">
			<div>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero cum voluptatem id cupiditate! Iure earum itaque ratione voluptatum libero, consequatur ea numquam explicabo voluptas. Repellendus vitae nesciunt non aliquid ad, autem itaque laudantium, officiis impedit perferendis fugit modi beatae facilis!</p>
				<p><a href="javascript:void(0)">Посмотреть программы</a></p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-3" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-3">
				Образовательный центр
			</button>
		</div>
		<div id="accordion-panel-3" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-3">
			<div>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores odit explicabo ullam recusandae vitae dolorem eligendi commodi, temporibus ad molestiae hic dolore dignissimos repellat, facere rerum. Nam, fuga. Expedita itaque, tempora at nihil architecto culpa tenetur sint asperiores soluta rem corrupti voluptatum vel sunt, autem provident atque, rerum nisi voluptatem.</p>
				<p><a href="javascript:void(0)">Посмотреть программы</a></p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-4" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-4">
				Реанимация и интенсивная терапия
			</button>
		</div>
		<div id="accordion-panel-4" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-4">
			<div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio repellendus vitae eveniet debitis enim obcaecati similique id, corrupti explicabo perferendis eius blanditiis totam magnam aut.</p>
				<p><a href="javascript:void(0)">Посмотреть программы</a></p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-5" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-5">
				Профилактические программы
			</button>
		</div>
		<div id="accordion-panel-5" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-5">
			<div>
				<p>Профилактика заболеваний всегда лучше их&nbsp;лечения. Достаточно проходить чекап два раза в&nbsp;год, чтобы подарить своему питомцу здоровье и&nbsp;долголетие.</p>
				<p><a href="javascript:void(0)">Посмотреть программы</a></p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-6" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-6">
				Отдел заботы и сопровождения
			</button>
		</div>
		<div id="accordion-panel-6" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-6">
			<div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio repellendus vitae eveniet debitis enim obcaecati similique id, corrupti explicabo perferendis eius blanditiis totam magnam aut.</p>
				<p><a href="javascript:void(0)">Посмотреть программы</a></p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-7" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-7">
				Современное оборудование
			</button>
		</div>
		<div id="accordion-panel-7" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-7">
			<div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio repellendus vitae eveniet debitis enim obcaecati similique id, corrupti explicabo perferendis eius blanditiis totam magnam aut.</p>
				<p><a href="javascript:void(0)">Посмотреть программы</a></p>
			</div>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">
			<button type="button" id="accordion-trigger-8" class="js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-8">
				Экстренная помощь 24/7
			</button>
		</div>
		<div id="accordion-panel-8" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-8">
			<div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea facere est quia nulla unde, vero accusantium et nobis, aliquid possimus ex voluptatem quasi officiis eius nostrum quam velit omnis quos, ab repudiandae quae. Ab vel ipsa, facere dolorem quo necessitatibus! Omnis quaerat vel quam doloremque natus voluptates. Unde, quo aperiam?</p>
				<p><a href="javascript:void(0)">Посмотреть программы</a></p>
			</div>
		</div>
	</div>

	<div class="accordion-circle__center">
		<img src="./img/dev/accordion-dog.jpg" width="380" height="380" alt="" loading="lazy" decoding="async">
	</div>
</div>