<div class="accordion js-accordion js-accordion-single">
	<div class="accordion__item on">
		<div class="accordion__header js-accordion-trigger">
			<div>
				Title
			</div>
		</div>
		<div class="accordion__content">
			<p>Подготовка профессионалов мультифункционального назначения, способных работать в&nbsp;сфере международной политики, экономики, бизнеса, спорта, культуры, публичной и&nbsp;народной дипломатии, эффективно взаимодействовать с&nbsp;партнерами из&nbsp;стран Запада и&nbsp;Востока, способных профессионально и&nbsp;квалифицированно защищать и&nbsp;продвигать национальные интересы России и&nbsp;добиваться успеха в&nbsp;условиях быстро меняющейся глобальной среды.</p>
		</div>
	</div>
	<div class="accordion__item on">
		<div class="accordion__header js-accordion-trigger">
			<div>
				Title 2
			</div>
		</div>
		<div class="accordion__content">
			<p>Подготовка профессионалов мультифункционального назначения, способных работать в&nbsp;сфере международной политики, экономики, бизнеса, спорта, культуры, публичной и&nbsp;народной дипломатии, эффективно взаимодействовать с&nbsp;партнерами из&nbsp;стран Запада и&nbsp;Востока, способных профессионально и&nbsp;квалифицированно защищать и&nbsp;продвигать национальные интересы России и&nbsp;добиваться успеха в&nbsp;условиях быстро меняющейся глобальной среды.</p>
		</div>
	</div>
</div>