@use '../abstracts' as *;

html {
	min-width: $min-width;
	// overflow-x: hidden; // не будет работать position sticky
	cursor: default;
	scroll-behavior: smooth;

	&.is-lock {
		height: 100vh;
		overflow: hidden;
		scrollbar-gutter: stable;
	}
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	background:
		linear-gradient(to top, #cfc9f3, rgb(0 0 0 / 0%)) bottom / 100% 30vw no-repeat,
		var(--color-gray);
}

/* ширина контента не прыгает при появлении или скрытии скроллбара, но на странице остается зарезервированный отступ для скролла */
/* добавлено только для html.is-lock */
/* html,
body {
	scrollbar-gutter: stable both-edges;
} */

/* position sticky для сайдбара не работает, если для html стоит overflow-x: hidden; (выше), нужен clip (ниже), но тогда возникают проблемы у body.noscroll */
/* html,
body {
	overflow-x: clip;
} */

* {
	outline: none;
	touch-action: manipulation; // отключить зум по двойному нажатию на сенсорных устройствах

	&:focus-visible {
		@include focus-visible;
	}
}

svg,
svg * {
	@media (any-hover: hover) {
		transition: all $transition-default;
	}
}

svg * {
	transition-property: fill, stroke;
}
