@font-face {
	font-family: 'Gogh Variable';
	src:
		local('Gogh Variable'),
		local('GoghVariable'),
		url('../fonts/GoghVariable.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Pragmatica Next VF';
	src:
		local('Pragmatica Next VF'),
		local('PragmaticaNextVF'),
		url('../fonts/PragmaticaNextVF.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
