@use '../abstracts' as *;

// Основной контейнер
.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
}

// Вложенный в основной контейнер для контента
.content {
	position: relative;
	width: 100%;
	max-width: $max-width;
	margin-right: auto;
	margin-left: auto;
	padding-right: $min-padding;
	padding-left: $min-padding;

	// .content_wide
	&_wide {
		display: flex;
		justify-content: center;
		max-width: 100%;
		padding: 0;
	}

	@include resp-from(md) {
		padding-right: $max-padding;
		padding-left: $max-padding;
	}
}
