/*! reset.css | https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Set core body defaults */
body {
	/* stylelint-disable-next-line declaration-block-no-duplicate-properties */
	min-height: 100vh;
	min-height: 100dvh;
	line-height: 1.4;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
	margin-block-start: 0;
	/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
	margin-block-end: 0;
}

/* Отступ для параграфа без атрибута class, расположенного не последним среди своих соседей */
p:where(:not([class], :last-child)) {
	margin-bottom: 16px;
}

/* Убираем эффект подсветки при тапе на мобильных устройствах */
label,
input,
select,
button,
textarea,
a {
	-webkit-tap-highlight-color: transparent;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ol[class],
ul[class] {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 0;
	}
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
	line-height: 1.2;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentcolor;
}

/* Make images easier to work with */
img,
svg,
picture {
	display: block;
	height: auto;
	max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
select,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}

fieldset {
	min-width: 0; // чтобы не ломалось в flex/grid
	margin: 0;
	padding: 0;
	border: 0;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}
