<footer class="footer">
	<div class="content">
		<div class="footer__animals">
			<picture>
				<source media="(min-width: 1024px)" srcset="./img/decoration-pets-desktop.svg">
				<source media="(min-width: 577px)" srcset="./img/decoration-pets-tablet.svg">
				<source srcset="./img/decoration-pets-mobile.svg">
				<img src="./img/decoration-pets-mobile.svg" width="" height="244" alt="" loading="lazy">
			</picture>
		</div>

		<div class="footer__body">
			<div class="footer__row">
				<div class="footer__left">
					<div class="footer-logo">
						<a href="/" title="На главную страницу" rel="home" class="footer-logo__link">
							<svg aria-hidden="true" viewBox="0 0 243 245">
								<use href="#logo-letter"></use>
							</svg>
							<span class="sr-only">НьюВетТех</span>
						</a>
					</div>
					<div class="footer-metapets">
						<a href="/" title="Открыть чат Метапетс" class="footer-metapets__link">
							<svg aria-hidden="true" viewBox="0 0 246 78">
								<use href="#metapets-footer"></use>
							</svg>
							<span class="sr-only">Чат Метапетс</span>
						</a>
					</div>
					<div class="footer-skolkovo">
						Резидент Сколково
					</div>
				</div>
				<div class="footer__right">
					<div class="footer__form-label h4">Остались вопросы? Заполните форму обратной связи, и&nbsp;мы&nbsp;вам перезвоним:</div>
					<form action="" class="footer-form footer-grid">
						<input class="w-full" name="name" type="text" placeholder="Ваше имя" aria-label="Ваше имя" autocomplete="name">
						<input class="w-full" name="tel" type="tel" placeholder="Ваш телефон" aria-label="Ваш телефон" autocomplete="tel">
						<label class="footer-form__label">
							<input type="checkbox" name="checkbox">
							<span>Соглашаюсь с&nbsp;политикой <a href="javascript:void(0)" target="_blank">конфиденциальности и&nbsp;обработки данных</a></span>
						</label>
						<button type="submit" class="btn btn_md btn_wide">Заказать звонок</button>
					</form>
					<div class="footer-contacts footer-grid">
						<div class="footer-contacts__contact">
							<div class="footer-contacts__label">Единая справочная:</div>
							<div class="footer-contacts__phone">
								<a href="tel:+74992888036" aria-label="Позвонить по номеру +7 499 288 80 36">+7&nbsp;(499)&nbsp;288-80-36</a>
							</div>
						</div>
						<div class="footer-contacts__addresses">
							<div class="footer-contacts__pointer">
								<svg aria-hidden="true" viewBox="0 0 16 23">
									<use href="#icon-pointer"></use>
								</svg>
							</div>
							<div class="footer-contacts__list">
								<ul class="addresses addresses_footer">
									<li class="addresses__item" itemscope itemtype="https://schema.org/LocalBusiness">
										<span itemprop="name"><strong>Клиника на Большой Серпуховской</strong></span>
										<div class="addresses__wrapper" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
											<address>
												<span itemprop="addressLocality">Москва</span>,
												<span itemprop="streetAddress">ул. Большая Серпуховская, 62к2</span>
											</address>
										</div>
									</li>

									<li class="addresses__item" itemscope itemtype="https://schema.org/LocalBusiness">
										<span itemprop="name"><strong>Клиника на Введенского</strong></span>
										<div class="addresses__wrapper" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
											<address>
												<span itemprop="addressLocality">Москва</span>,
												<span itemprop="streetAddress">ул. Введенского, 24Б</span>
											</address>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer__row">
				<div class="footer__left">
					<div class="footer-links-svg">
						<a href="tel:+74992888036" class="link-svg-round" aria-label="Позвонить по номеру +7 499 288 80 36">
							<svg aria-hidden="true" viewBox="0 0 34 34">
								<use href="#icon-call"></use>
							</svg>
						</a>
						<a href="mailto:info@newvettech.ru" class="link-svg-round" target="_blank" rel="noopener nofollow" aria-label="Написать письмо на info@newvettech.ru">
							<svg aria-hidden="true" viewBox="0 0 34 34">
								<use href="#icon-mail"></use>
							</svg>
						</a>
						<a href="javascript:void(0)" class="link-svg-round" target="_blank" rel="noopener nofollow" aria-label="Мы в Телеграмме">
							<svg aria-hidden="true" viewBox="0 0 34 34">
								<use href="#icon-tg"></use>
							</svg>
						</a>
						<a href="javascript:void(0)" class="link-svg-round" target="_blank" rel="noopener nofollow" aria-label="Мы во Вконтакте">
							<svg aria-hidden="true" viewBox="0 0 34 34">
								<use href="#icon-vk"></use>
							</svg>
						</a>
					</div>
					<div class="footer-bottom">
						<a href="javascript:void(0)">Юридическая информация о&nbsp;компании</a>
					</div>
				</div>
				<div class="footer__right footer__right_end-md">
					<div class="footer-grid footer-grid_special-cols">
						<div class="footer-bottom">
							<ul>
								<li><a href="./policy.html">Политика конфиденциальности и&nbsp;обработки данных</a></li>
								<li><a href="javascript:void(0)">Публичная оферта</a></li>
								<li><a href="javascript:void(0)">Карта сайта</a></li>
							</ul>
						</div>
						<div class="footer-bottom footer-bottom_end-md">
							&copy;&nbsp;НьюВетТех 2025
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>