<%
  // получаем имя активного пункта (например "menuHome")
  var activeMenu = typeof menu !== 'undefined' ? menu : '';

  // для каждого пункта меню задаём "is-active", если совпадает
  var menuAbout = activeMenu === 'menuAbout' ? 'is-active' : '';
  var menuSpecialties = activeMenu === 'menuSpecialties' ? 'is-active' : '';
  var menuContacts = activeMenu === 'menuContacts' ? 'is-active' : '';
%>

	<header class="header">
		<div class="content">
			<div class="header__wrapper">
				<div class="header__logo">
					<a href="./" title="На главную страницу" rel="home" class="logo-link">
						<svg aria-hidden="true" viewBox="0 0 88 88">
							<use href="#logo"></use>
						</svg>
						<span class="sr-only">НьюВетТех</span>
					</a>
				</div>

				<div class="header__contact-us">
					<button type="button" class="btn btn_white" data-modal-show="modal-info">Связаться с&nbsp;нами</button>
				</div>

				<div class="header__nav">
					<nav class="nav" role="navigation">
						<input id="menu-toggle" class="menu-toggle" type="checkbox" />
						<label class="hamburger-box" for="menu-toggle">
							<div class="hamburger-inner"></div>
						</label>
						<div class="menu-container">
							<ul class="nav__list">
								<li class="nav__item"><a href="javascript:void(0)" class="nav__link <%=menuAbout%>">О НьюВетТех</a></li>
								<li class="nav__item"><a href="./index.html#specialties" class="nav__link <%=menuSpecialties%>">Направления</a></li>
								<li class="nav__item"><a href="javascript:void(0)" class="nav__link">Услуги</a></li>
								<li class="nav__item"><a href="javascript:void(0)" class="nav__link">Врачи</a></li>
								<li class="nav__item"><a href="javascript:void(0)" class="nav__link">Публикации</a></li>
								<li class="nav__item"><a href="javascript:void(0)" class="nav__link">Метапетс</a></li>
							</ul>
							<div class="dropdown dropdown_geo">
								<div class="dropdown__label">
									<svg aria-hidden="true" viewBox="0 0 16 23">
										<use href="#icon-pointer"></use>
									</svg>
									<span>
										Наши клиники в&nbsp;Москве
									</span>
								</div>
								<div class="dropdown__collapse">
									<div class="dropdown__wrapper">
										<div class="dropdown__content">
											<ul class="addresses addresses_nav">

												<li class="addresses__item">
													<span><strong>Клиника на Большой Серпуховской</strong></span>
													<div class="addresses__wrapper">
														<address>
															<span>Москва</span>,
															<span>ул. Большая Серпуховская, 62к2</span>
														</address>
														<a href="./branch.html" class="addresses__link" aria-label="Подробнее об адресе: Москва, ул. Большая Серпуховская, 62к2"><span>подробнее</span></a>
													</div>
												</li>

												<li class="addresses__item">
													<span><strong>Клиника на Введенского</strong></span>
													<div class="addresses__wrapper">
														<address>
															<span>Москва</span>,
															<span>ул. Введенского, 24Б</span>
														</address>
														<a href="javascript:void(0)" class="addresses__link" aria-label="Подробнее об адресе: Москва, ул. Введенского, 24Б"><span>подробнее</span></a>
													</div>
												</li>

											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>