//** Цвета
// Бренд
$brand-colors-hex: (
	primary: #8965fd,
	secondary: #d6cefd,
);
$brand-color-primary: var(--color-primary);
$brand-color-secondary: var(--color-secondary);
$brand-color-accent: var(--color-accent, var(--color-primary)); // также используется для focus-visible
// Текст
$color-text: var(--color-black);
$color-link: var(--color-link);
$color-link-hover: var(--color-link-hover);
// Формы
$placeholder-color: var(--color-black);
$input-color: var(--color-black);
// Выделенный в браузере текст
$selection-bg: var(--color-selection);
$selection-text: var(--color-white);

//** Другое
// Отступы контейнера с контентом
$min-padding: 30px;
$max-padding: 50px;
// Ширина контейнера с контентом
$min-width: 360px;
$max-width: 1280px + $max-padding * 2;
// Гамбургер
$hamburger-size: 33px;
$hamburger-radius: 3px;
$hamburger-line: 3px;
$hamburger-color: var(--color-black);
// Мобильное меню
$mobile-menu-closed: var(--mobile-menu-closed);
$mobile-menu-active: var(--mobile-menu-active);
// Переходы
$transition-default: var(--transition-duration) ease-in-out;

//** Переменные для scss/components

//** SVGs --var
$svg-metapets-helper: var(--svg-metapets-helper);
// $svg-fetch-ring: var(--svg-fetch-ring);
// $svg-arrow-long: var(--svg-arrow-long);
// $svg-arrow-black: var(--svg-arrow-black);
// $svg-arrow-white: var(--svg-arrow-white);
// $svg-angle: var(--svg-angle);
// $svg-close: var(--svg-close);
// $svg-nav-search: var(--svg-nav-search);
// $svg-geo: var(--svg-geo);
// $svg-checked: var(--svg-checked);
// $svg-download: var(--svg-download);

//** Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @require "sass:map"
$breakpoints: (
	'desktop': 1280px,
	'xs': 375px,
	'sm': 425px,
	'xm': 577px,
	'md': 768px,
	'lg': 1024px,
	'xl': 1280px,
	'hd': 1440px,
	'fhd': 1920px,
);
