@use '../abstracts' as *;

.body-background {
	position: absolute;
	inset: 0;
	z-index: -1;
	overflow: hidden;

	// .body-background__content
	&__content {
		height: 100%;
	}
}

.circle-item {
	position: absolute;
	right: 0;
	left: 0;
	transform: scale(var(--scale, 1));
	width: 80vw;
	height: 80vw;
	max-width: 900px;
	max-height: 900px;
	margin: 0;
	// border: 1px solid #000;
	transition: none;
	animation: wobble-anim 20s ease-in-out infinite;
}

@keyframes wobble-anim {
	0% {
		transform: translate(0, 0) scale(var(--scale, 1));
	}

	25% {
		transform: translate(calc(10px * var(--ratio, 1)), calc(-100px * var(--ratio, 1))) scale(var(--scale, 1));
	}

	50% {
		transform: translate(calc(100px * var(--ratio, 1)), calc(150px * var(--ratio, 1))) scale(var(--scale, 1));
	}

	75% {
		transform: translate(calc(-100px * var(--ratio, 1)), calc(-50px * var(--ratio, 1))) scale(var(--scale, 1));
	}

	100% {
		transform: translate(0, 0) scale(var(--scale, 1));
	}
}
