@use '../abstracts' as *;

.branch-info {
	display: flex;
	flex-direction: column;
	max-width: 420px;
	margin: 37px 0;
	padding: 15px 28px;
	background: var(--color-white);
	border-radius: 30px;
	pointer-events: auto;
	justify-self: center;

	// .branch-info__wrapper
	&__wrapper {
		display: flex;
		flex: 1;
		flex-direction: column;
		max-width: 320px;
	}

	// .branch-info__name
	&__name {
		margin-bottom: 25px;
		font-size: rem(20);
		font-weight: var(--font-weight-medium);
		line-height: 1.1;
		letter-spacing: -0.01em;

		@include resp-from(desktop) {
			font-size: rem(32);
		}
	}

	// .branch-info__address
	&__address {
		margin-bottom: 37px;
		font-size: rem(15);
		line-height: 1.1;

		@include resp-from(md) {
			font-size: rem(15);
		}

		@include resp-from(desktop) {
			font-size: rem(20);
			line-height: 1.3;
		}
	}

	// .branch-info__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 7px;
		margin-bottom: 20px;
		font-size: rem(18);
		line-height: 1.1;

		a,
		a[href^='tel:'] {
			font-weight: var(--font-weight-normal);
			text-decoration: none;
		}

		@include resp-from(desktop) {
			font-size: rem(30);
			line-height: 1.2;
		}
	}

	// .branch-info__button
	&__button {
		margin-top: auto;
	}

	@include resp-from(md) {
		max-width: 38vw;
		margin: 50px 0;
		padding: 15px 18px;
		justify-self: auto;
	}

	@include resp-from(lg) {
		max-width: 35vw;
		padding: 15px 28px;
	}

	@include resp-from(desktop) {
		min-height: 460px;
		max-width: 420px;
		padding: 45px 37px 45px 63px;
	}

	// .branch-info_reset
	/* stylelint-disable-next-line order/order */
	&_reset {
		margin: 0;
		padding: 0;
		background: transparent;
		border-radius: 0;
	}
}
