@use '../abstracts' as *;

.doctor {
	display: flex;
	flex-flow: column wrap;
	gap: 35px;
	margin-bottom: 30px;
	padding: 30px 25px;
	background: var(--color-white);
	border-radius: 20px;

	// .doctor__left
	&__left {
		display: flex;
		flex-flow: row wrap;
		flex-shrink: 0;
		justify-content: center;
		gap: 30px;

		@include resp-from(lg) {
			flex-direction: column;
		}
	}

	// .doctor__right
	&__right {
		flex: 1;
	}

	// .doctor__photo
	&__photo {
		// margin-bottom: 30px;

		picture,
		img {
			width: 300px;
			min-width: 150px;
			border-radius: 50%;
			aspect-ratio: 1;
		}
	}

	// .doctor__info
	&__info {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: flex-end;

		@include resp-from(lg) {
			justify-content: flex-start;
		}
	}

	// .doctor__cost
	&__cost {
	}

	// .doctor__button
	&__button {
	}

	// .doctor__name
	&__name {
		margin-bottom: 10px;
		font-size: rem(28);
		font-weight: var(--font-weight-medium);
		line-height: 1.1;
		letter-spacing: -0.01em;

		@include resp-from(lg) {
			font-size: rem(32);
		}
	}

	// .doctor__position
	&__position {
		margin-bottom: 38px;
		font-size: rem(18);
		line-height: 1.2;

		@include resp-from(lg) {
			max-width: 400px;
		}
	}

	// .doctor__experience
	&__experience {
		margin-bottom: 36px;
	}

	// .doctor__specialization
	&__specialization {
		margin-bottom: 30px;
		font-size: rem(20);
		line-height: 1.3;

		// @include resp-from(lg) {
		// 	max-width: 400px;
		// }
	}

	// .doctor__about
	&__about {
		font-size: rem(18);
		line-height: 1.2;

		:last-child {
			margin-bottom: 0;
		}

		ul,
		ol {
			margin-left: 4px;
			// margin-left: -20px;
		}
	}

	@include resp-from(lg) {
		flex-direction: row;
		gap: 55px;
		padding: 65px 55px 80px;
	}

	@include resp-from(desktop) {
		margin-bottom: 50px;
	}
}

.cost {
	// .cost__label
	&__label {
		margin-bottom: 4px;
		font-size: rem(16);
		line-height: 1.2;
	}

	// .cost__sum
	&__sum {
		margin-bottom: 20px;
		font-size: rem(24);
		line-height: 1.2;
		color: var(--color-primary);
		white-space: nowrap;

		@include resp-from(lg) {
			font-size: rem(30);
		}
	}
}

.experience {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	gap: 0 9px;
	width: fit-content;
	padding: 5px 0;
	border-top: 2px solid var(--color-primary);
	border-bottom: 2px solid var(--color-primary);

	// .experience__label
	&__label {
		font-size: rem(18);
		line-height: 1.2;
	}

	// .experience__year
	&__year {
		font-size: rem(24);
		line-height: 1.2;
		color: var(--color-primary);

		@include resp-from(lg) {
			font-size: rem(30);
		}
	}
}
