@use '../abstracts' as *;

.header {
	// .header__wrapper
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 0 5px;
		position: relative;
		padding: 20px 0;
	}

	// .header__logo
	&__logo {
		z-index: 4;

		@include resp-from(desktop) {
			z-index: 1;
		}
	}

	// .header__contact-us
	&__contact-us {
		z-index: 4;

		@include resp-from(desktop) {
			order: 1;
			z-index: 1;
		}
	}

	// .header__nav
	&__nav {
		display: flex;
		align-items: center;
		position: relative;
	}
}

.logo-link {
	display: flex;
	width: 66px;
	height: 66px;
	border-radius: 8px;

	@include resp-from(desktop) {
		width: 88px;
		height: 88px;
	}
}
