@use '../abstracts' as *;
@use '../base/typography-placeholders' as *;

.section-hero {
	margin-bottom: 30px;

	@include resp-from(desktop) {
		margin-bottom: 59px;
	}
}

.hero-block {
	--color-bg: var(--color-white-gray);
	--color: var(--color-black);

	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	color: var(--color);
	background: var(--color-bg);
	border-radius: 15px;

	& > div {
		flex: 1 1 300px;
	}

	// .hero-block_shadow
	&_shadow {
		box-shadow: 0 10px 15px 0 rgb(164 136 255 / 7%);
	}

	// .hero-block__photo
	&__photo {
		position: relative;
		min-height: 255px;
		background: var(--color-bg);

		picture,
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left;
		}

		// .hero-block__photo_svg
		&_svg {
			display: flex;
			align-items: flex-end;
			padding: 15px;

			picture,
			img {
				position: relative;
				height: auto;
			}

			@include resp-from(md) {
				padding: 30px;
			}
		}

		@include resp-from(sm) {
			min-height: 370px;
		}

		@include resp-from(xm) {
			min-height: 440px;
		}

		@include resp-from(md) {
			min-height: 350px;
		}

		@include resp-from(lg) {
			min-height: 430px;
		}

		@include resp-from(desktop) {
			min-height: auto;

			@include when-inside('.hero-block_photo-wide') {
				flex: 2 1 590px;
			}
		}

		@include when-inside('.hero-block_photo-violet') {
			--color-bg: var(--color-primary);
		}
	}

	// .hero-block__intro
	&__intro {
		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;

			@include resp-from(desktop) {
				object-fit: cover;
			}
		}
	}

	// .hero-block__text
	&__text {
		display: flex;
		flex-direction: column;
		padding: 26px 30px;
		color: var(--color);
		background: var(--color-bg);

		@include resp-from(md) {
			// padding: 26px 15px 26px 17px;
			padding: 25px;
		}

		@include resp-from(lg) {
			padding-right: 30px;
			padding-left: 50px;
		}

		@include resp-from(desktop) {
			padding: 55px 50px 50px 80px;
			hyphens: none;

			@include when-inside('.hero-block_photo-wide') {
				padding: 26px 30px;
			}

			@include when-inside('.hero-block_text-wide') {
				padding: 26px 30px;
			}
		}

		@include when-inside('.hero-block_text-wide') {
			flex: 2 1 600px;

			// @include resp-from(desktop) {
			// 	padding: 26px 150px 26px 115px;
			// }
		}

		@include when-inside('.hero-block_text-violet') {
			--color-bg: var(--color-primary);
			--color: var(--color-white);
			--color-link: var(--color-white);
			--color-link-hover: var(--color-white);
			padding-top: 20px;

			.btn {
				--form-control-color-hover-text: var(--color-primary);
				--form-control-color-hover: var(--color-secondary);
			}

			@include resp-from(lg) {
				padding-top: 50px;
			}
		}
	}

	// .hero-block__great
	&__great {
		margin-bottom: 9px;
		font-size: rem(56);
		font-weight: var(--font-weight-medium);
		line-height: 0.9;
		letter-spacing: -0.01em;

		b,
		strong {
			color: var(--color-primary);
		}

		@include when-inside('.hero-block_text-violet') {
			b,
			strong {
				color: var(--color-white);
			}
		}

		// @include clamp(font-size, 50, 72);

		@include resp-from(lg) {
			margin-bottom: 32px;
		}

		@include resp-from(desktop) {
			font-size: rem(72);
		}
	}

	// .hero-block__great-sub
	&__great-sub {
		margin-bottom: 14px;
		font-size: rem(26);
		font-weight: var(--font-weight-medium);
		line-height: 1.2;
		letter-spacing: -0.01em;

		b,
		strong {
			color: var(--color-primary);
		}

		@include when-inside('.hero-block_text-violet') {
			b,
			strong {
				color: var(--color-white);
			}
		}

		@include resp-from(lg) {
			margin-bottom: 34px;
		}

		@include resp-from(desktop) {
			font-size: rem(33);
		}
	}

	// .hero-block__title
	&__title {
		margin-bottom: 25px;

		b,
		strong {
			color: var(--color-primary);
		}

		@include when-inside('.hero-block_text-violet') {
			b,
			strong {
				color: var(--color-black);
			}
		}
	}

	// .hero-block__description
	&__description {
		margin-bottom: 16px;
		line-height: 1.3;

		b,
		strong {
			font-weight: var(--font-weight-normal);
			color: var(--color-primary);
		}

		ol,
		ul {
			margin-left: 0;
			padding-left: 27px;

			li:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		@include when-inside('.hero-block_text-violet') {
			b,
			strong {
				font-weight: var(--font-weight-bold);
				color: var(--color-white);
			}
		}

		@extend %paragraph;
	}

	// .hero-block__link
	&__link {
		margin-top: auto;

		@include flex-center;

		@include resp-from(md) {
			display: block;
		}
	}

	// .hero-block_cols
	&_cols {
		gap: 40px 20px;
		padding: 50px 30px 30px;

		& > div {
			flex-basis: 290px;
		}

		@include resp-from(lg) {
			gap: 40px;
			padding: 60px 40px 40px;
		}
	}

	// .hero-block_reverse
	&_reverse {
		flex-direction: row-reverse;
	}

	// .hero-block__col
	&__col {
		display: flex;
		flex-direction: column;
	}

	// .hero-block_violet
	// &_violet {
	// --color-bg: var(--color-primary);
	// --color: var(--color-white);
	// --color-link: var(--color-white);
	// --color-link-hover: var(--color-white);

	// .btn {
	// 	--form-control-color-hover-text: var(--color-primary);
	// 	--form-control-color-hover: var(--color-secondary);
	// }
	// }

	@include resp-from(desktop) {
		min-height: 550px;
		border-radius: 30px;
	}
}
