/* stylelint-disable selector-class-pattern */
@use '../abstracts' as *;
@use '../base/typography-placeholders' as *;

.hero-block {
	--color-bg: var(--color-white-gray);
	--color: var(--color-black);

	// .hero-block__wrapper
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		color: var(--color);
		background: var(--color-bg);
		border-radius: 15px;

		& > div {
			flex: 1 1 300px;
		}

		@include resp-from(desktop) {
			min-height: 550px;
			border-radius: 30px;
		}
	}

	// .hero-block_photo-wide
	&_photo-wide {
	}

	// .hero-block__photo
	&__photo {
		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left;
		}

		@include when-inside('.hero-block_photo-wide') {
			flex: 2 1 600px;
		}
	}

	// .hero-block__text
	&__text {
		display: flex;
		flex-direction: column;
		padding: 26px 30px;

		@include resp-from(md) {
			padding: 26px 15px 26px 17px;
		}

		@include resp-from(lg) {
			padding-right: 30px;
			padding-left: 50px;
		}

		@include resp-from(desktop) {
			padding: 55px 50px 50px 80px;
			hyphens: none;
		}

		@include when-inside('.hero-block_photo-wide') {
			padding: 26px 30px;
		}

		@include when-inside('.hero-block_text-wide') {
			flex: 2 1 600px;
			padding: 26px 30px;

			// @include resp-from(desktop) {
			// 	padding: 26px 150px 26px 115px;
			// }
		}
	}

	// .hero-block__great
	&__great {
		margin-bottom: 20px;
		font-weight: var(--font-weight-medium);
		line-height: 0.9;
		letter-spacing: -0.01em;

		@include clamp(font-size, 50, 72);

		@include resp-from(lg) {
			margin-bottom: 32px;
			font-size: rem(55);
		}

		@include resp-from(desktop) {
			font-size: rem(72);
		}
	}

	// .hero-block__great-sub
	&__great-sub {
		margin-bottom: 20px;
		font-size: rem(33);
		font-weight: var(--font-weight-medium);
		line-height: 1.2;
		letter-spacing: -0.01em;

		@include clamp(font-size, 22, 33);

		@include resp-from(lg) {
			margin-bottom: 34px;
			font-size: rem(25);
		}

		@include resp-from(desktop) {
			font-size: rem(33);
		}
	}

	// .hero-block__title
	&__title {
		margin-bottom: 25px;
	}

	// .hero-block__description
	&__description {
		margin-bottom: 30px;

		ul {
			padding-left: 27px;
		}

		@extend %paragraph;
	}

	// .hero-block__link
	&__link {
		margin-top: auto;

		@include flex-center;

		@include resp-from(md) {
			display: block;
		}
	}

	// .hero-block_violet
	&_violet {
		--color-bg: var(--color-primary);
		--color: var(--color-white);

		.hero-block__text {
			padding-top: 50px;
		}

		.btn {
			--form-control-color-hover-text: var(--color-primary);
			--form-control-color-hover: var(--color-secondary);
		}
	}
}
