@use '../abstracts' as *;
@use '../base/typography-placeholders' as *;

.section-hero {
	margin-bottom: 30px;

	@include resp-from(desktop) {
		margin-bottom: 59px;
	}
}

.hero-block {
	--color-bg: var(--color-white-gray);
	--color: var(--color-black);

	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	color: var(--color);
	background: var(--color-bg);
	border-radius: 15px;

	& > div {
		flex: 1 1 300px;
	}

	// .hero-block_photo-wide
	&_photo-wide {
	}

	// .hero-block__photo
	&__photo {
		position: relative;
		min-height: 255px;

		picture,
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left;
		}

		@include resp-from(md) {
			min-height: 348px;
		}

		@include resp-from(lg) {
			min-height: 381px;
		}

		@include resp-from(desktop) {
			min-height: auto;

			@include when-inside('.hero-block_photo-wide') {
				flex: 2 1 590px;
			}
		}
	}

	// .hero-block__text
	&__text {
		display: flex;
		flex-direction: column;
		padding: 26px 30px;

		@include resp-from(md) {
			// padding: 26px 15px 26px 17px;
			padding: 25px;
		}

		@include resp-from(lg) {
			padding-right: 30px;
			padding-left: 50px;
		}

		@include resp-from(desktop) {
			padding: 55px 50px 50px 80px;
			hyphens: none;

			@include when-inside('.hero-block_photo-wide') {
				padding: 26px 30px;
			}

			@include when-inside('.hero-block_text-wide') {
				padding: 26px 30px;
			}
		}

		@include when-inside('.hero-block_text-wide') {
			flex: 2 1 600px;

			// @include resp-from(desktop) {
			// 	padding: 26px 150px 26px 115px;
			// }
		}

		@include when-inside('.hero-block_violet') {
			padding-top: 20px;

			@include resp-from(lg) {
				padding-top: 50px;
			}
		}
	}

	// .hero-block__great
	&__great {
		margin-bottom: 9px;
		font-size: rem(56);
		font-weight: var(--font-weight-medium);
		line-height: 0.9;
		letter-spacing: -0.01em;

		// @include clamp(font-size, 50, 72);

		@include resp-from(lg) {
			margin-bottom: 32px;
		}

		@include resp-from(desktop) {
			font-size: rem(72);
		}
	}

	// .hero-block__great-sub
	&__great-sub {
		margin-bottom: 14px;
		font-size: rem(26);
		font-weight: var(--font-weight-medium);
		line-height: 1.2;
		letter-spacing: -0.01em;

		@include resp-from(lg) {
			margin-bottom: 34px;
		}

		@include resp-from(desktop) {
			font-size: rem(33);
		}
	}

	// .hero-block__title
	&__title {
		margin-bottom: 25px;
	}

	// .hero-block__description
	&__description {
		margin-bottom: 16px;

		ol,
		ul {
			margin-left: 0;
			padding-left: 27px;

			li:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		p {
			line-height: 1.3;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		@extend %paragraph;
	}

	// .hero-block__link
	&__link {
		margin-top: auto;

		@include flex-center;

		@include resp-from(md) {
			display: block;
		}
	}

	// .hero-block_cols
	&_cols {
		gap: 40px 20px;
		padding: 50px 30px 30px;

		& > div {
			flex-basis: 290px;
		}

		@include resp-from(lg) {
			gap: 40px;
			padding: 60px 40px 40px;
		}
	}

	// .hero-block__col
	&__col {
		display: flex;
		flex-direction: column;
	}

	// .hero-block_violet
	&_violet {
		--color-bg: var(--color-primary);
		--color: var(--color-white);
		--color-link: var(--color-white);
		--color-link-hover: var(--color-white);

		.btn {
			--form-control-color-hover-text: var(--color-primary);
			--form-control-color-hover: var(--color-secondary);
		}
	}

	@include resp-from(desktop) {
		min-height: 550px;
		border-radius: 30px;
	}
}
