/* stylelint-disable selector-class-pattern */
@use '../abstracts' as *;

.icons-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 40px;
	margin-bottom: 43px;

	@include resp-from(md) {
	}

	@include resp-from(lg) {
		margin-bottom: 60px;
	}

	@include resp-from(desktop) {
		margin-bottom: 73px;
	}

	// display: grid;
	// gap: 40px;
	// margin-bottom: 43px;

	// @include resp-from(md) {
	// 	grid-template-columns: repeat(2, 1fr);
	// }

	// @include resp-from(lg) {
	// 	margin-bottom: 60px;
	// }

	// @include resp-from(desktop) {
	// 	grid-template-columns: repeat(4, 1fr);
	// 	margin-bottom: 73px;
	// }
}

.icon-item {
	--color-icon: var(--color-primary);
	display: flex;
	flex: 1 1 290px;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	max-width: 290px;
	text-align: center;

	// .icon-item__icon
	&__icon {
		--size: 80px;
		flex: 0 0 auto;
		width: var(--size);
		height: var(--size);
		margin-bottom: 10px;

		svg {
			color: var(--color-icon);
		}

		@include resp-from(lg) {
			--size: 100px;
		}
	}

	// .icon-item__name
	&__name {
		font-size: rem(32);
		font-weight: var(--font-weight-medium);
		line-height: 1.1;
		letter-spacing: -0.01em;
	}

	// .icon-item__descr-short
	&__descr-short {
		font-size: rem(18);
		line-height: 1.3;

		@include resp-from(md) {
			font-size: rem(20);
		}
	}

	// .icon-item__descr-full
	&__descr-full {
		font-size: rem(16);
		line-height: 1.2;

		@include resp-from(md) {
			font-size: rem(18);
		}
	}

	@include resp-from(desktop) {
		flex-basis: 260px;
	}
}
