@use '../abstracts' as *;
@use '../base/typography-placeholders' as *;

.important-info {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 35px;
	margin-bottom: 43px;

	& > div {
		flex: 1 1 305px;
	}

	// .important-info__alert
	&__alert {
		display: flex;
		flex-direction: column;
		padding: 27px 24px 50px;
		color: var(--color-white);
		background: var(--color-primary);
		border-radius: 20px;

		@include resp-from(md) {
			max-width: 305px;
		}
	}

	// .important-info__label
	&__label {
		display: flex;
		align-items: center;
		gap: 17px;
		margin-bottom: 15px;
		font-size: rem(18);
		font-weight: var(--font-weight-medium);
		line-height: 1.1;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}

	// .important-info__icon
	&__icon {
		width: 46px;
		fill: transparent;
	}

	// .important-info__great
	&__great {
		margin-top: auto;
		font-size: rem(140);
		font-weight: var(--font-weight-bold);
		line-height: 1;
		letter-spacing: -0.03em;

		@include resp-from(md) {
			font-size: rem(164);
		}
	}

	// .important-info__sub
	&__sub {
		max-width: 300px;
		font-size: rem(26);
		font-weight: var(--font-weight-medium);
		line-height: 1.1;
		letter-spacing: -0.01em;
		text-transform: uppercase;

		// @include resp-from(md) {
		// 	hyphens: auto;
		// }

		@include resp-from(lg) {
			font-size: rem(32);
		}
	}

	// .important-info__body
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 15px;
	}

	// .important-info__description
	&__description {
		font-size: rem(20);
		line-height: 1.3;

		b,
		strong {
			display: inline-block;
			margin-bottom: 5px;
			font-size: rem(24);
			font-weight: var(--font-weight-normal);
			line-height: 1;
			letter-spacing: -0.01em;
			color: var(--color-primary);

			@include resp-from(md) {
				font-size: rem(26);
			}

			@include resp-from(lg) {
				font-size: rem(30);
			}
		}

		ol,
		ul {
			margin-left: 0;
			padding-left: 27px;

			li:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		@extend %paragraph;
	}

	// .important-info__link
	&__link {
		margin-top: 25px;
	}

	@include resp-from(lg) {
		gap: 20px 45px;
		margin-bottom: 60px;
	}

	@include resp-from(desktop) {
		gap: 20px 85px;
		min-height: 505px;
		margin-bottom: 73px;
	}
}
