@use '../abstracts' as *;

.main {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 35px 0;

	path.logo-text-hide {
		display: none !important;
	}
}

.logo-no-text {
	path.logo-text-hide {
		display: none !important;
	}
}
