@use '../abstracts' as *;
@use '../base/typography-placeholders' as *;

.metapets-intro {
	--color: var(--color-black);
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	color: var(--color);

	& > div {
		flex: 1 1 300px;
	}

	// .metapets-intro__logo
	&__logo {
		position: relative;
		min-height: 255px;

		img {
			max-width: 50%;
			margin: 0 auto;

			@include resp-from(xm) {
				max-width: 60%;
			}

			@include resp-from(md) {
				max-width: 70%;
			}

			@include resp-from(desktop) {
				max-width: 100%;
			}
		}

		@include flex-center;

		@include resp-from(md) {
			min-height: 348px;
		}

		@include resp-from(lg) {
			min-height: 381px;
		}

		@include resp-from(desktop) {
			min-height: auto;
		}
	}

	// .metapets-intro__bg
	&__bg {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;

		svg {
			transform: scale(1.5);
		}

		@include flex-center;
	}

	// .metapets-intro__text
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 25px 0;

		@include resp-from(md) {
			padding: 25px;
		}

		@include resp-from(lg) {
			padding: 25px 30px 25px 50px;
		}

		@include resp-from(desktop) {
			padding: 55px 50px 50px 80px;
			hyphens: none;
		}
	}

	// .metapets-intro__title
	&__title {
		margin-bottom: 25px;
		font-weight: var(--font-weight-medium);
		line-height: 1.3;
		letter-spacing: -0.01em;

		b,
		strong {
			color: var(--color-primary);
		}
		// font-size: rem(33);
		@include clamp(font-size, 18, 33);
	}

	// .metapets-intro__description
	&__description {
		margin-bottom: 16px;
		line-height: 1.3;

		ol,
		ul {
			margin-left: 0;
			padding-left: 27px;

			li:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		@extend %paragraph;
	}

	// .metapets-intro__link
	&__link {
		margin-top: 25px;

		// @include flex-center;

		@include resp-from(md) {
			display: block;
		}
	}

	// .metapets-intro_reverse
	&_reverse {
		flex-direction: row-reverse;
	}

	@include resp-from(desktop) {
		margin-bottom: 59px;
	}

	@include resp-from(desktop) {
		min-height: 550px;
		border-radius: 30px;
	}
}
