/* stylelint-disable selector-class-pattern */
@use '../abstracts' as *;
@use '../base/typography-placeholders' as *;

// https://codepen.io/forestdump/pen/LYrMOLa

.menu-container {
	display: flex;
	gap: 22px;
	min-width: $min-width;
	background: var(--color-white);

	@include resp-to(desktop) {
		flex-direction: column;
		justify-content: space-between;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		transform: $mobile-menu-closed;
		z-index: 3;
		width: 100%;
		// max-width: $min-width;
		padding: 120px 30px 55px 25px;
		overflow: hidden;
		overflow-y: auto;

		&.is-active {
			transform: $mobile-menu-active;
		}

		// transition применяется только к активному и закрывающемуся классам,
		// чтобы неактивное меню не "выползало" при изменении размера окна или переключении вкладки (при перерисовке браузером)
		// transition-duration должен совпадать с таймаутом closeMenu js-функции hamburgerMenu
		&.is-active,
		&.is-closing {
			transition: transform 500ms ease-in-out;
		}
	}

	@include resp-from(desktop) {
		align-items: center;
		height: 34px;
		padding: 0 0 0 28px;
		border-radius: 5px;
	}
}

.nav {
	font-family: var(--font-family-other);
	user-select: none;

	// ul.nav__list
	ul#{&}__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 41px;
		margin-bottom: 16px;
		padding: 0;

		@include resp-from(desktop) {
			flex-direction: row;
			gap: 10px 13px;
			height: 100%;
			margin-bottom: 0;
		}
	}

	// .nav__item
	&__item {
		margin: 0;
		padding: 0;
		font-size: rem(30);
		line-height: 1.2;

		@include resp-from(desktop) {
			height: 100%;
			font-size: rem(14);
		}
	}

	// .nav__link
	&__link {
		--border-bottom: -8px;
		--border-offset: 3px;
		--border-width: 5px;
		--border-color: transparent;
		display: inline-flex;
		align-items: center;
		position: relative;
		height: 100%;
		text-decoration: none;
		color: var(--color-black);
		white-space: nowrap;

		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: var(--border-bottom, 0);
			left: calc(var(--border-offset, 3px) * -1);
			width: calc(100% + var(--border-offset, 3px) * 2);
			height: var(--border-width, 2px);
			background: var(--border-color, var(--color-primary));
			border-radius: var(--border-width, 2px);
			transition: background $transition-default;
		}

		&.is-active {
			--border-color: var(--color-primary);
		}

		@include hover-media() {
			--border-color: var(--color-primary);
		}

		@include resp-from(desktop) {
			--border-width: 2px;
			--border-offset: 2px;
			--border-bottom: 0;
			padding: 7px 0 0;
		}
	}
}

.nav-dropdown {
	--arrow-color: var(--color-primary);
	--arrow-width: 11px;
	--arrow-margin: -4px 14px 0;

	@include resp-from(desktop) {
		display: flex;
		align-items: center;
		position: relative;
		height: 100%;

		// .nav-dropdown__content
		&__content {
			display: none;
			position: absolute;
			top: 100%;
			z-index: 4;
			min-width: 130px;
			padding: 12px 16px;
			background-color: #f9f9f9;
		}

		@include on-hover {
			.nav-dropdown__content {
				display: block;
			}
		}
	}
}
