@use '../abstracts' as *;

.person-card {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	background: var(--color-white-gray-2);
	border-radius: 15px;
	box-shadow: 0 10px 15px 0 rgb(164 136 255 / 7%);

	// .person-card__photo
	&__photo {
		--photo-height: 285px;
		height: var(--photo-height);
		overflow: hidden;

		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include resp-from(lg) {
			--photo-height: 320px;
		}
	}

	// .person-card__text
	&__text {
		display: flex;
		// height: 100%;
		flex: 1;
		flex-direction: column;
		padding: 23px 18px 19px;
	}

	// .person-card__name
	&__name {
		margin-bottom: 5px;
		// font-size: rem(23);
		// font-weight: var(--font-weight-medium);
		// line-height: 1.2;
		// letter-spacing: -0.01em;
	}
	// .person-card__position
	&__position {
		margin-bottom: 24px;
		font-family: var(--font-family-other);
		font-size: rem(16);
	}
	// .person-card__link
	&__link {
		margin-top: auto;
	}

	@include resp-from(desktop) {
		border-radius: 20px;
	}
}
