@use '../abstracts' as *;

.pet {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	// .pet__about
	&__about {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 13px;

		@include resp-from(desktop) {
			margin-top: auto;
		}
	}

	// .pet__photo
	&__photo {
		max-width: 270px;

		picture,
		img {
			border-radius: 50%;
			object-fit: cover;
			aspect-ratio: 1;
		}

		@include resp-from(desktop) {
			max-width: 335px;
		}
	}

	// .pet__name
	&__name {
		font-size: rem(23);
		font-weight: var(--font-weight-medium);
		line-height: 1.2;
		letter-spacing: -0.01em;
		text-align: center;
	}

	// .pet__note
	&__note {
		font-family: var(--font-family-other);
		text-align: center;
	}

	// .pet__symptoms
	&__symptoms {
		padding-top: 22px;
		font-family: var(--font-family-other);
		line-height: 1.4;
		border-top: 3px solid var(--color-primary);

		b,
		strong {
			display: block;
			font-weight: 600;
		}
	}

	// @include resp-range(md, lg) {
	// 	flex-direction: row;
	// }
}
