@use '../abstracts' as *;

.section-route {
	--color-bg: var(--color-white-gray);

	display: flex;
	flex-wrap: wrap;
	margin-inline: auto;
	margin-bottom: 30px;
	overflow: hidden;
	background: var(--color-bg);
	border-radius: 15px;
	box-shadow: 0 10px 15px 0 rgb(164 136 255 / 7%);

	& > div {
		flex: 1 1 300px;
	}

	// .section-route__picture
	&__picture {
		img,
		picture {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .section-route__text
	&__text {
		padding: 26px 30px;

		h5,
		h6 {
			color: var(--color-primary);
		}

		@include resp-from(lg) {
			padding: 55px 50px 50px;
		}

		@include when-inside('.section-route_text-wide') {
			flex: 2 1 600px;
		}
	}

	// .section-route_vertical
	&_vertical {
		--max-width: 960px;
		width: min(var(--max-width), 100%);

		& > div {
			flex-basis: auto;
		}
	}

	@include resp-from(desktop) {
		margin-bottom: 59px;
		border-radius: 30px;
	}
}
