@use '../abstracts' as *;

.section-header {
	--header-margin-bottom: 35px;
	--inner-margin-bottom: 20px;
	--max-width: 550px;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	margin-right: auto;
	margin-bottom: var(--header-margin-bottom);
	margin-left: auto;
	text-align: center;

	& > :last-child {
		--inner-margin-bottom: 0;
	}

	// .section-header .section-header_main-logo
	#{&}_main-logo {
		margin-bottom: -10px;

		svg {
			transition-duration: 0s;
		}

		.logo-letter-no-slogan {
			max-width: 240px;

			@include resp-from(md) {
				display: none;
			}
		}

		.logo-text-no-slogan {
			display: none;

			@include resp-from(md) {
				display: block;

				@include clamp(max-width, 377, 550);

				// @include fluid(max-width, 377px, 550px, map-get($breakpoints, 'md'), map-get($breakpoints, 'desktop'));
			}

			@include resp-from(desktop) {
				max-width: 720px;
			}
		}

		@include resp-from(lg) {
			margin-bottom: -20px;
		}

		@include resp-from(desktop) {
			margin-bottom: -40px;
		}

		@include print {
			display: none;
		}
	}

	// .section-header.section-header_wide
	&#{&}_wide {
		--max-width: 950px;
	}

	// .section-header__title
	&__title {
		display: flex;
		justify-content: center;
		max-width: var(--max-width);
		margin-right: auto;
		margin-bottom: var(--inner-margin-bottom);
		margin-left: auto;
		hyphens: none;
	}

	// .section-header__subtitle
	&__subtitle {
		max-width: var(--max-width);
		margin-right: auto;
		margin-bottom: var(--inner-margin-bottom);
		margin-left: auto;
		font-size: rem(20);
		hyphens: none;

		b,
		strong {
			color: var(--color-primary);
		}

		@include resp-from(desktop) {
			font-size: rem(30);
		}
	}

	// .section-header__body
	&__body {
		max-width: calc(var(--max-width) - 50px);
		margin-right: auto;
		margin-bottom: var(--inner-margin-bottom);
		margin-left: auto;
		line-height: 1.3;

		b,
		strong {
			font-weight: var(--font-weight-normal);
			color: var(--color-primary);
		}

		@include resp-from(desktop) {
			font-size: rem(20);
		}
	}

	@include resp-from(md) {
		--header-margin-bottom: 45px;
		--inner-margin-bottom: 20px;
	}

	@include resp-from(desktop) {
		--header-margin-bottom: 60px;
		--inner-margin-bottom: 25px;
		--max-width: 900px;
	}
}
