@use '../abstracts' as *;

.section-text {
	margin-bottom: 7px;
	padding: 30px 25px;
	background: var(--color-white-gray);
	border-radius: 15px;
	box-shadow: 0 10px 10px 0 rgb(102 115 153 / 10%);
	backdrop-filter: blur(30px);

	h1,
	.h1,
	h2,
	.h2 {
		margin-bottom: 16px;
	}

	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		margin-bottom: 10px;
	}

	@include resp-from(md) {
		margin-bottom: 13px;
	}

	@include resp-from(desktop) {
		margin-bottom: 43px;
		padding: 55px 100px;
		border-radius: 30px;
	}
}
