@use '../abstracts' as *;

.service-group {
	--color-icon: var(--color-primary);

	// .service-group__label
	&__label {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: 22px;
		font-size: rem(28);
		font-weight: var(--font-weight-medium);
		line-height: 1;
		letter-spacing: -0.01em;
		color: currentcolor;

		@include resp-from(md) {
			margin-bottom: 24px;
		}

		@include resp-from(desktop) {
			font-size: rem(38);
			line-height: 1.2;
		}
	}

	// .service-group__icon
	&__icon {
		flex: 0 0 auto;
		align-self: start;
		width: 48px;
		height: 48px;

		svg {
			color: var(--color-icon);
		}

		@include resp-from(md) {
			width: 60px;
			height: 60px;
		}

		@include resp-from(desktop) {
			width: 80px;
			height: 80px;
		}
	}

	// .service-group__accordion
	&__accordion {
		margin-bottom: 39px;

		@include resp-from(md) {
			margin-bottom: 28px;
		}

		@include resp-from(desktop) {
			margin-bottom: 60px;
		}
	}

	// .service-group__list
	&__list {
	}
}

.service-group-item {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 17px 0 19px;
	border-top: 2px solid var(--color-primary);

	&:last-child {
		border-bottom: 2px solid var(--color-primary);
	}

	// .service-group-item__row
	&__row {
		display: flex;
		justify-content: space-between;
	}

	// .service-group-item__name
	&__name {
		font-size: rem(16);
		line-height: 1.25;

		@include resp-from(md) {
			font-size: rem(17);
			line-height: 1.1;
		}

		@include resp-from(desktop) {
			font-size: rem(30);
			line-height: 1.2;
		}
	}

	// .service-group-item__price
	&__price {
		font-size: rem(18);
		line-height: 1.1;
		white-space: nowrap;

		@include resp-from(md) {
			font-size: rem(17);
			line-height: 1.1;
		}

		@include resp-from(desktop) {
			font-size: rem(30);
			line-height: 1.2;
		}
	}

	// .service-group-item__descr
	&__descr {
		max-width: 80%;
		font-size: rem(13);
		line-height: 1.1;

		&:empty {
			display: none;
		}

		@include resp-from(md) {
			max-width: 360px;
			margin-left: 37px;
			font-size: rem(14);
		}

		@include resp-from(desktop) {
			max-width: 500px;
			margin-left: 57px;
			font-size: rem(20);
			line-height: 1.3;
		}
	}
}
