<!-- Open Graph -->
<!-- <meta property="og:type" content="article">
<meta property="og:title" content="Заголовок новости">
<meta property="og:description" content="Краткое описание новости (до 200 символов)">
<meta property="og:image" content="https://example.com/img/news/photo.jpg">
<meta property="og:url" content="https://example.com/news/slug/">
<meta property="og:site_name" content="Example Media"> -->

<!-- Twitter Card -->
<!-- <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Как подготовить питомца к походу в клинику">
<meta name="twitter:description" content="Краткое описание новости (до 200 символов)">
<meta name="twitter:image" content="https://example.com/img/news/photo.jpg"> -->

<article class="news-article" lang="ru" itemscope itemtype="https://schema.org/NewsArticle">
	<header class="news-article__header">
		<div class="section-header">
			<div class="section-header__title">
				<h1 itemprop="headline">Как подготовить питомца к&nbsp;походу в&nbsp;клинику</h1>
			</div>
			<div class="section-header__subtitle">
				Краткий текстовый анонс публикации. Может быть, а&nbsp;может быть пропущен. Обычно в&nbsp;таком тексте указывается, какая информация будет представлена в&nbsp;статье и&nbsp;какие подходы использовались в&nbsp;анализе ситуации и&nbsp;предмета.
			</div>
		</div>
	</header>

	<div class="news-article__body" itemprop="articleBody">
		<h1>Заголовок h1, .h1</h1>
		<h2>Заголовок h2, .h2</h2>
		<h3>Заголовок h3, .h3</h3>
		<h4>Заголовок h4, .h4</h4>
		<h5>Заголовок h5, .h5</h5>
		<h6>Заголовок h6, .h6</h6>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate autem facere ipsum blanditiis fuga, ut necessitatibus voluptatibus, earum asperiores alias voluptatem totam, inventore officia dolor culpa. Libero vero tenetur reiciendis.</p>
		<ul>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem, ipsum.</li>
		</ul>
		<h2>Заголовок h2, .h2</h3>
			<p>Illum non deserunt consequuntur repellat! Unde cumque maiores illo voluptatibus ab sunt reiciendis laudantium dolor recusandae officia? Ea facilis harum, sed maxime deleniti cumque, repudiandae, hic iure corporis architecto illum.</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate autem facere ipsum blanditiis fuga, ut necessitatibus voluptatibus, earum asperiores alias voluptatem totam, inventore officia dolor culpa. Libero vero tenetur reiciendis.</p>
			<img src="./img/dev/article-team.jpg" width="" height="">
			<p>
				Sint ducimus dolores nihil, voluptatum distinctio esse doloribus ipsum. Eligendi recusandae eos, veritatis perferendis laboriosam tempore, velit dignissimos distinctio neque, officia blanditiis a et porro ea odit iure voluptatibus. Inventore!
				Tenetur iure, excepturi odio recusandae ipsa veritatis dolorem, aperiam repudiandae non totam ipsam aut rem! Sed totam sunt error eius cum natus vitae sit ad dolore? Similique, obcaecati. Incidunt, unde.
				Repellendus repudiandae distinctio voluptatum eius sequi, quam eos quidem earum tempore quo vel et porro blanditiis impedit at, repellat explicabo officiis culpa provident! Ipsa modi corporis sint iusto eum quidem!
			</p>
			<img src="./img/dev/article-team.jpg" width="" height="" title="Картинка снаружи тега&nbsp;p">
			<p>Illum non deserunt consequuntur repellat! Unde cumque maiores illo voluptatibus ab sunt reiciendis laudantium dolor recusandae officia? Ea facilis harum, sed maxime deleniti cumque, repudiandae, hic iure corporis architecto illum.</p>

			<figure class="quote">
				<div class="quote__content quote__content_wide">
					<blockquote>
						<p>Мы&nbsp;используем современные методы диагностики и&nbsp;лечения, чтобы обеспечить максимально эффективный результат.</p>
					</blockquote>
				</div>
			</figure>

			<ol>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem, ipsum.</li>
			</ol>
			<h3>Заголовок h3, .h3</h3>
			<p>
				Repellendus totam sapiente rerum quae, suscipit repudiandae est eaque nemo tempora optio, ea velit ut, ullam praesentium molestiae ipsa eius. Mollitia nihil at consequuntur accusantium eius nemo, laudantium optio vitae.
				Tenetur eius quisquam id cupiditate quidem eligendi error nesciunt, blanditiis minima. Eos aperiam nulla, adipisci minima voluptas iure dolor, fugit vitae perspiciatis dolorum recusandae id reiciendis, provident hic delectus doloremque.
				Deleniti, quis consectetur. Unde, explicabo! Reiciendis sit cupiditate eius nihil amet accusamus voluptas totam neque est earum eum nobis sed minima porro ipsam obcaecati, vero iste alias laudantium, vitae dolor.
			</p>
			<p>Lorem ipsum dolor, <b>sit amet consectetur adipisicing elit</b>. <a href="javascript:void(0)">Voluptate autem facere ipsum blanditiis fuga</a>, ut necessitatibus voluptatibus, earum asperiores alias voluptatem totam, inventore officia dolor culpa. Libero vero tenetur reiciendis.</p>
			<h4>Заголовок h4, .h4</h6>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate autem facere ipsum blanditiis fuga, ut necessitatibus voluptatibus, earum asperiores alias voluptatem totam, inventore officia dolor culpa. Libero vero tenetur reiciendis.</p>
				<ul>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, iusto qui nemo dolorum modi, reprehenderit saepe nisi enim ipsam sed odit esse architecto dolorem minima adipisci. Iusto nostrum dolor inventore?</li>
					<li>Lorem, ipsum.</li>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
				</ul>
				<p>
					Porro magni nobis, animi esse eos totam iste delectus, facilis enim accusamus cumque corrupti quod asperiores id sequi fugiat! Ratione repellat quod cum. Eligendi expedita assumenda dignissimos suscipit! Rerum, molestiae.
					Repellat ea voluptates minima non consectetur eos! Porro, exercitationem reiciendis magni fuga dolorum accusamus quos rerum minima voluptas dicta autem maiores officia vero ut molestiae quaerat, culpa suscipit reprehenderit sunt.
				</p>
				<p>
					<img src="./img/dev/article-cat.jpg" width="" height="" title="Картинка внутри тега&nbsp;p">
				</p>
	</div>

	<footer class="news-article__footer">
		<div class="news-article__author">Подготовила <br><b>Илларионова Лариса</b></div>
		<div class="news-article__meta">
			<time class="news-article__date" itemprop="datePublished" datetime="2025-10-15">15 октября 2025</time>
			<meta itemprop="dateModified" content="2025-10-15">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="Example Media">
				<meta itemprop="logo" content="https://example.com/img/logo.png">
			</span>
		</div>
	</footer>
</article>


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": "Заголовок новости",
  "datePublished": "2025-10-15",
  "dateModified": "2025-10-15",
  "publisher": {
    "@type": "Organization",
    "name": "Example Media",
    "logo": {
      "@type": "ImageObject",
      "url": "https://example.com/img/logo.png"
    }
  },
  "description": "Краткое описание новости (до 200 символов)."
}
</script>