<div class="branches-light">
	<div class="branches-light__container">
		<div class="branch-light">
			<h3 class="branch-light__title">Клиника на&nbsp;<strong>Серпуховской</strong></h3>
			<div class="branch-light__location">
				<div class="location" style="--c: #999999;">м. Серпуховская</div>
			</div>
			<div class="branch-light__text">
				<ul>
					<li>КТ&nbsp;с&nbsp;контрастированием</li>
					<li>КТ + биопсия за&nbsp;одну анестезию</li>
					<li>Pulmo CT/KT + BAL</li>
					<li>Урография и&nbsp;лимфангиография</li>
					<li>Референсная и&nbsp;интервенционная&nbsp;КТ</li>
				</ul>
			</div>
		</div>

		<div class="branch-light">
			<h3 class="branch-light__title">Клиника на&nbsp;<strong>Введенского</strong></h3>
			<div class="branch-light__location">
				<div class="location" style="--c: #ed9121;">м. Беляево</div>
			</div>
			<div class="branch-light__text">
				<ul>
					<li>Диагностическая КТ</li>
					<li>Onco Fast Track</li>
					<li>Маршрут к&nbsp;онкологу</li>
					<li>Связь с&nbsp;лучевой терапией</li>
					<li>Онкологическая&nbsp;КТ</li>
				</ul>
			</div>
		</div>
	</div>
</div>