<div class="tabs">
	<div class="tabs__nav js-tab-buttons">
		<button type="button" class="btn btn_tab" data-tab="tab-anesteziya">Анестезия</button>
		<button type="button" class="btn btn_tab" data-tab="tab-uzi">УЗИ</button>
		<button type="button" class="btn btn_tab" data-tab="tab-kt">КТ</button>
		<button type="button" class="btn btn_tab" data-tab="tab-rentgen">Рентген</button>
		<button type="button" class="btn btn_tab" data-tab="tab-metapets">Метапетс</button>
	</div>
	<div class="tabs__content js-tab-content">

		<div class="tab" data-tab-content="tab-anesteziya">
			<div class="tab__cols">
				<div class="tab__col">
					<div class="tab__header">
						Наркозно-дыхательный аппарат высокого класса <strong>Mindray WATO EX-35 Pro</strong>
					</div>
					<div class="tab-tags">
						<div class="tab-tags__header">
							Преимущества аппарата
						</div>
						<div class="tab-tags__list">
							<div class="tab-tag">Безопасное и&nbsp;контролируемое проведение анестезии</div>
							<div class="tab-tag">Для животных любого размера</div>
							<div class="tab-tag">Система мониторинга дыхания и&nbsp;жизненных показателей</div>
						</div>
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__img">
						<img src="./img/upload/tab-img-1.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__body">
						Аппарат обеспечивает полный контроль за&nbsp;состоянием животного во&nbsp;время наркоза. Это позволяет проводить хирургические вмешательства максимально комфортно и&nbsp;безопасно.
					</div>
					<div class="tab__button">
						<button type="button" class="btn btn_md btn_wide" data-modal-show="modal-info">Записаться на приём</button>
					</div>
				</div>
			</div>
		</div>

		<div class="tab" data-tab-content="tab-uzi">
			<div class="tab__cols">
				<div class="tab__col">
					<div class="tab__header">
						УЗИ-аппарат <strong>Vetus 9</strong>
					</div>
					<div class="tab-tags">
						<div class="tab-tags__header">
							Преимущества аппарата
						</div>
						<div class="tab-tags__list">
							<div class="tab-tag">Высокое качество визуализации</div>
							<div class="tab-tag">Широкий спектр исследований</div>
							<div class="tab-tag">Удобный интерфейс</div>
							<div class="tab-tag">Современные датчики</div>
						</div>
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__img">
						<img src="./img/upload/tab-img-2.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__body">
						Современный УЗИ-аппарат, созданный специально для ветеринарии, обеспечивает высокую чёткость изображений и&nbsp;помогает ставить точные диагнозы и&nbsp;выявлять патологии на&nbsp;ранних стадиях.
					</div>
					<div class="tab__button">
						<button type="button" class="btn btn_md btn_wide" data-modal-show="modal-info">Записаться на приём</button>
					</div>
				</div>
			</div>
		</div>

		<div class="tab" data-tab-content="tab-kt">
			<div class="tab__cols">
				<div class="tab__col">
					<div class="tab__header">
						Компьютерный томограф <strong>SIEMENS SOMATOM go.Now</strong>
					</div>
					<div class="tab-tags">
						<div class="tab-tags__header">
							Преимущества аппарата
						</div>
						<div class="tab-tags__list">
							<div class="tab-tag">Мгновенная визуализация </div>
							<div class="tab-tag">Низкая доза облучения</div>
							<div class="tab-tag">Высочайшее качество изображения</div>
						</div>
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__img">
						<img src="./img/upload/tab-img-3.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__body">
						Быстрое сканирование, детализированные 3D-изображения и&nbsp;безопасная низкая доза облучения позволяют быстро оценить масштаб проблемы и&nbsp;приступить к&nbsp;лечению на&nbsp;раннем этапе заболевания.
					</div>
					<div class="tab__button">
						<button type="button" class="btn btn_md btn_wide" data-modal-show="modal-info">Записаться на приём</button>
					</div>
				</div>
			</div>
		</div>

		<div class="tab" data-tab-content="tab-rentgen">
			<div class="tab__cols">
				<div class="tab__col">
					<div class="tab__header">
						Рентген-аппарат <strong>Zoomed VX-400</strong>
					</div>
					<div class="tab-tags">
						<div class="tab-tags__header">
							Преимущества аппарата
						</div>
						<div class="tab-tags__list">
							<div class="tab-tag">Высокая чёткость снимков</div>
							<div class="tab-tag">Быстрые результаты</div>
							<div class="tab-tag">Удобство использования</div>
						</div>
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__img">
						<img src="./img/upload/tab-img-4.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__body">
						Современный цифровой рентген позволяет получать результаты сразу после использования, облегчая работу ветеринарного специалиста и&nbsp;повышая эффективность лечения животных.
					</div>
					<div class="tab__button">
						<button type="button" class="btn btn_md btn_wide" data-modal-show="modal-info">Записаться на приём</button>
					</div>
				</div>
			</div>
		</div>

		<div class="tab" data-tab-content="tab-metapets">
			<div class="tab__cols">
				<div class="tab__col">
					<div class="tab__header">
						Умный интерактивный помощник <strong>Метапетс</strong>
					</div>
					<div class="tab-tags">
						<div class="tab-tags__header">
							Преимущества сервиса
						</div>
						<div class="tab-tags__list">
							<div class="tab-tag">ИИ-ассистент</div>
							<div class="tab-tag">Формирование документации</div>
							<div class="tab-tag">Второе мнение при диагностике</div>
							<div class="tab-tag">Резидент Сколково</div>
						</div>
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__img">
						<img src="./img/upload/tab-img-5.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__body">
						Сервис умной заботы и&nbsp;виртуальный помощник, созданный для владельцев питомцев и&nbsp;для ветеринарных специалистов. Метапетс ускоряет работу, упрощает рутину и&nbsp;помогает в&nbsp;принятии решений с&nbsp;помощью искусственного интеллекта.
					</div>
					<div class="tab__button">
						<button type="button" class="btn btn_md btn_wide js-metapets">Начать общение</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>