<div class="metapets-intro metapets-intro_reverse">
	<div class="metapets-intro__logo">
		<img src="./img/metapets-page-intro.svg" width="440" height="467" alt="" loading="lazy">
		<div class="metapets-intro__bg">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1088 1088">
				<g filter="url(#bg)" opacity="1">
					<circle cx="543.531" cy="543.532" r="207.5" fill="#8965fd" />
				</g>
				<defs>
					<filter id="bg" width="1087.06" height="1087.06" x="-.001" y="0" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
						<feFlood flood-opacity="0" result="BackgroundImageFix" />
						<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
						<feGaussianBlur result="effect1_foregroundBlur_5_14157" stdDeviation="168.016" />
					</filter>
				</defs>
			</svg>
		</div>
	</div>
	<div class="metapets-intro__text">
		<div class="metapets-intro__title"><strong>МетаПетс&nbsp;&mdash;</strong> виртуальный ассистент для владельцев питомцев и&nbsp;ветеринарных врачей</div>
		<div class="metapets-intro__description">
			<p>Я&nbsp;не&nbsp;обычный чат-бот. Моя цель&nbsp;&mdash; ускорять работу, упрощать рутину и&nbsp;помогать в&nbsp;постановке диагноза с&nbsp;помощью&nbsp;ИИ</p>
		</div>
		<div class="metapets-intro__link">
			<button type="button" class="btn btn_lg js-metapets" aria-label="Начать общение в чате МетаПетс">Начать общение</button>
		</div>
	</div>
</div>