<div class="section-header">
	<div class="section-header__title">
		<div class="h1">Как добраться</div>
	</div>
</div>

<div class="section-route section-route_text-wide">
	<div class="section-route__picture">
		<img src="./img/upload/NVT-route-vertical.png" width="" height="" alt="" loading="lazy" decoding="async">
	</div>
	<div class="section-route__text">
		<p>Клиника «НьюВетТех» находится по&nbsp;адресу: г. Москва, ул. Большая Серпуховская, д.62, к.2. На&nbsp;территории есть бесплатная парковка для посетителей клиники.</p>
		<h6>На&nbsp;машине</h6>
		<br>
		<p><strong>Садовое кольцо</strong></p>
		<ol>
			<li>С&nbsp;Садового кольца выполните поворот на&nbsp;Люсиновскую улицу (ориентир&nbsp;— 1-й вход метро «Добрынинская»)</li>
			<li>После первого крупного перекрёстка займите крайнюю левую полосу</li>
			<li>На&nbsp;следующем светофоре поверните налево на&nbsp;Большую Серпуховскую улицу</li>
			<li>Непосредственно перед домом №&nbsp;62&nbsp;сверните налево во&nbsp;двор</li>
		</ol>
		<br>
		<p><strong>Третье транспортное кольцо (ТТК)</strong></p>
		<ol>
			<li>Съезжайте на&nbsp;Большую Тульскую улицу</li>
			<li>Займите второй ряд справа и&nbsp;продолжайте движение прямо на&nbsp;Люсиновскую улицу, затем поверните на&nbsp;Большую Серпуховскую улицу</li>
			<li>Непосредственно перед домом №&nbsp;62&nbsp;сверните налево во&nbsp;двор</li>
		</ol>
		<br>
		<h6>Пешком</h6>
		<br>
		<p>М.&nbsp;Серпуховская&nbsp;— выход из&nbsp;метро направо. На&nbsp;улице развернуться на&nbsp;180 градусов и&nbsp;идти по&nbsp;ул. Большая Серпуховская до&nbsp;дома 62. За&nbsp;ним повернуть направо во&nbsp;двор. Увидите отдельно стоящее здание и&nbsp;вывеску «НьюВетТех». Время в&nbsp;пути 10&nbsp;мин.</p>
		<p>М.&nbsp;Добрынинская. Справа от&nbsp;выхода из&nbsp;метро остановка&nbsp;— ехать на&nbsp;любом автобусе (м86, м9, м90, с932), кроме е85&nbsp;— 4&nbsp;остановки до&nbsp;«Детская поликлиника». Перейти дорогу и&nbsp;войти во&nbsp;двор между 53&nbsp;и&nbsp;55&nbsp;домом по&nbsp;ул. Люсиновская. Во&nbsp;дворе повернуть на&nbsp;детскую площадку, за&nbsp;ней будет двухэтажное кирпичное здание с&nbsp;вывеской «НьюВетТех».</p>
	</div>
</div>

<div class="section-route section-route_vertical">
	<div class="section-route__picture">
		<a href="/img/upload/NVT-route-1-1920.png" class="cursor-zoom" data-fancybox>
			<picture>
				<source media="(min-width: 1025px)" srcset="./img/upload/NVT-route-1-1920.png">
				<source media="(min-width: 769px)" srcset="./img/upload/NVT-route-1-1848.png">
				<source media="(min-width: 431px)" srcset="./img/upload/NVT-route-1-1336.png">
				<source srcset="./img/upload/NVT-route-1-640.png">
				<img src="./img/upload/NVT-route-1-1920.png" width="" height="" alt="" loading="lazy" decoding="async">
			</picture>
		</a>
	</div>
	<div class="section-route__text">
		<p>Клиника &laquo;НьюВетТех&raquo; находится по&nbsp;адресу: г. Москва, ул. Большая Серпуховская, д.62, к.2. На&nbsp;территории есть бесплатная парковка для посетителей клиники.</p>
		<h4>На&nbsp;машине</h4>
		<br>
		<p><strong>Садовое кольцо</strong></p>
		<ol>
			<li>С&nbsp;Садового кольца выполните поворот на&nbsp;Люсиновскую улицу (ориентир&nbsp;&mdash; 1-й вход метро &laquo;Добрынинская&raquo;)</li>
			<li>После первого крупного перекрёстка займите крайнюю левую полосу</li>
			<li>На&nbsp;следующем светофоре поверните налево на&nbsp;Большую Серпуховскую улицу</li>
			<li>Непосредственно перед домом &#8470;&nbsp;62&nbsp;сверните налево во&nbsp;двор</li>
		</ol>
		<p><strong>Третье транспортное кольцо (ТТК)</strong></p>
		<ol>
			<li>Съезжайте на&nbsp;Большую Тульскую улицу</li>
			<li>Займите второй ряд справа и&nbsp;продолжайте движение прямо на&nbsp;Люсиновскую улицу, затем поверните на&nbsp;Большую Серпуховскую улицу</li>
			<li>Непосредственно перед домом &#8470;&nbsp;62&nbsp;сверните налево во&nbsp;двор</li>
		</ol>
		<h4>Пешком</h4>
		<br>
		<p>Ближайшая станция метро&nbsp;&mdash; &laquo;Серпуховская&raquo;. От&nbsp;выхода из&nbsp;метро до&nbsp;клиники пешком около 7&ndash;10&nbsp;минут.</p>
		<p>От&nbsp;метро &laquo;Тульская&raquo; или &laquo;Добрынинская&raquo; до&nbsp;остановки &laquo;Детская поликлиника&raquo; можно доехать на&nbsp;автобусах М90, М9, М86, Н8.</p>
	</div>
</div>