<div class="quote">
	<figure class="quote__wrapper">
		<div class="quote__photo">
			<!-- <picture>
				<source media="(min-width: 1025px)" srcset="./img/upload/person-2.jpg">
				<source media="(min-width: 431px)" srcset="./img/upload/person-2.jpg">
				<source srcset="./img/upload/person-2.jpg">
				<img src="./img/upload/person-2.jpg" width="" height="" alt="" loading="lazy" decoding="async">
			</picture> -->

			<img src="./img/upload/person-8-quote.jpg" width="" height="" alt="" loading="lazy" decoding="async">
		</div>
		<div class="quote__content">
			<blockquote>
				<p>Мы&nbsp;используем современные методы диагностики и&nbsp;лечения, чтобы обеспечить максимально эффективный результат. <strong>Мы&nbsp;лечим, Вы&nbsp;любите&nbsp;&mdash; идеальное сочетание.</strong></p>
			</blockquote>
			<figcaption>
				<div class="quote__author">
					<p class="quote__name">Лапшин<br>Максим Николаевич</p>
					<p class="quote__position">Исполнительный директор клиники на&nbsp;Большой Серпуховской</p>
				</div>
			</figcaption>
		</div>
	</figure>
</div>