<div class="process">
	<div class="process__list">

		<div class="process__item">
			<div class="process__number">1</div>
			<div class="process__content">
				<div class="process__title">Подготовка</div>
				<p class="process__description">Голодная пауза и&nbsp;документы</p>
			</div>
		</div>

		<div class="process__item">
			<div class="process__number">2</div>
			<div class="process__content">
				<div class="process__title">Консультация</div>
				<p class="process__description">Определение задачи исследования</p>
			</div>
		</div>

		<div class="process__item">
			<div class="process__number">3</div>
			<div class="process__content">
				<div class="process__title">Исследование</div>
				<p class="process__description">КТ&nbsp;по&nbsp;выбранному протоколу</p>
			</div>
		</div>

		<div class="process__item">
			<div class="process__number">4</div>
			<div class="process__content">
				<div class="process__title">Заключение</div>
				<p class="process__description">Описание и&nbsp;ответы на&nbsp;вопросы</p>
			</div>
		</div>

		<div class="process__item">
			<div class="process__number">5</div>
			<div class="process__content">
				<div class="process__title">Маршрут</div>
				<p class="process__description">Следующий шаг лечения</p>
			</div>
		</div>
	</div>
</div>