<div class="section-info section-info_grid no-print">
	<div class="section-info__item js-metapets">
		<div class="section-info__content section-info__content_right">
			<div class="section-info__header">
				<svg aria-hidden="true" viewBox="0 0 244 54">
					<use href="#metapets-logo"></use>
				</svg>
			</div>
			<div class="section-info__body">
				<ul>
					<li>поддержка 24/7</li>
					<li>запись к врачу</li>
					<li>рекомендации</li>
					<li>расшифровка анализов</li>
					<li>поиск специалиста</li>
				</ul>
			</div>
		</div>
		<div class="section-info__bg">
			<img src="./img/upload/section-info-metapets-bg.jpg" width="" height="" alt="" loading="lazy" decoding="async">
		</div>
	</div>

	<div class="section-info__item js-metapets">
		<div class="section-info__content section-info__content_bubbles">
			<div class="section-info__header">
				Попробуй прямо сейчас!
			</div>
			<div class="section-info__body">
				<div class="bubble bubble_to">
					Ты&nbsp;сможешь расшифровать анализы собаки?
				</div>
				<div class="bubble bubble_from">
					Да, конечно! Также я&nbsp;могу дать рекомендации по&nbsp;здоровью питомца на&nbsp;данный момент.
				</div>
			</div>
			<div class="section-info__footer">
				<button type="button" class="btn btn_md btn_white btn_icon btn_metapets js-metapets">Напишите мне</button>
			</div>
		</div>
	</div>
</div>