<div class="important-info">
	<div class="important-info__alert">
		<div class="important-info__label">
			<div class="important-info__icon">
				<svg aria-hidden="true" viewBox="0 0 48 43">
					<use href="#icon-alert"></use>
				</svg>
			</div>
			<span>Важная информация</span>
		</div>
		<div class="important-info__great">5</div>
		<div class="important-info__sub">Симптомов, угрожающих здоровью</div>
	</div>
	<div class="important-info__body">
		<div class="important-info__description">
			<p><strong>Дыхание</strong> <br />питомец тяжело дышит, хрипит, стали синюшными дёсны</p>
			<p><strong>Сердцебиение</strong> <br />слишком частый или слишком редкий пульс, слабый нитевидный пульс, бледные слизистые</p>
			<p><strong>Сознание</strong> <br />судороги, потеря сознания, кома, неспособность встать, дезориентация</p>
			<p><strong>Метаболические нарушения</strong> <br />отказ от&nbsp;еды и&nbsp;воды более суток, неукротимая рвота/диарея</p>
			<p><strong>Острая боль</strong> <br />питомец не&nbsp;даёт прикоснуться, стонет, агрессивен, не&nbsp;находит себе места</p>
		</div>
		<div class="important-info__link">
			<button type="button" class="btn btn_lg js-metapets" aria-label="Проконсультироваться в чате МетаПетс">Проконсультироваться</button>
		</div>
	</div>
</div>