<div class="news-nav">
	<a href="javascript:void(0)" class="btn btn_lg btn_news">Новости</a>
	<a href="javascript:void(0)" class="btn btn_lg btn_news">Акции</a>
	<a href="javascript:void(0)" class="btn btn_lg btn_news">Полезное</a>
</div>

<div class="news-list">

	<div class="news-card">
		<a href="./publication.html" class="news-card__link" aria-label="Читать статью: Как помыть питомца.">
			<div class="news-card__photo">
				<img src="./img/dev/news-2.jpg" width="305" height="204" alt="" loading="lazy" decoding="async">
			</div>
			<div class="news-card__text">
				<div class="news-card__header h5">Как помыть питомца.</div>
				<div class="news-card__preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio esse iure, vitae commodi eius quia aliquid, iusto necessitatibus dolorem aperiam dicta veniam inventore error earum consequuntur velit dolores illo.</div>
			</div>
		</a>
	</div>

	<div class="news-card">
		<a href="./publication.html" class="news-card__link" aria-label="Читать статью: Как подготовить питомца к&nbsp;походу в&nbsp;клинику.">
			<div class="news-card__photo">
				<img src="./img/dev/news-1.jpg" width="305" height="204" alt="" loading="lazy" decoding="async">
			</div>
			<div class="news-card__text">
				<div class="news-card__header h5">Как подготовить питомца к&nbsp;походу в&nbsp;клинику.</div>
				<div class="news-card__preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio esse iure, vitae commodi eius quia aliquid, iusto necessitatibus dolorem aperiam dicta veniam inventore error earum consequuntur velit dolores illo.</div>
			</div>
		</a>
	</div>

	<div class="news-card">
		<a href="./publication.html" class="news-card__link" aria-label="Читать статью: Как помыть питомца.">
			<div class="news-card__photo">
				<img src="./img/dev/news-2.jpg" width="305" height="204" alt="" loading="lazy" decoding="async">
			</div>
			<div class="news-card__text">
				<div class="news-card__header h5">Как помыть питомца.</div>
				<div class="news-card__preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio esse iure, vitae commodi eius quia aliquid, iusto necessitatibus dolorem aperiam dicta veniam inventore error earum consequuntur velit dolores illo.</div>
			</div>
		</a>
	</div>

	<div class="news-card">
		<a href="./publication.html" class="news-card__link" aria-label="Читать статью: Как подготовить питомца к&nbsp;походу в&nbsp;клинику.">
			<div class="news-card__photo">
				<img src="./img/dev/news-1.jpg" width="305" height="204" alt="" loading="lazy" decoding="async">
			</div>
			<div class="news-card__text">
				<div class="news-card__header h5">Как подготовить питомца к&nbsp;походу в&nbsp;клинику.</div>
				<div class="news-card__preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio esse iure, vitae commodi eius quia aliquid, iusto necessitatibus dolorem aperiam dicta veniam inventore error earum consequuntur velit dolores illo.</div>
			</div>
		</a>
	</div>

	<div class="news-card">
		<a href="./publication.html" class="news-card__link" aria-label="Читать статью: Как помыть питомца.">
			<div class="news-card__photo">
				<img src="./img/dev/news-2.jpg" width="305" height="204" alt="" loading="lazy" decoding="async">
			</div>
			<div class="news-card__text">
				<div class="news-card__header h5">Как помыть питомца.</div>
				<div class="news-card__preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio esse iure, vitae commodi eius quia aliquid, iusto necessitatibus dolorem aperiam dicta veniam inventore error earum consequuntur velit dolores illo.</div>
			</div>
		</a>
	</div>

	<div class="news-card">
		<a href="./publication.html" class="news-card__link" aria-label="Читать статью: Как подготовить питомца к&nbsp;походу в&nbsp;клинику.">
			<div class="news-card__photo">
				<img src="./img/dev/news-1.jpg" width="305" height="204" alt="" loading="lazy" decoding="async">
			</div>
			<div class="news-card__text">
				<div class="news-card__header h5">Как подготовить питомца к&nbsp;походу в&nbsp;клинику.</div>
				<div class="news-card__preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio esse iure, vitae commodi eius quia aliquid, iusto necessitatibus dolorem aperiam dicta veniam inventore error earum consequuntur velit dolores illo.</div>
			</div>
		</a>
	</div>

	<div class="news-card">
		<a href="./publication.html" class="news-card__link" aria-label="Читать статью: Как помыть питомца.">
			<div class="news-card__photo">
				<img src="./img/dev/news-2.jpg" width="305" height="204" alt="" loading="lazy" decoding="async">
			</div>
			<div class="news-card__text">
				<div class="news-card__header h5">Как помыть питомца.</div>
				<div class="news-card__preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio esse iure, vitae commodi eius quia aliquid, iusto necessitatibus dolorem aperiam dicta veniam inventore error earum consequuntur velit dolores illo.</div>
			</div>
		</a>
	</div>

	<div class="news-card">
		<a href="./publication.html" class="news-card__link" aria-label="Читать статью: Как подготовить питомца к&nbsp;походу в&nbsp;клинику.">
			<div class="news-card__photo">
				<img src="./img/dev/news-1.jpg" width="305" height="204" alt="" loading="lazy" decoding="async">
			</div>
			<div class="news-card__text">
				<div class="news-card__header h5">Как подготовить питомца к&nbsp;походу в&nbsp;клинику.</div>
				<div class="news-card__preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio esse iure, vitae commodi eius quia aliquid, iusto necessitatibus dolorem aperiam dicta veniam inventore error earum consequuntur velit dolores illo.</div>
			</div>
		</a>
	</div>


</div>