<div class="service-group">
	<div class="service-group__accordion accordion js-accordion">
		<div class="accordion__item js-accordion-item">
			<h3 class="accordion__header">
				<button type="button" id="accordion-trigger-114" class="accordion__trigger js-accordion-trigger" aria-expanded="false" aria-controls="accordion-panel-114">
					Компьютерная томография </button>
			</h3>
			<div id="accordion-panel-114" class="accordion__content" role="region" aria-hidden="true" aria-labelledby="accordion-trigger-114">
				<div class="service-group__list">
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">Компьютерная томография одного отдела (голова, мягкие ткани шеи, сустав на 2 конечностях, один отдел позвоночного столба, грудная клетка, брюшная полость</h4>
							<div class="service-group-item__price">8&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">(контраст КТ) кошки и собаки 1-10 кг</h4>
							<div class="service-group-item__price">2&nbsp;500 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">(контраст КТ) собаки 11-20 кг</h4>
							<div class="service-group-item__price">4&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">(контраст КТ) собаки 21-30 кг</h4>
							<div class="service-group-item__price">5&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">(контраст КТ) собаки 31-50 кг</h4>
							<div class="service-group-item__price">6&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">(контраст КТ) собаки 51кг+</h4>
							<div class="service-group-item__price">7&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">Компьютерная томография, скрининг одного отдела без заключения - без стоимости анестезии</h4>
							<div class="service-group-item__price">6&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">Компьютерная томография, 1 отдела (грызуны/зайцеобразным и пр.) - без стоимости анестезии</h4>
							<div class="service-group-item__price">6&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">Компьютерная томография грудных или тазовых конечностей - без стоимости анестезии</h4>
							<div class="service-group-item__price">13&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">Компьютерная томография скрининг одного отдела (любого) без заключения) - без стоимости анестезии</h4>
							<div class="service-group-item__price">6&nbsp;500 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">Компьютерная томография головы и шеи - без стоимости анестезии</h4>
							<div class="service-group-item__price">11&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">Компьютерная томография смежных суставов (локти/плечи, локти/лучезапястный, ТБС/колени, колени/скакательный) - без стоимости анестезии</h4>
							<div class="service-group-item__price">10&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">Лимфангиография (КТ) - без стоимости анестезии</h4>
							<div class="service-group-item__price">7&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">КТ миелография - без стоимости анестезии</h4>
							<div class="service-group-item__price">7&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">Выделительная урография (без учёта КТ и контраста) - без стоимости анестезии</h4>
							<div class="service-group-item__price">6&nbsp;000 руб</div>
						</div>
					</div>
					<div class="service-group-item">
						<div class="service-group-item__row">
							<h4 class="service-group-item__name">КТ после операции</h4>
							<div class="service-group-item__price">6&nbsp;500 руб</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="service-group__note">
			<div class="service-group__note-text">
				<div class="service-group__note-title">
					Не&nbsp;уверены, какой расчёт выбрать?
				</div>
				<div class="service-group__note-sub">
					Координатор уточнит задачу и&nbsp;поможет с&nbsp;маршрутом
				</div>
			</div>
			<div class="service-group__note-button">
				<button type="button" class="btn btn_md js-metapets" title="Получить консультацию">Получить консультацию</button>
			</div>
		</div>
	</div>
</div>