<div class="tabs">
	<div class="tabs__nav js-tab-buttons">
		<button type="button" class="btn btn_tab" data-tab="tab-kt">КТ</button>
	</div>
	<div class="tabs__content js-tab-content">

		<div class="tab" data-tab-content="tab-kt">
			<div class="tab__cols">
				<div class="tab__col">
					<div class="tab__header">
						Компьютерный томограф <strong>SIEMENS SOMATOM go.Now (Сименс Соматом го.Нау)</strong>
					</div>
					<div class="tab-tags">
						<div class="tab-tags__header">
							Преимущества аппарата
						</div>
						<div class="tab-tags__list">
							<div class="tab-tag">Мгновенная визуализация </div>
							<div class="tab-tag">Низкая доза облучения</div>
							<div class="tab-tag">Высочайшее качество изображения</div>
						</div>
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__img">
						<img src="./img/upload/tab-img-7.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__body">
						Быстрое сканирование, детализированные 3D-изображения и&nbsp;безопасная низкая доза облучения позволяют быстро оценить масштаб проблемы и&nbsp;приступить к&nbsp;лечению на&nbsp;раннем этапе заболевания.
					</div>
					<div class="tab__button">
						<button type="button" class="btn btn_md btn_wide js-metapets" aria-label="Записаться на приём: открыть чат Метапетс">Записаться на&nbsp;приём</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>