<div class="stages">
	<div class="stages__container">
		<div class="stage-card">
			<span class="stage-card__number">1</span>
			<div class="stage-card__data">
				<h3 class="stage-card__title">Круглосуточное наблюдение</h3>
				<div class="stage-card__text">
					Измерение температуры, ЧДД, ЧСС. Контроль анализов крови
				</div>
			</div>
		</div>

		<div class="stage-card">
			<span class="stage-card__number">2</span>
			<div class="stage-card__data">
				<h3 class="stage-card__title">Инфузионная терапия и&nbsp;ИВЛ</h3>
				<div class="stage-card__text">
					Парентеральное питание, инъекции, кислородная терапия
				</div>
			</div>
		</div>

		<div class="stage-card">
			<span class="stage-card__number">3</span>
			<div class="stage-card__data">
				<h3 class="stage-card__title">Необходимые процедуры</h3>
				<div class="stage-card__text">
					Кормление через зонд, перевязки, обработка ран, физиотерапия
				</div>
			</div>
		</div>

		<div class="stage-card">
			<span class="stage-card__number">4</span>
			<div class="stage-card__data">
				<h3 class="stage-card__title">Базовый уход</h3>
				<div class="stage-card__text">
					Кормление, гигиена, выгул, уборка лотков и&nbsp;боксов
				</div>
			</div>
		</div>
	</div>
</div>