<div class="f-section f-section_bg-center">
	<div class="f-section__col f-section__col_left">
		<div class="f-section__header">
			<svg aria-hidden="true" viewBox="0 0 318 70">
				<use href="#logo-text"></use>
			</svg>
		</div>
		<div class="f-section__body f-section__body_left center-to-lg">
			<strong>
				Для нас работа&nbsp;&mdash; это&nbsp;призвание
			</strong>
			<p>
				Присоединяйтесь к&nbsp;команде единомышленников, для которых карьерный рост и&nbsp;забота о&nbsp;здоровье наших пациентов&nbsp;&mdash; неразрывны.
			</p>
		</div>
		<div class="f-section__footer">
			<a href="javascript:void(0)" class="btn btn_md btn_icon btn_3d-tour">Видеотур по клинике</a>
		</div>
	</div>

	<div class="f-section__col f-section__col_right">
		<div class="f-section__body">
			<ul>
				<li>Обучение, тренинги, доступ к&nbsp;экспертной базе знаний</li>
				<li>Работа с&nbsp;высокоточным диагностическим и&nbsp;лечебным оборудованием</li>
				<li>Поддержка и&nbsp;наставничество</li>
				<li>Дружелюбная атмосфера</li>
				<li>Конкурентная заработная плата, премии и&nbsp;бонусы за&nbsp;достижения</li>
				<li>Забота о&nbsp;сотрудниках</li>
				<li>Участие в&nbsp;интересных проектах, возможность реализовать свой потенциал</li>
			</ul>
		</div>
		<div class="f-section__footer">
			<a href="javascript:void(0)" class="btn btn_md btn_wrap" data-modal-show="modal-info">Присоединиться к команде</a>
		</div>
	</div>

	<div class="f-section__bg">
		<picture>
			<source media="(min-width: 1024px)" srcset="./img/features/team.webp" type="image/webp">
			<source srcset="./img/features/team-320.webp" type="image/webp">
			<img src="./img/features/team-320.jpg" width="" height="" alt="" loading="lazy" decoding="async">
		</picture>
	</div>
</div>