<div class="tabs">
	<div class="tabs__nav tabs__nav_parent js-tab-buttons">
		<button type="button" class="btn btn_tab" data-tab="tab-diag-base">Базовая</button>
		<button type="button" class="btn btn_tab" data-tab="tab-diag-ext">Расширенная</button>
	</div>
	<div class="tabs__content js-tab-content">
		<div class="tab" data-tab-content="tab-diag-base">
			<div class="tabs">
				<div class="tabs__nav js-tab-buttons">
					<button type="button" class="btn btn_tab" data-tab="tab-do-10-kg">&lt; 10&nbsp;кг</button>
					<button type="button" class="btn btn_tab" data-tab="tab-11-20-kg">11&ndash;20&nbsp;кг</button>
					<button type="button" class="btn btn_tab" data-tab="tab-21-30-kg">21&ndash;30&nbsp;кг</button>
					<button type="button" class="btn btn_tab" data-tab="tab-31-40-kg">31&ndash;40&nbsp;кг</button>
					<button type="button" class="btn btn_tab" data-tab="tab-ot-40-kg">&gt; 40&nbsp;кг</button>
				</div>
				<div class="tabs__content js-tab-content">
					<div class="tab" data-tab-content="tab-do-10-kg">
						<div class="tab__cols">
							<div class="tab__col">
								<div class="tab__header">
									<b>Стоимость</b> 22&nbsp;500&nbsp;₽
								</div>
								<div class="tab-tags"></div>
							</div>
							<div class="tab__col">
								<div class="tab__img">
									<img src="./img/upload/tab-base-1.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
								</div>
							</div>
							<div class="tab__col">
								<div class="tab__body">
									<h5>Маршрут без пауз</h5><br>
									<ul>
										<li>Приём онколога</li>
										<li>Определение необходимого объёма визуальной диагностики</li>
										<li>КТ&nbsp;по&nbsp;индивидуальному протоколу</li>
										<li>Получение материала при показаниях</li>
										<li>Определение дальнейшего маршрута: операция&nbsp;/ лучевая терапия&nbsp;/ системное лечение&nbsp;/ наблюдение</li>
									</ul>
								</div>
								<div class="tab__button">
									<button type="button" class="btn btn_md btn_white btn_wide js-metapets" aria-label="Записаться: открыть чат Метапетс">Записаться</button>
								</div>
							</div>
						</div>
					</div>

					<div class="tab" data-tab-content="tab-11-20-kg">
						<div class="tab__cols">
							<div class="tab__col">
								<div class="tab__header">
									<b>Стоимость</b> 25&nbsp;000&nbsp;₽
								</div>
								<div class="tab-tags"></div>
							</div>
							<div class="tab__col">
								<div class="tab__img">
									<img src="./img/upload/tab-base-2.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
								</div>
							</div>
							<div class="tab__col">
								<div class="tab__body">
									<h5>Маршрут без пауз</h5><br>
									<ul>
										<li>Приём онколога</li>
										<li>Определение необходимого объёма визуальной диагностики</li>
										<li>КТ&nbsp;по&nbsp;индивидуальному протоколу</li>
										<li>Получение материала при показаниях</li>
										<li>Определение дальнейшего маршрута: операция&nbsp;/ лучевая терапия&nbsp;/ системное лечение&nbsp;/ наблюдение</li>
									</ul>
								</div>
								<div class="tab__button">
									<button type="button" class="btn btn_md btn_white btn_wide js-metapets" aria-label="Записаться: открыть чат Метапетс">Записаться</button>
								</div>
							</div>
						</div>
					</div>

					<div class="tab" data-tab-content="tab-21-30-kg">
						<div class="tab__cols">
							<div class="tab__col">
								<div class="tab__header">
									<b>Стоимость</b> 27&nbsp;000&nbsp;₽
								</div>
								<div class="tab-tags"></div>
							</div>
							<div class="tab__col">
								<div class="tab__img">
									<img src="./img/upload/tab-base-3.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
								</div>
							</div>
							<div class="tab__col">
								<div class="tab__body">
									<h5>Маршрут без пауз</h5><br>
									<ul>
										<li>Приём онколога</li>
										<li>Определение необходимого объёма визуальной диагностики</li>
										<li>КТ&nbsp;по&nbsp;индивидуальному протоколу</li>
										<li>Получение материала при показаниях</li>
										<li>Определение дальнейшего маршрута: операция&nbsp;/ лучевая терапия&nbsp;/ системное лечение&nbsp;/ наблюдение</li>
									</ul>
								</div>
								<div class="tab__button">
									<button type="button" class="btn btn_md btn_white btn_wide js-metapets" aria-label="Записаться: открыть чат Метапетс">Записаться</button>
								</div>
							</div>
						</div>
					</div>

					<div class="tab" data-tab-content="tab-31-40-kg">
						<div class="tab__cols">
							<div class="tab__col">
								<div class="tab__header">
									<b>Стоимость</b> 29&nbsp;000&nbsp;₽
								</div>
								<div class="tab-tags"></div>
							</div>
							<div class="tab__col">
								<div class="tab__img">
									<img src="./img/upload/tab-base-4.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
								</div>
							</div>
							<div class="tab__col">
								<div class="tab__body">
									<h5>Маршрут без пауз</h5><br>
									<ul>
										<li>Приём онколога</li>
										<li>Определение необходимого объёма визуальной диагностики</li>
										<li>КТ&nbsp;по&nbsp;индивидуальному протоколу</li>
										<li>Получение материала при показаниях</li>
										<li>Определение дальнейшего маршрута: операция&nbsp;/ лучевая терапия&nbsp;/ системное лечение&nbsp;/ наблюдение</li>
									</ul>
								</div>
								<div class="tab__button">
									<button type="button" class="btn btn_md btn_white btn_wide js-metapets" aria-label="Записаться: открыть чат Метапетс">Записаться</button>
								</div>
							</div>
						</div>
					</div>

					<div class="tab" data-tab-content="tab-ot-40-kg">
						<div class="tab__cols">
							<div class="tab__col">
								<div class="tab__header">
									<b>Стоимость</b> 31&nbsp;000&nbsp;₽
								</div>
								<div class="tab-tags"></div>
							</div>
							<div class="tab__col">
								<div class="tab__img">
									<img src="./img/upload/tab-base-5.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
								</div>
							</div>
							<div class="tab__col">
								<div class="tab__body">
									<h5>Маршрут без пауз</h5><br>
									<ul>
										<li>Приём онколога</li>
										<li>Определение необходимого объёма визуальной диагностики</li>
										<li>КТ&nbsp;по&nbsp;индивидуальному протоколу</li>
										<li>Получение материала при показаниях</li>
										<li>Определение дальнейшего маршрута: операция&nbsp;/ лучевая терапия&nbsp;/ системное лечение&nbsp;/ наблюдение</li>
									</ul>
								</div>
								<div class="tab__button">
									<button type="button" class="btn btn_md btn_white btn_wide js-metapets" aria-label="Записаться: открыть чат Метапетс">Записаться</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="tab" data-tab-content="tab-diag-ext">
			<div class="tabs">
				<div class="tabs__nav js-tab-buttons">
					<button type="button" class="btn btn_tab" data-tab="tab-do-10-kg">&lt; 10&nbsp;кг</button>
					<button type="button" class="btn btn_tab" data-tab="tab-11-20-kg">11&ndash;20&nbsp;кг</button>
					<button type="button" class="btn btn_tab" data-tab="tab-21-30-kg">21&ndash;30&nbsp;кг</button>
					<button type="button" class="btn btn_tab" data-tab="tab-31-40-kg">31&ndash;40&nbsp;кг</button>
					<button type="button" class="btn btn_tab" data-tab="tab-ot-40-kg">&gt; 40&nbsp;кг</button>
				</div>
				<div class="tabs__content js-tab-content">
					<div class="tab" data-tab-content="tab-do-10-kg">
						<div class="tab__cols">
							<div class="tab__col">
								<div class="tab__header">
									<b>Стоимость</b> 29&nbsp;700&nbsp;₽
								</div>
								<div class="tab-tags"></div>
							</div>
							<div class="tab__col">
								<div class="tab__img">
									<img src="./img/upload/tab-base-1.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
								</div>
							</div>
							<div class="tab__col">
								<div class="tab__body">
									<h5>Маршрут без пауз</h5><br>
									<ul>
										<li>Приём онколога</li>
										<li>Определение необходимого объёма визуальной диагностики</li>
										<li>КТ&nbsp;по&nbsp;индивидуальному протоколу</li>
										<li>Получение материала при показаниях</li>
										<li>Определение дальнейшего маршрута: операция&nbsp;/ лучевая терапия&nbsp;/ системное лечение&nbsp;/ наблюдение</li>
										<li>Онкологический лабораторный профиль</li>
									</ul>
								</div>
								<div class="tab__button">
									<button type="button" class="btn btn_md btn_white btn_wide js-metapets" aria-label="Записаться: открыть чат Метапетс">Записаться</button>
								</div>
							</div>
						</div>
					</div>

					<div class="tab" data-tab-content="tab-11-20-kg">
						<div class="tab__cols">
							<div class="tab__col">
								<div class="tab__header">
									<b>Стоимость</b> 32&nbsp;200&nbsp;₽
								</div>
								<div class="tab-tags"></div>
							</div>
							<div class="tab__col">
								<div class="tab__img">
									<img src="./img/upload/tab-base-2.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
								</div>
							</div>
							<div class="tab__col">
								<div class="tab__body">
									<h5>Маршрут без пауз</h5><br>
									<ul>
										<li>Приём онколога</li>
										<li>Определение необходимого объёма визуальной диагностики</li>
										<li>КТ&nbsp;по&nbsp;индивидуальному протоколу</li>
										<li>Получение материала при показаниях</li>
										<li>Определение дальнейшего маршрута: операция&nbsp;/ лучевая терапия&nbsp;/ системное лечение&nbsp;/ наблюдение</li>
										<li>Онкологический лабораторный профиль</li>
									</ul>
								</div>
								<div class="tab__button">
									<button type="button" class="btn btn_md btn_white btn_wide js-metapets" aria-label="Записаться: открыть чат Метапетс">Записаться</button>
								</div>
							</div>
						</div>
					</div>

					<div class="tab" data-tab-content="tab-21-30-kg">
						<div class="tab__cols">
							<div class="tab__col">
								<div class="tab__header">
									<b>Стоимость</b> 34&nbsp;200&nbsp;₽
								</div>
								<div class="tab-tags"></div>
							</div>
							<div class="tab__col">
								<div class="tab__img">
									<img src="./img/upload/tab-base-3.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
								</div>
							</div>
							<div class="tab__col">
								<div class="tab__body">
									<h5>Маршрут без пауз</h5><br>
									<ul>
										<li>Приём онколога</li>
										<li>Определение необходимого объёма визуальной диагностики</li>
										<li>КТ&nbsp;по&nbsp;индивидуальному протоколу</li>
										<li>Получение материала при показаниях</li>
										<li>Определение дальнейшего маршрута: операция&nbsp;/ лучевая терапия&nbsp;/ системное лечение&nbsp;/ наблюдение</li>
										<li>Онкологический лабораторный профиль</li>
									</ul>
								</div>
								<div class="tab__button">
									<button type="button" class="btn btn_md btn_white btn_wide js-metapets" aria-label="Записаться: открыть чат Метапетс">Записаться</button>
								</div>
							</div>
						</div>
					</div>

					<div class="tab" data-tab-content="tab-31-40-kg">
						<div class="tab__cols">
							<div class="tab__col">
								<div class="tab__header">
									<b>Стоимость</b> 36&nbsp;200&nbsp;₽
								</div>
								<div class="tab-tags"></div>
							</div>
							<div class="tab__col">
								<div class="tab__img">
									<img src="./img/upload/tab-base-4.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
								</div>
							</div>
							<div class="tab__col">
								<div class="tab__body">
									<h5>Маршрут без пауз</h5><br>
									<ul>
										<li>Приём онколога</li>
										<li>Определение необходимого объёма визуальной диагностики</li>
										<li>КТ&nbsp;по&nbsp;индивидуальному протоколу</li>
										<li>Получение материала при показаниях</li>
										<li>Определение дальнейшего маршрута: операция&nbsp;/ лучевая терапия&nbsp;/ системное лечение&nbsp;/ наблюдение</li>
										<li>Онкологический лабораторный профиль</li>
									</ul>
								</div>
								<div class="tab__button">
									<button type="button" class="btn btn_md btn_white btn_wide js-metapets" aria-label="Записаться: открыть чат Метапетс">Записаться</button>
								</div>
							</div>
						</div>
					</div>

					<div class="tab" data-tab-content="tab-ot-40-kg">
						<div class="tab__cols">
							<div class="tab__col">
								<div class="tab__header">
									<b>Стоимость</b> 38&nbsp;200&nbsp;₽
								</div>
								<div class="tab-tags"></div>
							</div>
							<div class="tab__col">
								<div class="tab__img">
									<img src="./img/upload/tab-base-5.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
								</div>
							</div>
							<div class="tab__col">
								<div class="tab__body">
									<h5>Маршрут без пауз</h5><br>
									<ul>
										<li>Приём онколога</li>
										<li>Определение необходимого объёма визуальной диагностики</li>
										<li>КТ&nbsp;по&nbsp;индивидуальному протоколу</li>
										<li>Получение материала при показаниях</li>
										<li>Определение дальнейшего маршрута: операция&nbsp;/ лучевая терапия&nbsp;/ системное лечение&nbsp;/ наблюдение</li>
										<li>Онкологический лабораторный профиль</li>
									</ul>
								</div>
								<div class="tab__button">
									<button type="button" class="btn btn_md btn_white btn_wide js-metapets" aria-label="Записаться: открыть чат Метапетс">Записаться</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>