<div class="section-header">
	<div class="section-header__title">
		<div class="h1">Как добраться</div>
	</div>
</div>

<div class="section-route">
	<div class="section-route__picture">
		<a href="/img/upload/NVT-route-1-1920.png" class="cursor-zoom" data-fancybox>
			<picture>
				<source media="(min-width: 1025px)" srcset="./img/upload/NVT-route-1-1920.png">
				<source media="(min-width: 769px)" srcset="./img/upload/NVT-route-1-1848.png">
				<source media="(min-width: 431px)" srcset="./img/upload/NVT-route-1-1336.png">
				<source srcset="./img/upload/NVT-route-1-640.png">
				<img src="./img/upload/NVT-route-1-1920.png" width="" height="" alt="" loading="lazy" decoding="async">
			</picture>
		</a>
	</div>
	<div class="section-route__text">
		<p>Клиника &laquo;НьюВетТех&raquo; находится по&nbsp;адресу: г. Москва, ул. Большая Серпуховская, д.62, к.2. На&nbsp;территории есть бесплатная парковка для посетителей клиники.</p>
		<h4>На&nbsp;машине</h4>
		<br>
		<p><strong>Садовое кольцо</strong></p>
		<ol>
			<li>С&nbsp;Садового кольца выполните поворот на&nbsp;Люсиновскую улицу (ориентир&nbsp;&mdash; 1-й вход метро &laquo;Добрынинская&raquo;)</li>
			<li>После первого крупного перекрёстка займите крайнюю левую полосу</li>
			<li>На&nbsp;следующем светофоре поверните налево на&nbsp;Большую Серпуховскую улицу</li>
			<li>Непосредственно перед домом &#8470;&nbsp;62&nbsp;сверните налево во&nbsp;двор</li>
		</ol>
		<p><strong>Третье транспортное кольцо (ТТК)</strong></p>
		<ol>
			<li>Съезжайте на&nbsp;Большую Тульскую улицу</li>
			<li>Займите второй ряд справа и&nbsp;продолжайте движение прямо на&nbsp;Люсиновскую улицу, затем поверните на&nbsp;Большую Серпуховскую улицу</li>
			<li>Непосредственно перед домом &#8470;&nbsp;62&nbsp;сверните налево во&nbsp;двор</li>
		</ol>
		<h4>Пешком</h4>
		<br>
		<p>Ближайшая станция метро&nbsp;&mdash; &laquo;Серпуховская&raquo;. От&nbsp;выхода из&nbsp;метро до&nbsp;клиники пешком около 7&ndash;10&nbsp;минут.</p>
		<p>От&nbsp;метро &laquo;Тульская&raquo; или &laquo;Добрынинская&raquo; до&nbsp;остановки &laquo;Детская поликлиника&raquo; можно доехать на&nbsp;автобусах М90, М9, М86, Н8.</p>
	</div>
</div>