<div class="doctor">
	<div class="doctor__left">
		<div class="doctor__photo">
			<img src="./img/upload/person-3.jpg" width="300" height="300" alt="" loading="lazy" decoding="async">
		</div>
		<div class="doctor__info">
			<div class="doctor__cost cost">
				<div class="cost__label">Стоимость приёма</div>
				<div class="cost__sum">от 5000 ₽</div>
			</div>
			<div class="doctor__button">
				<button type="button" class="btn btn_md btn_white btn_wide" data-modal-show="modal-info" aria-label="Записаться к врачу Бобунова Ольга Дмитриевна">Записаться</button>
			</div>
		</div>
	</div>
	<div class="doctor__right">
		<div class="doctor__name">Бобунова<br>Ольга Дмитриевна</div>
		<div class="doctor__position">Руководитель отделения анестезиологии, реанимации и&nbsp;интенсивной терапии</div>
		<div class="doctor__experience experience">
			<div class="experience__label">Опыт работы:</div>
			<div class="experience__year">с 2013 года</div>
		</div>
		<div class="doctor__specialization">Специализация: анестезиология, реанимация и&nbsp;интенсивная терапия</div>
		<div class="doctor__about">
			<ul>
				<li>Окончила МГАВМиБ имени К.&nbsp;И.&nbsp;Скрябина в&nbsp;2015 году</li>
				<li>Профессиональные интересы: индивидуальный подбор протоколоанестезии с&nbsp;учётом особенностей пациента. Обеспечение максимального комфорта и&nbsp;безопасности на&nbsp;всех этапах лечения</li>
				<li>Дополнительная область интереса: терапия хорьков и&nbsp;других животных семейства куньих</li>
				<li>Вдохновение в&nbsp;работе черпает в&nbsp;заботе о&nbsp;собственных питомцах: русском чёрном терьере Зефи и&nbsp;двух котах&nbsp;&mdash; Чокопае и&nbsp;Пае</li>
			</ul>
		</div>
	</div>
</div>