<div class="tabs">
	<div class="tabs__nav js-tab-buttons">
		<button type="button" class="btn btn_tab" data-tab="tech-tab-1">Анестезия</button>
		<button type="button" class="btn btn_tab" data-tab="tech-tab-2">УЗИ</button>
		<button type="button" class="btn btn_tab" data-tab="tech-tab-3">КТ</button>
		<button type="button" class="btn btn_tab" data-tab="tech-tab-4">Рентген</button>
		<button type="button" class="btn btn_tab" data-tab="tech-tab-5">Метапетс</button>
	</div>
	<div class="tabs__content js-tab-content">
		<div class="tab" data-tab-content="tech-tab-1">
			<div class="tab__cols">
				<div class="tab__col">
					<div class="tab__header">
						Наркозно-дыхательный аппарат высокого класса <strong>Mindray WATO EX-65 Pro</strong>
					</div>
					<div class="tab-tags">
						<div class="tab-tags__header">
							Преимущества аппарата
						</div>
						<div class="tab-tags__list">
							<div class="tab-tag">Низкопотоковая анестезия</div>
							<div class="tab-tag">Электронные флоуметры</div>
							<div class="tab-tag">Модуль мультигазового анализа</div>
						</div>
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__img">
						<img src="./img/upload/tab-img-1.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__body">
						Инновационное оснащение помогает ветеринарным специалистам работать с&nbsp;максимальной точностью, повышая качество и&nbsp;скорость лечения. Внедрение технологичных решений&nbsp;&mdash; это инвестиция в&nbsp;здоровье питомцев.
					</div>
					<div class="tab__button">
						<button type="button" class="btn btn_md btn_wide">Записаться на приём</button>
					</div>
				</div>
			</div>
		</div>
		<div class="tab" data-tab-content="tech-tab-2">
			<div class="tab__cols">
				<div class="tab__col">
					<div class="tab__header">
						Наркозно-дыхательный аппарат высокого класса <strong>Mindray Vetus 9</strong>
					</div>
					<div class="tab-tags">
						<div class="tab-tags__header">
							Преимущества аппарата
						</div>
						<div class="tab-tags__list">
							<div class="tab-tag">Низкопотоковая анестезия</div>
							<div class="tab-tag">Электронные флоуметры</div>
						</div>
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__img">
						<img src="./img/upload/tab-img-2.jpg" width="335" height="335" alt="" loading="lazy" decoding="async">
					</div>
				</div>
				<div class="tab__col">
					<div class="tab__body">
						Инновационное оснащение помогает ветеринарным специалистам работать с&nbsp;максимальной точностью, повышая качество и&nbsp;скорость лечения. Внедрение технологичных решений&nbsp;&mdash; это инвестиция в&nbsp;здоровье питомцев.
					</div>
					<div class="tab__button">
						<button type="button" class="btn btn_md btn_wide">Записаться на приём</button>
					</div>
				</div>
			</div>
		</div>
		<div class="tab" data-tab-content="tech-tab-3">3</div>
		<div class="tab" data-tab-content="tech-tab-4">4</div>
		<div class="tab" data-tab-content="tech-tab-5">5</div>
	</div>
</div>