<div class="section-header">
	<div class="section-header__title section-header_main-logo">
		<svg aria-hidden="true" viewBox="0 0 243 245" class="logo-letter-no-slogan">
			<use href="#logo-letter"></use>
		</svg>
		<svg aria-hidden="true" viewBox="0 0 318 70" class="logo-text-no-slogan">
			<use href="#logo-text"></use>
		</svg>
		<h1 class="sr-only">НьюВетТех</h1>
	</div>
	<div class="section-header__subtitle">
		Сеть многопрофильных ветеринарных клиник доказательной медицины в&nbsp;Москве <strong>с&nbsp;широким&nbsp;спектром</strong> диагностических и&nbsp;лечебных услуг
	</div>
</div>