<div class="hero-actions">
	<a href="javascript:void(0)" class="hero-actions__btn action-emergency">
		<svg aria-hidden="true" viewBox="0 0 54 54">
			<use href="#icon-all-day"></use>
		</svg>
		Экстренная помощь</a>
	<a href="javascript:void(0)" class="hero-actions__btn action-metapets" aria-label="Открыть чат Метапетс">
		<svg aria-hidden="true" viewBox="0 0 244 54">
			<use href="#metapets-logo"></use>
		</svg>
	</a>
	<a href="tel:+74992888036" class="hero-actions__btn action-tel" aria-label="Позвонить по номеру +7 499 288 80 36">+7&nbsp;(499)&nbsp;288-80-36</a>
</div>