<div class="section-header section-header_wide">
	<div class="section-header__title">
		<div class="h1">Договор публичной оферты на оказание платных ветеринарных услуг</div>
	</div>
	<div class="section-header__body">
		Настоящий договор публичной оферты составлен в&nbsp;соответствии с&nbsp;требованиями XXX-XXX и&nbsp;определяет XXX-XXX Сетью клиник &laquo;НьюВетТех&raquo; <strong>(далее&nbsp;&mdash; Ньюветтех).</strong>
	</div>
</div>

<div class="section-text">
<p>ООО "НьюВетТех&raquo;"(ОГРН 5147746248326, ИНН 7718303830, КПП 772501001. Фактический адрес: Москва, ул. Большая Серпуховская д. 62 к. 2), именуемое в дальнейшем &laquo;Клиника&raquo;, в лице Генерального директора Яковлева Евгения Кирилловича, действующего на основании Устава с одной стороны, и &laquo;Владелец&raquo; - любое физическое лицо, совершившее действия, подтверждающее принятие условий настоящего Договора, с другой стороны, совместно именуемые &laquo;Стороны&raquo;, заключили настоящий Договор платных ветеринарных услуг и работ, ветеринарной помощи животному (пациенту) в соответствии с Правилами оказания платных ветеринарных услуг, утвержденными в Клинике, прейскурантом Клиники, далее по тексту &ndash; &laquo;Договор&raquo;, о нижеследующем:</p>
<ol>
<li aria-level="1">ОБЩИЕ ПОЛОЖЕНИЯ</li>
</ol>
<p>1.1. В соответствии со статьей 437 Гражданского Кодекса Российской Федерации (далее - ГК РФ) данный документ является публичной офертой (предложением), адресованным физическим лицам. В соответствии с п.1 ст.433 и п.3 ст.438 ГК РФ настоящий Договор считается заключенным на предложенных условиях с момента</p>
<ul>
<li aria-level="1">обращения в Клинику за оказанием ветеринарных услуг</li>
<li aria-level="1">оплаты услуг Клиники</li>
</ul>
<p>что является полным и безоговорочным принятием условий, предлагаемых в соответствии с настоящим <strong><em>Договором</em></strong> и <strong><em>Правилами оказания ветеринарных услуг</em></strong>, также является равносильным заключению Договора на оказание ветеринарных услуг на условиях, установленных в настоящей оферте.</p>
<ol>
<li aria-level="2">&nbsp;Владелец осуществляет полный и безоговорочный акцепт настоящей оферты. Если владелец не принимает условия оферты в полном объеме, то он не может обратиться за оказанием услуг. Акцепт настоящего Договора подтверждает, что Владелец ознакомлен с Правилами оказания ветеринарных услуг и полностью с ними согласен. Текст Правил располагается по адресу &hellip;&hellip;&hellip;&hellip;&hellip;.</li>
</ol>
<ol>
<li aria-level="2">&nbsp;Настоящий Договор, может быть, в любой момент изменен в одностороннем порядке Клиникой без какого-либо уведомления Владельца. Новая редакция настоящего Договора вступает в силу с момента размещения его на Сайте.</li>
</ol>
<ol>
<li aria-level="2">&nbsp;Актуальный и действительный текст оферты располагается на Сайте Клиники по адресу: <a href="https://newvettech.ru/">https://newvettech.ru/</a> и вступает в силу с момента ее размещения. Срок условий акцепта неограничен и действует до ее отзыва. Услуги, которые уже оформлены к моменту изменения или отзыва оферты, исполняются на условиях оферты, которая действовала на момент их оформления.</li>
</ol>
<p><br /><br /></p>
<ol>
<li aria-level="1">ПРЕДМЕТ ДОГОВОРА</li>
</ol>
<ol>
<li aria-level="2">&nbsp;В соответствии с условиями настоящего Договора Клиника обязуется оказать платные ветеринарные услуги Владельцу (консультативно-диагностическую и лечебно-профилактическую помощь) в отношении его животного, а Владелец обязуется оплатить оказанные услуги в полном объеме, в срок и надлежащим образом.</li>
</ol>
<ol>
<li aria-level="2">Конкретное наименование услуг, их объем и стоимость согласуются Владельцем и Клиникой на основании обращения Владельца. Согласование услуг происходит устно, либо иным способом по согласованию Сторон и детализируется в Заказ-наряде.</li>
</ol>
<ol>
<li aria-level="2">&nbsp;Учет конкретных видов оказанных услуг, а также объемов предоставленных услуг, их результатов ведется Клиникой в электронном виде и отражается в истории болезни. Сведения, содержащиеся в истории болезни являются официальным подтверждением объемов предоставленных услуг, а также их результатов.</li>
</ol>
<ol>
<li aria-level="2">&nbsp;Оказание ветеринарных услуг происходит в соответствии с требованиями законодательства РФ, а также в соответствии с общепринятыми методиками оказания ветеринарной помощи.</li>
</ol>
<ol>
<li aria-level="2">&nbsp;В целях настоящего Договора Стороны установили и подтверждают следующие существенные для настоящего Договора обстоятельства:</li>
</ol>
<ul>
<li aria-level="1">Животное принадлежит Владельцу на праве собственности или ином законном праве;</li>
<li aria-level="1">К правоотношениям, возникающим между Сторонами в связи с заключением настоящего Договора, не применяется законодательство, регламентирующее оказание медицинской помощи человеку, а также применяется законодательство Российской Федерации, регламентирующее деятельность лиц в отношении движимого имущества, в том числе Гражданский кодекс Российской Федерации.&nbsp;</li>
</ul>
<ol>
<li aria-level="2">&nbsp;Ветеринарная Клиника оказывает услуги руководствуясь такими существенными принципами как:</li>
</ol>
<ul>
<li aria-level="1">&nbsp;Отношение к животному как к существу, способному испытывать эмоции и&nbsp;</li>
</ul>
<p>физические страдания;</p>
<ul>
<li aria-level="1">&nbsp;Человек отвечает за жизнь животного без жестокого обращения;</li>
<li aria-level="1">&nbsp;Невозможность проведения на животном процедур, вызывающих боль, без обезболивающих лекарственных препаратов;</li>
<li aria-level="1">&nbsp;Научно обоснованное сочетание нравственных, экономических и социальных интересов человека, общества и государства</li>
</ul>
<ol>
<li aria-level="2">&nbsp;Настоящий Договор заключен в соответствии с законодательством Российской Федерации, в том числе в соответствии со статьёй 421 ГК РФ, ФЗ РФ &laquo;О ветеринарии&raquo; №4979-1 от 14.05.1993 года, ФЗ РФ &laquo;Об ответственном обращении с животными и о внесении изменений в отдельные законодательные акты РФ&raquo; №498-ФЗ от 27.12.2018 года.</li>
</ol>
<ol>
<li aria-level="1">ПРАВА И ОБЯЗАННОСТИ СТОРОН ПО ДОГОВОРУ</li>
<ol>
<li aria-level="2">Клиника обязуется:</li>
<ol>
<li aria-level="3">Проводить в условиях стационара (при наличии) или назначать для амбулаторного проведения комплекс ветеринарных услуг. Ветеринарные услуги оплачиваются в соответствии с прейскурантом, который установлен Клиникой.</li>
</ol>
</ol>
</ol>
<ol>
<li aria-level="3">Информировать Владельца по его запросу о порядке оказания услуг, ее значении и выявленном состоянии животного, давать пояснения о невозможности оказания услуги либо обстоятельствах, которые могут привести к изменению оказываемых услуг и результатов.</li>
</ol>
<ol>
<li aria-level="3">В случае необходимого уточнения диагноза у животного, по соответствующим показаниям, назначить дополнительные исследования, консультации, лечение, привлечь дополнительных специалистов вне зависимости от возможности увеличения размера оплаты Владельцем за услуги по Договору.</li>
</ol>
<ol>
<li aria-level="3">Предоставить Владельцу услуги в отношении животного, в соответствии с его заказом, имеющейся информации о животном, диагнозе и существующими необходимыми для оказания услуг ресурсами и возможностями (в том числе технических)</li>
</ol>
<ol>
<li aria-level="3">Выдать в течение 10 календарных дней по заявлению Владельца выписку из истории болезни животного Владельца, с указанием проведённых консультативно-диагностических и лечебно-профилактических мероприятий и их результатов</li>
</ol>
<ol>
<li aria-level="3">Поставить в известность Владельца о возможных осложнениях при оказании Ветеринарной помощи, которые могут повлечь риски для жизни и здоровья животного и порядке принятия предупредительных мер, а также иных, не зависящих от Клиники обстоятельствах, которые могут повлиять на качество оказываемых услуг.&nbsp;</li>
</ol>
<p><br /><br /></p>
<ol>
<li aria-level="2">Клиника имеет право:</li>
</ol>
<ol>
<li aria-level="3">Вводить программы лояльности для Владельцев</li>
</ol>
<ol>
<li aria-level="3">Вести видеонаблюдение в целях безопасности&nbsp;</li>
</ol>
<ol>
<li aria-level="3">Привлекать при необходимости и по своему усмотрению для оказания услуг третьих лиц.</li>
</ol>
<ol>
<li aria-level="3">Отказать в оказании ветеринарных услуг:</li>
</ol>
<ul>
<li aria-level="1">при предоставлении Владельцем неполных, недостоверных, а также заведомо ложных данных о состоянии здоровья животного, в том числе операциях, заболеваниях, травмах, проведенных вакцинациях и обработках от паразитов, наличии электронного чипа, аллергии на корм и медикаменты, о потреблении лекарственных и иных препаратов, методик для повышения эффективности использования у животного;&nbsp;</li>
<li aria-level="1">при нарушении Владельцем общественного порядка, оскорблении других посетителей и работников Клиники, предъявления угроз жизни и здоровью, имуществу Клиники, демонстрации оружия, похожих на него предметов, оскорблении и дискриминации сотрудников и посетителей в связи с физиологическими, национальными и религиозными особенностями, совершения противоправный действий, неадекватного поведения;&nbsp;</li>
<li aria-level="1">при наличии у Владельца признаков алкогольного, наркотического или токсического опьянения;&nbsp;</li>
<li aria-level="1">&nbsp;при несоблюдении предписаний и манипуляций, назначенных лечащим врачом и специалистами клиники;&nbsp;</li>
<li aria-level="1">при отсутствии письменного согласия Владельца на проведение диагностических, лечебно-профилактических и иных мероприятий, а также при неподписании необходимых документов, расписок и уведомлений;</li>
<li aria-level="1">&nbsp;при наличии задолженности за оказанные ветеринарные услуги;</li>
<li aria-level="1">&nbsp;если животное не вакцинировано против бешенства.</li>
</ul>
<ol>
<li aria-level="3">В случае выявления Ветеринарной Клиникой признаков жестокого обращения с животным, она сохраняет за собой право в соответствии с законодательством Российской Федерации принять меры по обеспечению защиты животного, а также иные меры реагирования.</li>
</ol>
<p><br /><br /></p>
<ol>
<li aria-level="2">Клиент обязуется:</li>
</ol>
<ol>
<li aria-level="3">Предоставить полную и достоверную информацию о животном, об имеющихся и перенесённых заболеваниях, травмах, операциях. Представить все имеющиеся медицинские документы на животное.</li>
</ol>
<ol>
<li aria-level="3">Соблюдать и строго выполнять все назначения и предписания ветеринарного врача и специалистов Клиники.</li>
</ol>
<ol>
<li aria-level="3">Незамедлительно информировать ветеринарного врача и специалистов клиники обо всех изменениях состояния здоровья животного в ходе обследования и лечения. Незамедлительно обратиться за ветеринарной помощью в случае, если наблюдается ухудшение самочувствия животного</li>
</ol>
<ol>
<li aria-level="3">Оказывать Клинике содействие при взаимодействии специалистов Ветеринарной Клиники с животным, при оказании услуг по Договору; осуществлять взаимодействие с Ветеринарной Клиникой и её специалистами на основании доверия, добросовестности, взаимопонимания и в интересах животного.</li>
</ol>
<ol>
<li aria-level="3">Нести ответственность за здоровье и содержание животного, в том числе обеспечивать кормами, водой, безопасными для здоровья, осуществлять хозяйственные и ветеринарные мероприятия, обеспечивающие предупреждение болезней животного и его безопасность, обеспечивать своевременное оказание животному помощи и своевременное осуществление обязательных, профилактических, лечебных мероприятий, вакцинацию, мероприятий согласно зоогигиеническим требованиям, рекомендациям по содержанию животных.</li>
</ol>
<ol>
<li aria-level="3">&nbsp;Предотвращать любые контакты животного с другими животными, находящимися на территории Ветеринарной Клиники. Приводить животное в Ветеринарную клинику в надлежащем санитарном, внешнем виде. Кошки и мелкие собаки (до 5 килограмм) должны находиться в специальной переноске, а крупные собаки (свыше 5 килограмм) на поводке и в наморднике. В случае несоблюдения данных требований Ветеринарная Клиника вправе отказать в оказании услуг.</li>
</ol>
<ol>
<li aria-level="3">Предупредить Ветеринарную Клинику об агрессивности животного, особенностях его поведения, нанесения животному или животным покусов, приступах водобоязни, иного неадекватного поведения. Сообщить о применении животного в предпринимательской деятельности, в том числе в целях коммерческого разведения, селекции, в культурно-зрелищных целях, лабораторных/научных исследованиях.</li>
</ol>
<ol>
<li aria-level="3">Сопровождать передвижение животного по помещениям Ветеринарной Клиники. В случае, если животное весит десять и более килограмм самостоятельно обеспечить подъём животного на смотровые, диагностические столы, носилки и иное оборудование (за исключением находящегося в операционном блоке Ветеринарной Клиники в который Владелец не имеет право доступа). Обеспечить фиксацию животного во время оказания услуг в случаях, если не применяются лекарственные препараты, действие которых обездвиживает животное.</li>
</ol>
<ol>
<li aria-level="3">Принимать самостоятельно с учётом имеющейся информации о диагнозе, прогнозе и состоянии животного, своей общей оценки ситуации, в том числе материальных, организационных и иных возможностей, любые правомерные решения в отношении животного, в том числе о его дальнейшей судьбе, об осуществлении в отношении него услуг, определении объёма услуг, прекращении оказания услуги, лечения и/или совершении иных действий в отношении животного.</li>
</ol>
<p>Настоящим Владелец извещен о том, что он вправе в соответствии с условиями настоящего Договора потребовать предоставление информации о возможных альтернативных способах лечения, оказания услуги, заменить привлечённого Ветеринарной Клиникой специалиста, отказаться от лечения, оказания услуги в отношении животного.</p>
<ol>
<li aria-level="3">Не осуществлять общение со специалистами Ветеринарной Клиники вне Ветеринарной Клиники, во внерабочее время, в нарушение установленного законодательства.</li>
</ol>
<ol>
<li aria-level="3">&nbsp;Подписать в случае оказания услуги в отношении животного без присутствия Владельца, оставления животного в Ветеринарной Клинике, оказания комплексных услуг, в иных установленных Клиникой случаях соответствующее соглашение, информированное согласие, отказ от оказания услуги (лечения) по утверждённой Ветеринарной Клиникой типовой форме.</li>
</ol>
<p><br /><br /><br /></p>
<ol>
<li aria-level="3">Соблюдать Правила посещения Клиники и оказания услуг Клиникой, а также правила пожарной, противоэпидемиологической безопасности на территории Ветеринарной Клиники.</li>
</ol>
<ol>
<li aria-level="3">&nbsp;Надлежащим образом, своевременно и в полном размере произвести оплату оказанных услуг, совершить иные платежи, предусмотренные Договором, соглашением Сторон, самостоятельно ознакомившись с Прейскурантом.</li>
</ol>
<ol>
<li aria-level="3">При заключении, исполнении Договора иметь при себе документ, удостоверяющий личность, предъявлять его по требованию специалистов Клиники, предоставить документы, подтверждающие право на животное, документы о состоянии его здоровья, в том числе вакцинации. В случае изменения адресов, реквизитов, указанных в настоящем Договоре, сообщить об этом Ветеринарной Клинике в течение 10 рабочих дней с момента изменения. По требованию Клиники ознакомиться и подписать документы, подтверждающие согласие Владельца на проведение диагностических и лечебно-профилактических мероприятий.&nbsp;</li>
<li aria-level="3">Требовать безвозмездного устранения недостатков или уменьшения оплаченной цены услуги в случае ненадлежащего оказания Клиникой услуги по Договору, которое определяется в установленном настоящим Договором и законодательством РФ порядке.</li>
<li aria-level="3">В случае порчи имущества КЛИНИКИ возместить ущерб в размере его 100% стоимости.</li>
</ol>
<ol>
<li aria-level="2">Клиент имеет право:</li>
</ol>
<ol>
<li aria-level="3">Получать информацию о заболевании животного, плане и ходе лечения, а также о прогнозах, возможных последствиях, осложнениях и прочих обстоятельствах, которые могут сопровождать процесс лечения или возникать во время него.</li>
<li aria-level="3">Отказаться от получения ветеринарных услуг и расторгнуть договор, оплатив услуги, оказанные на момент отказа.</li>
<li aria-level="3">В любой момент прекратить лечение животного, принимая на себя все риски с этим связанные.</li>
</ol>
<ol>
<li aria-level="1">ЦЕНА УСЛУГ И ПОРЯДОК ОПЛАТЫ.</li>
<ol>
<li aria-level="2">Цена услуги определяется действующим Прейскурантом на момент оказания услуги, который устанавливает Ветеринарная Клиника. Клиника вправе изменять Прейскурант услуг в любой момент в одностороннем порядке. Ветеринарная клиника предоставляет Владельцу информацию о цене услуг посредством размещения Прейскуранта услуг в местах, предназначенных в Ветеринарной Клинике для приёма посетителей и оплаты услуг, а также путем размещения в сети Интернет на официальном сайте. Все оказываемые на основании настоящего Договора услуги, применяемые материалы, средства являются платными.</li>
</ol>
</ol>
<ol>
<li aria-level="2">Услуги предоставляются при условии их полной предоплаты Владельцем, если иное прямо не предусмотрено настоящим Договором, отдельным соглашением Сторон. Оплата может производиться как наличными, так и безналичными денежными средствами, а также иными способами, которые технически доступны.</li>
</ol>
<ol>
<li aria-level="2">Ветеринарная Клиника в целях оказания услуг вправе предоставлять материалы (лекарственные препараты, оборудование, изделия, инструменты, расходные материалы и прочее), которые оплачиваются Владельцем в полном объёме и на основании полной предоплаты, если иное прямо не предусмотрено настоящим Договором, Прейскурантом услуг, отдельным соглашением Сторон.</li>
</ol>
<ol>
<li aria-level="2">В целях оказания комплекса услуг по соглашению Сторон может быть составлена твёрдая или приблизительная смета. Ветеринарная Клиника не вправе требовать увеличения твердой сметы, а Владелец - её уменьшения, в том числе в случае, когда в момент составления данной сметы исключалась возможность предусмотреть полный объем подлежащих оказанию услуг или необходимых для этого расходов. Ветеринарная Клиника имеет право требовать увеличения твердой сметы при существенном возрастании стоимости материалов и оборудования, а также оказываемых ему третьими лицами услуг, которые нельзя было предусмотреть в момент составления данной сметы. При отказе Владельца выполнить это требование Ветеринарная Клиника вправе расторгнуть Договор, отказаться от оказания соответствующих услуг.</li>
</ol>
<p>Если при оказании услуги по утверждённой приблизительной смете возникла необходимость оказания дополнительных услуг и существенного превышения по этой причине приблизительной сметы, Ветеринарная Клиника обязана своевременно предупредить об этом Владельца, если условиями настоящего Договора прямо не установлены иные случаи, порядок действий. Если Владелец не дал согласие на превышение приблизительной сметы, любая Сторона вправе отказаться от исполнения Договора, от оказания соответствующих услуг. В этом случае Владелец обязан уплатить стоимость оказанных услуг, возместить Ветеринарной Клинике понесённые расходы. Ветеринарная Клиника, своевременно не предупредившая Владельца о необходимости превышения приблизительной сметы, обязана оказать услуги по приблизительной смете, сохраняя право на их оплату в пределах утверждённой приблизительной сметы.&nbsp;</p>
<p>При госпитализации Владелец должен оплатить аванс (депозит) в размере 100% от стоимости подлежащих оказанию услуг и далее поддерживать остаток аванса пополняя его согласно предварительной смете ветеринарных расходов в стационаре. В случае экстренной внеплановой госпитализации в стационар при многодневной госпитализации за первый календарный день пребывания выставляется к оплате суточное пребывание независимо от времени поступления.</p>
<p>При приобретении дорогостоящих медикаментов, необходимых для лечения животного, стоимость их оплачивается Владельцем на условиях предоплаты. В случае отказа от услуги сумма затрат на такие медикаменты Владельцу не возвращается и засчитывается Клиникой как компенсация таких расходов.</p>
<ol>
<li aria-level="2">В случае, если Клиника для оказания Владельцу услуги привлекла третье лицо и условия его привлечения предусматривают прямую оплату ему денежных средств, то по указанию Ветеринарной Клиники Владелец оплачивает, компенсирует денежные средства напрямую соответствующему физическому, юридическому лицу и/или Ветеринарная Клиника перечисляет (компенсирует) соответствующие денежные средства на основании отдельного поручения Владельца.</li>
</ol>
<ol>
<li aria-level="2">Фактом подтверждения оплаты Услуги является кассовый чек и/или иной допустимый законодательством Российской Федерации подтверждающий оплату документ. Настоящим Владелец подтверждает, что при осуществлении расчётов по настоящему Договору согласен на выдачу ему кассового чека, бланка строгой отчетности не на бумажном носителе, а путём направления ему в электронной форме по электронной почте или по абонентскому номеру, указанными в карте животного, в том числе иных предусмотренных законодательством РФ обязательных к предоставлению фискальных сведений, сведений идентифицирующих такой кассовый чек или бланк строгой отчётности.</li>
</ol>
<ol>
<li aria-level="2">Владелец осведомлён Ветеринарной Клиникой о том, что в случае если предоставление кассового чека, бланка строгой отчетности обеспечивается путем отражения QR-кода, то получение кассового чека, бланка строгой отчетности в электронной форме осуществляется Владельцем самостоятельно с использованием информационного сервиса уполномоченного органа, порядок использования которого определяется уполномоченным органом, или официального программного средства уполномоченного органа для мобильного телефона, смартфона или иного компьютерного устройства путем считывания указанного QR-кода с использованием своего мобильного телефона, смартфона или иного компьютерного устройства, который обеспечивает доступ к такому информационному сервису уполномоченного органа или указанному мобильному приложению уполномоченного органа</li>
</ol>
<ol>
<li aria-level="2">Возврат неиспользованных денежных средств осуществляется при наличии документа, удостоверяющего личность Владельца или его представителю по соответствующей доверенности. Клиника по письменному требованию Владельца, при наличии у последнего паспорта, возвращает ему оставшуюся сумму в рублях.</li>
</ol>
<p>При отсутствии письменного требования Владельца о возврате остатка денежных средств, Клиника признает оставшуюся сумму авансом в счет оказания последующих ветеринарных услуг.&nbsp;</p>
<p>4.9 При задолженности у Владельца оплаты ветеринарных услуг, Клиника вправе осуществить зачет неизрасходованных денежных средств на депозите Владельца в счет погашения задолженности Владельца перед Клиникой</p>
<ol>
<li aria-level="2">. Приемка услуг по Договору оформляется Актом об оказании ветеринарных услуг по запросу Владельца на стойке регистратуры или направляется на электронную почту по заявлению Владельца. В случае отсутствия запроса на выдачу Акта от Владельца в течение 7 дней, услуги считаются принятыми Владельцем в полном объеме.</li>
</ol>
<p>4.11. &nbsp;Стороны, для установления причины гибели животного могут обратиться в экспертную организацию. Решение такой экспертной организации является обязательным для Сторон. Оплата услуг экспертной организации производится Стороной, являющейся инициатором обращения к экспертной организации, при этом: в случае установления экспертной организацией вины Клиники в гибели животного, Клиника обязуется возместить Владельцу документально подтвержденные расходы на проведение такой экспертизы</p>
<p>4.12. Оплата дистанционных консультаций осуществляется Владельцем в порядке, предусмотренном информацией, размещенной на сайте для соответствующих услуг в размере 100% предоплаты не менее чем за 1 час до начала оказания услуги.</p>
<p>4.13. Владелец подтверждает, что является собственником и обладает всеми правами на &laquo;пациента&raquo;, а &laquo;пациент&raquo; свободен от притязания третьих лиц или имеется согласие совместного(ых) собственника(ов) &laquo;пациента&raquo;.</p>
<p>Обязанности Владельца по оплате оказанных ему услуг Клиникой действуют в целом по заключённому Договору без разбивки раздельно на каждое отдельное животное (&laquo;пациента&raquo;).</p>
<ol>
<li aria-level="1">ПРАВИЛА ОКАЗАНИЯ ВЕТЕРИНАРНЫХ УСЛУГ</li>
<ol>
<li aria-level="2">Ветеринарная Клиника оказывает услуги по Договору соответствующих профилю её деятельности, а также наличию в соответствующий момент необходимых специалистов, оборудования, расходных материалов и иных необходимых для оказания услуги ресурсов.</li>
</ol>
</ol>
<p>Место, дата, время оказания услуги, её объём, содержание, методология, порядок её оказания определяется Ветеринарной Клиникой самостоятельно. Срок (длительность) оказания услуги определяется Ветеринарной Клиникой самостоятельно. Предварительные сроки плановой госпитализации животного оговариваются с Владельцем до момента госпитализации животного и могут быть изменены в соответствии с условиями Договора, в том числе в зависимости от динамики изменения состояния животного, решения Владельца. В случае нахождения животного в экстренном, неотложном состоянии вышеуказанные сроки определяются только после стабилизации состояния животного.</p>
<ol>
<li aria-level="2">Заказ Владельцем услуги может быть выражен как в устной, так и письменной форме. В случае необходимого изменения количества заказанных услуг, объема, содержания, порядка оказания услуги, соответствующие изменения подлежат согласованию с Владельцем, если иное прямо не предусмотрено настоящим Договором, соглашением Сторон. В целях настоящего Договора Стороны установили, что непоступление возражений Владельца к моменту фактического начала оказания услуги, а также предоставление Владельцем для её оказания своего животного, подтверждает полное и безоговорочное согласие Владельца на её получение.</li>
</ol>
<p>В случае, если Клиника не имеет точных сведений о вакцинации животного, она имеет право, в интересах животного и обеспечения безопасности и интересов третьих лиц и иных животных, провести принудительную (вынужденную) вакцинацию при оказании в её отношении услуг в условиях стационара, которая подлежит оплате Владельцем данного животного.</p>
<ol>
<li aria-level="2">Клиника при оказании услуг информирует Владельца о лечении животного устно и/или путем внесения соответствующей информации в документацию, описывающую оказание услуг в отношении питомца.</li>
</ol>
<ol>
<li aria-level="2">Ветеринарная Клиника в целях исполнения настоящего Договора, оказания услуг Владельцу оказывает услуги в том числе с применением своего материала и своими средствами (лекарственные препараты, оборудование, изделия, инструменты, расходные материалы и прочее). Ветеринарная Клиника вправе самостоятельно по своему усмотрению привлекать соответствующих специалистов, третьих физических и/или юридических лиц. По отдельному соглашению Сторон Ветеринарная клиника вправе применять предоставленные Владельцем материалы.</li>
</ol>
<ol>
<li aria-level="2">Предоставление Владельцу сведений об оказанных услугах по Договору осуществляется Ветеринарной клиникой в наглядной и доступной форме как в устном, так и в письменном виде. В письменном виде Ветеринарная клиника предоставляет Владельцу соответствующие сведения путём направления ему их в электронной форме по адресу электронной почты, указанной в настоящем Договоре. В случае, если Владелец затребует предоставление ему сведений на печатной основе, то он предварительно обязан компенсировать Ветеринарной клинике затраты на их изготовление на печатной основе и почтовое отправление ему.</li>
</ol>
<ol>
<li aria-level="2">Без предварительного согласия Ветеринарной Клиники не могут быть переданы права и обязанности по настоящему Договору. В целях настоящего Договора Стороны установили, что для оказания услуг в отношении животного вправе представлять интересы Владельца от его имени и за его счёт следующие лица:</li>
</ol>
<p>- В случае обращения иного лица для оказания услуг в отношении определённого животного Стороны вправе расценить данное обращение как обращение по поручению Владельца с возникновением у последнего соответствующих обязательств по оплате за оказанные услуги. В случае возникновения у Ветеринарной Клиники сомнений в наличии соответствующих полномочий у иного лица в отношении животного Ветеринарная Клиника вправе не оказывать заказываемые услуги, не возвращать животное, не принимать/не возвращать оплату за услуги.</p>
<p>- В целях исполнения настоящего Договора Владелец подтверждает, что принимает на себя все риски, связанные с корректностью предоставления вышеуказанными третьими лицами информации Ветеринарной Клинике о состоянии животного и заказом услуг по настоящему Договору.</p>
<ol>
<li aria-level="2">В целях настоящего Договора Стороны установили, а Владелец при подписании настоящего Договора подтверждает свою информированность, принятие соответствующих рисков и согласие со следующими существенными для настоящего Договора и оказания услуг в отношении животного обстоятельствами:</li>
</ol>
<ul>
<li aria-level="1">Услуга по настоящему Договору оказывается Клиникой на основании заказа Владельца в отношении животного, предоставленной о нём информации, научных знаниях и опыте практической деятельности Ветеринарной Клиники, а также с учётом известных объективно существующих биологических и иных процессов жизнедеятельности живого организма, которые влияют и/или могут повлиять на состояние животного;</li>
<li aria-level="1">Постановка диагноза &ndash; это оказание услуги Владельцу, включающую получение им информации о состоянии животного. Данная информация может быть как позитивной для состояния, лечения животного, так и негативной, что в равной мере означает оказание Владельцу соответствующей услуги (независимо от ожиданий Владельца). Постановка диагноза животному в условиях отсутствия возможности получить от него соответствующее описание своего состояния, является сложным и субъективным процессом, который может не соответствовать объективно протекающим биологическим и иным процессам жизнедеятельности животного;</li>
<li aria-level="1">Животное как живой биологический организм является смертным и излечение, стабилизация не каждого заболевания и состояния возможна, в том числе в силу объективно существующих различий между организмами даже одного вида, породы, возраста и веса, что в целях настоящего Договора делает невозможным предоставление исчерпывающих гарантий того, что оказание услуг во всех случаях достигнет своих целей и будет иметь желаемый результат и, соответственно, не означает некачественность оказания услуг. Данные обстоятельства означают отсутствие у Ветеринарной Клиники объективной возможности установление диагноза со стопроцентной точностью, Ветеринарная Клиника при оказании услуг стремится поставить полностью точный диагноз, но не гарантирует его достижение в полном объёме и своевременно, как и полное выздоровление животного, достижения им желаемого Владельцем состояния, особенно, если животное находится в экстренном, неотложном состоянии;</li>
<li aria-level="1">Услуги, включают возможность допустимого вмешательства в состояние здоровья животного, в том числе возникновение дискомфорта, стресса (вне зависимости от действия или бездействия специалистов Ветеринарной Клиники), осложнений, вызванных особенностями его организма, проявление сопутствующих и побочных свойств воздействия, возникновение неприятных, болевых ощущений, появление гематом, шрамов. Любая операция связана с разрезом тканей, в результате которого остается, в большей или меньшей степени, косметический дефект. При операциях необходимым этапом является удаление шерсти с операционного поля, в отдельных случаях, возможно только частичное восстановление шерстного покрова или не восстановление его вообще.</li>
</ul>
<p>При любых операциях не существует полной гарантии состоятельности швов, место нарушения кожных покровов может стать &laquo;входными воротами&raquo; инфекции, особенно при несоблюдении Владельцем рекомендаций, ненадлежащем уходе за животным, несоблюдении требования о защите швов от &laquo;разлизывания&raquo; животным;</p>
<ul>
<li aria-level="1">Допускается при оказании услуг применение, назначений Ветеринарной клиникой методов, манипуляций, анестетиков и трансфузий, лекарственных препаратов, медицинских изделий, расходных материалов, предназначенных для лечения человека;</li>
<li aria-level="1">На любой стадии оказания услуги (в том числе диагностики, лечения животного) в связи с выявленным состоянием животного могут возникнуть обстоятельства, меняющие изначально предполагавшийся Сторонами порядок действий, требующие дополнительных действий или изменения заказанной Владельцем услуги;</li>
<li aria-level="1">В силу объективно существующих процессов жизнедеятельности живого организма качественное проведение хирургической операции, применение наркоза (анестезии) не гарантирует отсутствие ранних и/или поздних осложнений, рецидива заболевания и/или смерти животного. Применение наркоза у животных всегда сопряжено с риском для жизни, независимо от того, какая проводится операция;&nbsp;</li>
<li aria-level="1">При операциях кесарева сечения не существует никаких гарантий жизнеспособности плодов. При операциях остеосинтаза не существует никаких гарантий стабильности конструкции, по причине несоблюдения послеоперационного ограничения животного в движении;&nbsp;</li>
<li aria-level="1">Владелец уведомлен, что причины гибели животного могут быть установлены только в результате патологоанатомического вскрытия.</li>
</ul>
<ol>
<li aria-level="2">Ветеринарная Клиника устанавливает следующий общий порядок оказания услуг:</li>
</ol>
<ul>
<li aria-level="1">В целях настоящего Договора Стороны установили, что осмотр, первичная консультация, проведение лечебных манипуляций могут быть оказаны очно и на территории Ветеринарной Клиники, в зависимости от вопроса оказание иных видов услуг могут осуществляться как в присутствии животного, так и без него, на основании очно предоставленной Владельцем информации (жалоб), описания состояния животного, выявленных клинических признаков и результатах осмотров, исследований. Первичная консультация может быть также оказана дистанционно посредством аудио и видео звонка.</li>
<li aria-level="1">Диагностика, осмотр считаются первичными, если жалобы, заказ услуги по поводу нового состояния животного ранее не заявлялись Владельцем и не оценивались в целях настоящего Договора.</li>
</ul>
<ol>
<li aria-level="2">Приём (оказание услуги) специалистами Ветеринарной Клиники осуществляется в следующем порядке:</li>
</ol>
<ul>
<li aria-level="1">В порядке общей очереди (визит в Ветеринарную Клинику без предварительной записи);</li>
<li aria-level="1">По предварительной записи: осуществляют сотрудники колл-центра по телефону, администратор, ветеринарный специалист (врач);</li>
<li aria-level="1">Экстренный, неотложный приём: осуществляется в часы работы Ветеринарной Клиники без записи, без очереди в случае наличия у животного признаков экстренного состояния. О наличии признаков экстренного состояния Владелец сообщает лицам, имеющим право осуществления записи на приём. Владелец обязуется беспрекословно предоставить возможность преимущественного прохода, получения соответствующей услуги иным лицам, чье животное имеет признаки экстренного состояния;</li>
<li aria-level="1">Приём вне общей очереди: Старший ветеринарный специалист (врач) смены, главный врач, генеральный директор Ветеринарной Клиники по своему усмотрению вправе назначить приём вне очереди любому владельцу животного, если для этого есть соответствующие основания, основанные на состоянии данного животного. Владелец обязуется беспрекословно предоставить возможность преимущественного прохода, получения соответствующей услуги указанным лицам.</li>
</ul>
<ol>
<li aria-level="2">Специалисты Ветеринарной Клиники разъясняют Владельцу суть и цели процедур, их достоинства и возможные осложнения, ожидаемый дискомфорт и риски, которые могут возникнуть, а также альтернативы предлагаемому лечению, а также возможность отказа от лечения</li>
</ol>
<ol>
<li aria-level="2">Объективным критерием качественно оказанной услуги является её соответствие запросу Владельца, симптоматическому комплексу и/или диагнозу. Услуга считается оказанной, подлежащей оплате вне зависимости от того является ли предоставленная Владельцу информация новой, позитивной и/или негативной в целях лечения, ухода, содержания животного, степени достижения ожидаемых Владельцем от её получения результатов. В целях настоящего Договора Стороны установили, что в случае наличия у Владельца претензий, связанных с оказанной услугой, предоставленными Клиникой материалов, то основанием для освобождения Владельца от совершения соответствующего оспариваемого им платежа является или признание Ветеринарной Клиникой обоснованности предъявляемых Владельцем возражений в момент, когда платёж в соответствии с условиями настоящего Договора, должен быть совершён, или соответствующее решение суда о возврате Владельцу уплаченных им денежных средств.</li>
</ol>
<ol>
<li aria-level="2">В целях предотвращения вреда жизни, здоровью животного, в условиях, когда предварительное получение согласия Владельца на оказание услуг не может быть получено в силу экстренного, неотложного состояния здоровья животного, изменение и проведение оказываемых услуг, необходимо для сохранения жизни и здоровья животного, Клиника вправе самостоятельно изменить, дополнить оказываемые услуги без предварительного согласования с Владельцем, о чём информирует Владельца сразу при возникновении соответствующей возможности, даёт ему необходимые пояснения. Настоящим Владелец даёт согласие на совершение Клиникой соответствующих действий. В данном случае риски доказывания отсутствия необходимости совершения указанный действий несёт Владелец.</li>
<li aria-level="2">В случае поступления, нахождения животного в Ветеринарной Клинике в экстренном, неотложном состоянии, ином угрожающем жизни, здоровью животного состоянии, если по данным диагностического исследования оказывается, что болезнь/состояние животного неизлечима, если полное устранение заболевания в момент поступления животного на практике объективно невозможно, то Ветеринарная Клиника вправе оказывать услуги без предварительной постановки исчерпывающего диагноза, исходя из необходимости в первую очередь по возможности облегчить состояние и смягчить симптомы, а впоследствии осуществлять иное лечение.</li>
</ol>
<p>Ветеринарная клиника информирует Владельца о соответствующем состоянии и вправе принять решение об оказании соответствующей услуги или отказе в её оказании, в данном случае Владелец несёт все связанные с данным состоянием животного и решением Ветеринарной Клиники риски.</p>
<ol>
<li aria-level="2">Ветеринарная Клиника вправе принять решение о прерывании оказания услуг(и), выдаче Владельцу животного только после достижения стабильного состояния здоровья животного, при котором отсутствует прямой риск смерти или причинения вреда его здоровью, и при котором возможно перемещение, перевозка животного, что не снимает с Владельца обязанности по оплате данных услуг</li>
</ol>
<ol>
<li aria-level="2">Фото, видео, аудио съёмка посетителями Ветеринарной Клиники на её территории без разрешения представителей Ветеринарной Клиники запрещена.</li>
</ol>
<ol>
<li aria-level="2">В целях настоящего Договора Стороны установили, что оставление Владельцем животного в стационаре Клиники на срок, превышающий оговоренный более чем на пять календарных дней, или оставление в Клинике животного, которое поступило в неё в экстренном, неотложном состоянии более чем на один календарный день, а также невозможность связаться с Владельцем по указанным в Договоре телефонам в указанный срок, неоплата им услуг в полном объёме и надлежащим образом означает фактический отказ Владельца от животного. В данном случае, оно переходит в собственность Клиники, начиная с шестого дня истечения срока нахождения животного на стационарном лечении, оговоренного с Владельцем, что не освобождает Владельца от обязанности по оплате оказанных услуг и не предоставляет ему права на возврат животного в случае предъявления соответствующего требования и оплаты.</li>
</ol>
<p>В целях настоящего Договора Стороны установили, что в случае неисполнения Владельцем своих обязательств по оплате услуг по лечению животного в стационаре Ветеринарной Клиники и иных предусмотренных соответствующим соглашением Сторон связанных с их оказанием расходов Ветеринарная Клиника вправе обеспечить их исполнение, а также возмещение, связанных с этим издержек и других убытков, в том числе посредством удержания животного у себя до тех пор пока соответствующее обязательство не будет исполнено с правом внесудебного порядка обращения взыскания данного имущества.</p>
<p>Переход права собственности на животное к Ветеринарной Клинике означает переход всех прав, предусмотренных статьёй 209 ГК РФ, а именно права владения, пользования и распоряжения своим имуществом. С этого момента Ветеринарная Клиника вправе свободно распорядиться дальнейшей судьбой животного, в том числе передать его третьему лицу, подвергнуть эвтаназии и т.п. Переход права собственности на животное к Ветеринарной Клинике не освобождает Владельца от обязанности оплатить оказанные услуги, компенсировать Ветеринарной Клинике убытки, расходы.</p>
<ol>
<li aria-level="2">Клиника вправе отказать в оказании услуги, в том числе перенести время их оказания также в случаях:</li>
</ol>
<ul>
<li aria-level="1">Непредоставления Владельцем, его доверенного лица удостоверяющего личность документа;</li>
<li aria-level="1">Несоблюдения Владельцем условий настоящего Договора, Правил посещения Ветеринарной Клиники;</li>
<li aria-level="1">Если животное сопровождает Владелец в возрасте до 18 лет без законного представителя;</li>
<li aria-level="1">Отсутствия у Владельца ветеринарного паспорта животного, иного документа, подтверждающего проведение вакцинации против бешенства и лептоспироза;</li>
<li aria-level="1">Выявления у животного любого противопоказания к заказанной услуге;</li>
<li aria-level="1">Агрессивного поведения животного и отсутствия в соответствующий момент возможности введения успокаивающего препарата, иным средством обездвижить его;</li>
<li aria-level="1">Предъявления Владельцем требования о замене привлечённого Ветеринарной Клиникой специалиста;</li>
<li aria-level="1">Предъявления Владельцем требования о проведении эвтаназии в отношении животного, совершении манипуляций, которые по мнению Ветеринарной Клиники не соответствуют состоянию здоровья животного и/или при отсутствии необходимого для оказания услуги ресурса, если заведомо известно о невозможности достичь желаемый результат, если Владелец настаивает на конкретном методе лечения, оказания услуг, с проведением которых Ветеринарная Клиника не согласна по профессиональным, этическим причинам;</li>
<li aria-level="1">В случае неоплаты, ненадлежащей оплаты Владельцем услуги, наличия у него просроченной задолженности по оплате оказанных услуг;</li>
<li aria-level="1">Неисправности оборудования для конкретного вида услуг, отсутствие возможности проведения необходимых исследований;&nbsp;</li>
<li aria-level="1">Отсутствие необходимых медикаментов</li>
<li aria-level="1">Технические сбои в системе учета пациентов и электронной базы данных</li>
<li aria-level="1">Эпидемиологические ограничения</li>
</ul>
<ol>
<li aria-level="1">ОТВЕТСТВЕННОСТЬ СТОРОН&nbsp;</li>
<ol>
<li aria-level="2">Стороны несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств по настоящему Договору в соответствии с его условиями и действующим законодательством Российской Федерации.</li>
</ol>
</ol>
<ol>
<li aria-level="2">Владелец несёт полную материальную ответственность за действия своего животного, в том числе в случае причинения животным ущерба Ветеринарной Клинике, вреда здоровью, имуществу, убытков её сотрудникам, третьим лицам и обязуется компенсировать их в полном объёме. Клиника не несет ответственность за ущерб, нанесенный животному или Владельцу действиями третьих лиц и/или животными, как имеющими Владельцев, так и бесхозными.</li>
</ol>
<ol>
<li aria-level="2">Ветеринарная Клиника несёт ответственность перед Владельцем в случае причинения вреда животному по вине Ветеринарной Клиники и не более чем в размере причинённого реального ущерба и размера полученной от Владельца суммы за соответствующую оказанную услугу.</li>
</ol>
<ol>
<li aria-level="2">Ветеринарная клиника не несет ответственности в случае наступления неблагоприятных последствий для животного Владельца, возникших в результате:</li>
</ol>
<ul>
<li aria-level="1">Неполного информирования о состоянии животного, предоставление искажённой информации о его состоянии, содержании, уходе; наличия у животного заболеваний, состояний, противопоказаний о которых Владелец своевременно не сообщил;</li>
<li aria-level="1">Действия или бездействия Владельца, в том числе несвоевременного обращения в Ветеринарную Клинику, несоблюдения Владельцем рекомендаций Ветеринарной Клиники по лечению, послеоперационному уходу, несоблюдения сроков повторных осмотров, отказа Владельца от проведения рекомендованных лечебных, диагностических или профилактических манипуляций;</li>
<li aria-level="1">Лечения животного или выполнения лечебных, профилактических, диагностических, любых других манипуляций, проводимых за пределами Ветеринарной Клиники и/или иными специалистами, ветеринарными клиниками;</li>
<li aria-level="1">В случае выявления или возникновения в период оказания услуги заболевания, изменения физиологического состояния организма, которые напрямую не связаны с оказанием услуги по настоящему Договору;</li>
<li aria-level="1">Если Владелец настаивает на конкретном методе лечения, оказания услуг, соглашается принять все связанные с их оказанием риски (при обязательном информировании Владельца о данных рисках и возможных негативных последствиях, в том числе, указанных в настоящем Договоре);</li>
<li aria-level="1">Отсутствия у животного профилактических вакцинаций и/или обработок и/или особенностей реакции организма соответствующей породы, индивидуальных особенностей животного; возникновения у животного аллергических реакций и индивидуальной непереносимости препаратов и материалов, о реакции на которые Владельцем не было заявлено и которые не могли быть выявлены в результате мероприятий по диагностике и исследованиям заболеваний;</li>
<li aria-level="1">В случае причинения животным вреда своему Владельцу.</li>
</ul>
<ol>
<li aria-level="2">&nbsp;В целях настоящего Договора Стороны установили, что риск возникновения вирусного заболеваниям животного, который был выявлен после посещения Ветеринарной Клиники, не является основанием для возникновения какой-либо ответственности у Ветеринарной Клиники, так как признают риск возникновения вирусного инфекционного заболевания частью естественного процесса содержания и ухода за животным, которым оно может заразиться в любой момент своей жизни.</li>
</ol>
<ol>
<li aria-level="2">При предоставлении Владельцем анализов, сделанных сторонними ветеринарными и иными учреждениям (третьими лицами), Клиника исходит из предположения достоверности информации и добросовестности указанных учреждений и не несёт ответственность в случае предоставление результатов анализов, не соответствующих реальной картине (истории) болезни, а также за возможные последствия такой ситуации.&nbsp;</li>
</ol>
<ol>
<li aria-level="2">&nbsp;Ветеринарная Клиника не несёт ответственность за личные вещи, оставленные без присмотра в помещениях организации, однако Клиника и ее сотрудники готовы оказать максимально возможную помощь для установления их местонахождения.</li>
</ol>
<ol>
<li aria-level="2">&nbsp;Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если это неисполнение произошло вследствие обстоятельств непреодолимой силы (форс-мажор), возникших после заключения настоящего Договора в результате обстоятельств непреодолимой силы, которые Стороны не могли предвидеть или предотвратить и которые делают невозможным выполнение ранее взятых на себя обязательств по настоящему Договору. К обстоятельствам непреодолимой силы относятся события, на которые Стороны не могут оказать влияния и за возникновение которых не несут ответственности.</li>
</ol>
<ol>
<li aria-level="2">&nbsp;Гарантийный срок на оказанную услугу не устанавливается. Устранение недостатков в обозначенный срок не несет наложения каких-либо санкций на Клинику. Претензия по качеству оказанных услуг может быть предъявлена Владельцем не позднее 1 (одного) месяца после окончания оказания услуги. Клиника устраняет обнаруженные недочеты оказанной услуги (в случае возможности их обнаружения) заявленные Владельцем в срок до 30 (тридцати) рабочих дней.</li>
</ol>
<ol start="7">
<li>ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ</li>
</ol>
<ol>
<li aria-level="2">&nbsp;При возникновении разногласий между Владельцем и ветеринарным врачом (работниками Клиники) по вопросу объёма и качества оказанных ветеринарных услуг, они разрешаются путём переговоров, с участием главного врача Клиники либо лица, исполняющего его обязанности.</li>
</ol>
<ol>
<li aria-level="2">&nbsp;Сторона, считающая, что её права по настоящему договору нарушены, направляет другой стороне претензию в письменном виде. Получатель обязуется ответить на полученное письмо в срок до десяти календарных дней с момента получения исчерпывающей информации, подтверждающей документации. Владелец в своей претензии в обязательном порядке указывает предполагаемое конкретное допущенное при оказании услуги нарушение, недостаток услуги, чем подтверждается данное нарушение, чем регламентируется предполагаемый им порядок оказания услуги, результат услуги.&nbsp;</li>
</ol>
<ol>
<li aria-level="2">&nbsp;При отсутствии согласия споры разрешаются в установленном законом порядке. В этом случае Клиника имеет право обратиться за профессиональной юридической помощью к третьим лицам. При разрешении споров Стороны учитывают изначальное состояние животного (на момент размещения Владельцем заказа на оказание услуги), в том числе рыночную стоимость животного на момент оказания соответствующей услуги.</li>
</ol>
<ol>
<li aria-level="1">СОГЛАСИЯ И УВЕДОМЛЕНИЯ.</li>
</ol>
<ol>
<li aria-level="2">Стороны обязуются соблюдать строгую конфиденциальность всей информации и материалов, относящихся к предмету настоящего Договора, в том числе обязуются не использовать и не раскрывать такую информации или содержание таких материалов кому-либо, если на это не будет дано заблаговременного письменного разрешения в прямой форме и/или если это не требуется Ветеринарной Клинике для исполнения настоящего Договора. Настоящее обязательство сохраняет силу после прекращения действия настоящего Договора в течение трёх лет.</li>
</ol>
<p><br /><br /></p>
<ol>
<li aria-level="2">&nbsp;Акцептуя настоящий Договор, в целях исполнения настоящего Договора и законодательства РФ Владелец дает свое согласие Ветеринарной Клинике на обработку своих персональных данных, в соответствии с Федеральным законом &laquo;О персональных данных&raquo; №152-ФЗ от 27.07.2006 года, соглашается на обработку (сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение) его персональных данных, в том числе: фамилия, имя, отчество, год, дата рождения, адрес места жительства, номер паспорта, сведения о дате выдачи и выдавшем его органе, код подразделения, номера телефонов, электронный адрес.</li>
</ol>
<p><br /><br /><br /></p>
<ol>
<li aria-level="2">&nbsp;Клиника обрабатывает персональные данные Владельца в целях надлежащего оказания услуг, разрешения возможных разногласий между Сторонами и информирования Владельца о различных мероприятиях, организуемых Клиникой.</li>
</ol>
<p>Клиника обязуется не разглашать полученную от Владельца информацию. При этом не считается нарушением обязательств разглашение информации в случае, когда обязанность такого раскрытия установлена требованиями действующего законодательства РФ.</p>
<ol>
<li aria-level="2">&nbsp;Любые извещения, уведомления, которые направляются в соответствии с настоящим Договором или в связи с ним, составляются в письменной форме и вручаются нарочным или отправляются почтовой, электронной связью или иным надежным способом телекоммуникации, соответствующей Стороне по адресам, указанным в настоящем Договоре. В случае неизвещения об изменении своих реквизитов Владельцем, Клиника, совершая отправления по устаревшим реквизитам, о чём она не была извещена, освобождается от ответственности за просрочку исполнения, извещения, оплаты, а соответствующее почтовое уведомление считается доставленным надлежащим образом.</li>
</ol>
<ol>
<li aria-level="2">&nbsp;При заключении настоящего договора Владелец подтверждает, что согласен на проведение фото, видео съемки животного и использование полученных материалов в средствах массовой информации, в научных, образовательных и просветительских целях.</li>
</ol>
<ol>
<li aria-level="2">&nbsp;Клиника вправе отправлять на адрес электронной почты или контактный телефоны Владельца информационные сообщения, содержащие как рекомендации для животного, так и рекламу услуг Клиники. Владелец вправе отказаться от получения такой информации без объяснения причин отказа путем информирования Клиники о своем отказе, путем направления соответствующего письменного заявления в Клинику по адресу:&hellip;&hellip;&hellip;&hellip;..</li>
</ol>
<p>Владелец вправе отозвать согласие на обработку персональных данных путем направления соответствующего письменного заявления в Клинику по адресу:&hellip;&hellip;&hellip;..&nbsp;</p>
<p><br /><br /></p>
<ol>
<li aria-level="1">РЕКВИЗИТЫ КЛИНИКИ</li>
</ol>
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell"><br />
<p><strong>Общество с ограниченной ответственностью &laquo;Новые ветеринарные технологии&raquo; (ООО &laquo;НьюВетТех&raquo;)&nbsp;</strong></p>
<p>ОГРН 5147746248326</p>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell">
<p>Адрес юридического лица: 115093, г. Москва, вн.тер.г. муниципальный округ Даниловский, ул. Большая Серпуховская, д. 62 к. 2</p>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell">
<p>Тел.: &hellip;&hellip;&hellip;&hellip;&hellip;</p>
</div>
</div>
</div>
</div>	
</div>