<% var data={ title: "О компании" }; %>
<%= _.template(require('../components/head.html').default)(data) %>

<body>
	<% var active={menu: "menuAbout" }; %>
	<%= _.template(require('../components/header.html').default)(active) %>

	<main class="main container">
		<div class="content">
			<%= _.template(require('../components/blocks/hero-actions.html').default)() %>

			<%= _.template(require('../components/blocks/headers/about-header.html').default)() %>
			
			<%= _.template(require('../components/blocks/block-about-intro.html').default)() %>

			<%= _.template(require('../components/swipers/swiper-clinics-map.html').default)() %>
		</div>
	</main>

	<%= _.template(require('../components/footer.html').default)() %>

	<%= _.template(require('../components/modals/modal-info.html').default)() %>
	<%= _.template(require('../components/modals/modal-contact-us.html').default)() %>

	<%= _.template(require('../components/body-background.html').default)() %>
	<%= sprite %>
</body>
</html>