<% var data={ title: "Клиника на Большой Серпуховской" }; %>
<%= _.template(require('../components/head.html').default)(data) %>

<body>
	<% var active={menu: ""}; %>
	<%= _.template(require('../components/header.html').default)(active) %>

	<main class="main container">
		<div class="content">
			<%= _.template(require('../components/blocks/hero-actions.html').default)() %>

			<%= _.template(require('../components/blocks/block-map-branch.html').default)() %>

			<%= _.template(require('../components/blocks/block-quote.html').default)() %>
<!--
			<%= _.template(require('../components/blocks/headers/our-clinics-branch-1-header.html').default)() %>
			<%= _.template(require('../components/swipers/swiper-hero-type-2.html').default)() %>
-->
			<%= _.template(require('../components/blocks/headers/specialties-header.html').default)() %>
			<%= _.template(require('../components/blocks/block-specialties-list.html').default)() %>

			<%= _.template(require('../components/swipers/swiper-hero-type-3.html').default)() %>

			<%= _.template(require('../components/blocks/headers/our-specialists-branch-header.html').default)() %>
			<%= _.template(require('../components/swipers/swiper-our-specialists-branch-1.html').default)() %>
		</div>
	</main>

	<%= _.template(require('../components/footer.html').default)() %>
	
	<%= _.template(require('../components/modals/modal-info.html').default)() %>
	<%= _.template(require('../components/modals/modal-contact-us.html').default)() %>

	<%= _.template(require('../components/body-background.html').default)() %>
	<%= sprite %>
</body>
</html>