<% var data={ title: "Врачи" }; %>
<%= _.template(require('../components/head.html').default)(data) %>

<body>
	<% var active={menu: "menuDoctors" }; %>
	<%= _.template(require('../components/header.html').default)(active) %>

	<main class="main container">
		<div class="content">
			<%= _.template(require('../components/blocks/hero-actions.html').default)() %>

			<%= _.template(require('../components/blocks/headers/doctors-header.html').default)() %>

			<%= _.template(require('../components/swipers/swiper-doctors-type-1.html').default)() %>

			<%= _.template(require('../components/blocks/block-doctors-list.html').default)() %>

			<%= _.template(require('../components/swipers/swiper-hero-type-3.html').default)() %>

			<%= _.template(require('../components/blocks/headers/health-stories-header.html').default)() %>
			<%= _.template(require('../components/swipers/swiper-health-stories.html').default)() %>

			<%= _.template(require('../components/blocks/headers/useful-info-header.html').default)() %>
			<%= _.template(require('../components/swipers/swiper-news.html').default)() %>

		</div>
	</main>

	<%= _.template(require('../components/footer.html').default)() %>

	<%= _.template(require('../components/modals/modal-info.html').default)() %>
	<%= _.template(require('../components/modals/modal-contact-us.html').default)() %>

	<%= _.template(require('../components/body-background.html').default)() %>
	<%= sprite %>
</body>
</html>