<% var data={ title: "Главная страница" }; %>
<%= _.template(require('../components/head.html').default)(data) %>

<body>
	<% var active={menu: ""}; %>
	<%= _.template(require('../components/header.html').default)(active) %>

	<main class="main container">
		<div class="content">
			<%= _.template(require('../components/blocks/headers/hero-header.html').default)() %>
			<%= _.template(require('../components/blocks/hero-actions.html').default)() %>

			<%= _.template(require('../components/swipers/swiper-mainpage-type-1.html').default)() %>

			<%= _.template(require('../components/blocks/block-team.html').default)() %>

			<%= _.template(require('../components/blocks/headers/our-advantages-header.html').default)() %>
			<%= _.template(require('../components/accordions/advantages.html').default)() %>

			<%= _.template(require('../components/blocks/headers/new-generation-header.html').default)() %>
			<%= _.template(require('../components/blocks/block-new-generation-info.html').default)() %>

			<%= _.template(require('../components/blocks/headers/specialties-header.html').default)() %>
			<%= _.template(require('../components/blocks/block-specialties-list.html').default)() %>

			<%= _.template(require('../components/blocks/headers/technologies-header.html').default)() %>
			<%= _.template(require('../components/blocks/block-technologies-tabs.html').default)() %>

			<%= _.template(require('../components/blocks/headers/our-clinics-header.html').default)() %>
			<%= _.template(require('../components/swipers/swiper-mainpage-type-2.html').default)() %>

			<%= _.template(require('../components/blocks/headers/special-offers-header.html').default)() %>
			<%= _.template(require('../components/swipers/swiper-special-offers.html').default)() %>

			<%= _.template(require('../components/blocks/headers/our-specialists-header.html').default)() %>
			<%= _.template(require('../components/swipers/swiper-our-specialists.html').default)() %>
		</div>
	</main>

	<%= _.template(require('../components/footer.html').default)() %>

	<%= _.template(require('../components/modals/modal-info.html').default)() %>
	<%= _.template(require('../components/modals/modal-form.html').default)() %>
	
	<%= _.template(require('../components/body-background.html').default)() %>
	<%= sprite %>
</body>
</html>