<% var data={ title: "Главная страница" }; %>
	<%= _.template(require('../components/head.html').default)(data) %>

		<body>

			<%= _.template(require('../components/header.html').default)() %>

				<main class="main container">
					<div class="content">
						<%= _.template(require('../components/blocks/hero-header.html').default)() %>
						<%= _.template(require('../components/blocks/hero-actions.html').default)() %>

						<%= _.template(require('../components/blocks/block-our-advantages.html').default)() %>

						<%= _.template(require('../components/blocks/block-new-generation.html').default)() %>

						<%= _.template(require('../components/blocks/block-tabs-activity.html').default)() %>

						<%= _.template(require('../components/blocks/block-our-clinics.html').default)() %>

						<%= _.template(require('../components/blocks/block-technologies.html').default)() %>

						<%= _.template(require('../components/blocks/block-special-offers.html').default)() %>

						<%= _.template(require('../components/blocks/block-our-specialists.html').default)() %>



						<%= _.template(require('../components/blocks/block-team.html').default)() %>

					</div>
				</main>

				<%= _.template(require('../components/body-background.html').default)() %>
					<%= _.template(require('../components/footer.html').default)() %>

						<%= sprite %>

		</body>
		</html>