<% var data={ title: "Публикация" }; %>
<%= _.template(require('../components/head.html').default)(data) %>

<body>
	<%= _.template(require('../components/header.html').default)() %>

	<main class="main container">
		<div class="content">
			<%= _.template(require('../components/blocks/hero-actions.html').default)() %>

			<%= _.template(require('../components/blocks/breadcrumb-news-card.html').default)() %>

			<%= _.template(require('../components/blocks/block-news-card.html').default)() %>

			<%= _.template(require('../components/blocks/headers/more-publications-header.html').default)() %>
			<%= _.template(require('../components/swipers/swiper-news.html').default)() %>

		</div>
	</main>

	<%= _.template(require('../components/footer.html').default)() %>

	<%= _.template(require('../components/modals/modal-info.html').default)() %>

	<%= _.template(require('../components/body-background.html').default)() %>
	<%= sprite %>
</body>
</html>